Repository openbao/openbao, pull requests merged in 2025-08, with the labels that each got.

#1627 Ensure lowercase policy in entities to forbid root policy
  changelog/1627.txt
  vault/identity_store_entities.go
  vault/identity_store_entities_test.go
  vault/identity_store_util.go
  vault/request_handling.go
Labels: bug, needs-backport, core/policies, identity, backport-2.3.x

#1631 Update critical dependencies
  Makefile
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Labels: dependencies, pr/no-changelog, needs-backport, go, backport-2.3.x

#1634 Disable audit mount creation via API + disable audit log prefixing
  builtin/logical/transit/path_keys_test.go
  changelog/1634.txt
  command/server/config.go
  command/server/config_test_helpers.go
  http/logical_test.go
  http/sys_audit_test.go
  http/sys_config_state_test.go
  http/sys_generate_root_test.go
  vault/core_test.go
  vault/logical_system.go
  vault/logical_system_test.go
  vault/testing.go
Labels: feature, needs-backport, backport-2.3.x

#1636 Add docs on new audit mount config options
  website/content/docs/audit/index.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/deprecation/index.mdx
Labels: docs, pr/no-changelog, needs-backport, backport-2.3.x

#1607 Add release of distribution source tarball
  .github/workflows/release.yml
  LICENSE_DEPENDENCIES.tpl
Labels: pr/no-changelog, needs-backport, release, backport-2.3.x

#1648 Update critical dependencies (#1631)
  Makefile
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Labels: dependencies, pr/no-changelog, go, backport-2.3.x

#1647 Fix timing leak in userpass auth method (#1628)
  builtin/credential/userpass/path_login.go
  builtin/credential/userpass/path_login_test.go
  changelog/1628.txt
Labels: bug, core/auth, backport-2.3.x

#1645 Fix TOTP engine verification reuse bypass (#1625)
  builtin/logical/totp/backend_test.go
  builtin/logical/totp/path_code.go
  changelog/1625.txt
  website/content/api-docs/secret/totp.mdx
Labels: bug, backport-2.3.x

#1644 Remove policyTypeMap from Policy Store (#1613)
  changelog/1613.txt
  vault/policy.go
  vault/policy_store.go
  vault/policy_store_test.go
  vault/request_handling.go
Labels: bug, core/namespaces, core/policies, backport-2.3.x

#1643 Add release of distribution source tarball (#1607)
  .github/workflows/release.yml
  LICENSE_DEPENDENCIES.tpl
Labels: pr/no-changelog, release, backport-2.3.x

#1642 Ignore missing mount during namespace deletion (#1594)
  changelog/1594.txt
  vault/core.go
  vault/mount.go
  vault/namespace_store.go
Labels: bug, core/namespaces, backport-2.3.x

#1654 Address login MFA TOTP reuse vulnerability (#1629)
  changelog/1629.txt
  vault/external_tests/identity/login_mfa_totp_test.go
  vault/login_mfa.go
Labels: bug, core/auth, backport-2.3.x

#1658 fix license dependencies generation to work with project go version (…
  .github/workflows/release.yml
  .gitignore
Labels: bug, dependencies, release, go, backport-2.3.x

#1632 Address login plugin lookahead contract failures
  builtin/credential/jwt/path_cel_login.go
  builtin/credential/jwt/path_cel_login_test.go
  builtin/credential/jwt/path_cel_role.go
  builtin/credential/ldap/backend_test.go
  builtin/credential/ldap/path_login.go
  builtin/credential/radius/path_login.go
  builtin/credential/userpass/path_login.go
  changelog/1632.txt
  vault/core.go
  vault/expiration_test.go
  vault/external_tests/userpass_binary/ip_token_binding_test.go
  vault/login_mfa.go
  vault/request_handling.go
Labels: bug, auth/jwt, core/auth, needs-backport, backport-2.3.x

#1659 Prepare for release 2.3.2
  CHANGELOG.md
  builtin/credential/jwt/path_cel_login.go
  builtin/credential/jwt/path_cel_login_test.go
  builtin/credential/jwt/path_cel_role.go
  builtin/credential/ldap/backend_test.go
  builtin/credential/ldap/path_login.go
  builtin/credential/radius/path_login.go
  builtin/credential/userpass/path_login.go
  changelog/1625.txt
  changelog/1627.txt
  changelog/1628.txt
  changelog/1629.txt
  changelog/1632.txt
  changelog/1634.txt
  vault/core.go
  vault/expiration_test.go
  vault/external_tests/userpass_binary/ip_token_binding_test.go
  vault/login_mfa.go
  vault/request_handling.go
Labels: bug, auth/jwt, core/auth, release, backport-2.3.x

#1652 change UI message for sealed to 'OpenBao'
  changelog/1652.txt
  ui/app/templates/vault/cluster/unseal.hbs
Labels: ui

#1662 Add release notes on v2.3.2
  CHANGELOG.md
  website/content/docs/release-notes/2-3-0.mdx
Labels: docs, pr/no-changelog, release

#1665 Fix missing v in 2.3.2 header
  website/content/docs/release-notes/2-0-0.mdx
  website/content/docs/release-notes/2-1-0.mdx
  website/content/docs/release-notes/2-2-0.mdx
  website/content/docs/release-notes/2-3-0.mdx
Labels: docs, pr/no-changelog

#1666 Always do git checkout in release-dist job
  .github/workflows/release.yml
Labels: pr/no-changelog, needs-backport, release, backport-2.3.x

#1667 Fix some ineffassign warnings
  sdk/helper/cidrutil/cidr_test.go
  sdk/helper/compressutil/compress_test.go
  sdk/helper/keysutil/encrypted_key_storage_test.go
  sdk/helper/testcluster/docker/environment.go
  vault/diagnose/helpers_test.go
  vault/external_tests/identity/entities_test.go
  vault/external_tests/plugin/external_plugin_test.go
  vault/external_tests/userpass_binary/ip_token_binding_test.go
  vault/generate_root_test.go
  vault/identity_store_oidc_provider_test.go
  vault/logical_system_namespaces_test.go
  vault/plugin_reload.go
  vault/seal_autoseal_test.go
  vault/token_store.go
Labels: pr/no-changelog, refactor

#1679 Upgrade "github.com/docker/docker" dependency to v28
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Labels: dependencies, pr/no-changelog

#1680 use "bit clear" to simplify executable bit strip
  builtin/audit/file/backend.go
Labels: pr/no-changelog, refactor, core/audit

#1583 Add External Keys registry & API endpoints
  command/server/config.go
  command/server/config_test_helpers.go
  vault/core.go
  vault/external_key_registry.go
  vault/external_key_registry_test.go
  vault/logical_system.go
  vault/logical_system_external_keys.go
Labels: feature, core/external-keys

#1696 Fix bug in tidy leading to infinite loop
  builtin/logical/pki/path_tidy.go
  changelog/1696.txt
  sdk/logical/storage.go
  sdk/logical/storage_test.go
  vault/namespace_store.go
Labels: bug, secrets/pki, needs-backport, core/namespaces, backport-2.3.x

#1686 Cleanup dependencies
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/client.go
  api/go.mod
  api/go.sum
  builtin/logical/ssh/path_config_ca.go
  command/base.go
  command/base_helpers.go
  command/operator_migrate.go
  command/server.go
  command/ssh.go
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Labels: dependencies, pr/no-changelog, go

#1699 remove duplicated import of helper/cel
  builtin/logical/pki/path_issue_sign.go
Labels: pr/no-changelog, go, cel

#1357 RFC - Per-namespace sealing
  website/content/docs/rfcs/index.mdx
  website/content/docs/rfcs/namespace-sealing.mdx
  website/docusaurus.config.ts
  website/sidebars.ts
Labels: rfc, pr/no-changelog, core/seal, core/namespaces

#1700 Add declarative audit device creation mechanism
  changelog/1700.txt
  command/server.go
  command/server/config.go
  command/server_test.go
  helper/profiles/config.go
  helper/profiles/config_test.go
  vault/audit.go
  vault/core.go
  vault/logical_system.go
  vault/mount.go
  website/content/docs/concepts/profiles.mdx
  website/content/docs/configuration/audit.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/self-init.mdx
  website/content/docs/rfcs/config-audit-devices.mdx
  website/content/docs/rfcs/index.mdx
  website/sidebars.ts
Labels: feature, rfc, core/audit

#1710 Skip OIDC periodic test
  vault/identity_store_oidc_test.go
Labels: pr/no-changelog, test-only

#1711 Fix creation of nested namespaces in self-init
  command/server.go
Labels: bug, pr/no-changelog, command, core/namespaces, profile

#1716 Correctly notate that sys/step-down is audited
  website/content/docs/audit/index.mdx
Labels: bug, docs, pr/no-changelog

#1730 Revert sys/health status code changes
  api/sys_health.go
  changelog/1730.txt
Labels: bug, client/api, compatibility

#1737 Don't mirror from forks
  .github/workflows/mirror.yml
Labels: pr/no-changelog, test-only

#1715 Fix nil panic with unsafe_cross_namespace_identity
  changelog/1715.txt
  vault/core_metrics_test.go
  vault/identity_store_aliases_test.go
  vault/identity_store_entities_test.go
  vault/identity_store_test.go
  vault/identity_store_util.go
Labels: bug, core/namespaces, identity

#1740 Expand audit error message to reference config-based devices
  vault/logical_system.go
Labels: pr/no-changelog, do-not-backport, core/audit

#1742 Bump critical & go-kms-wrapping
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/jwt/go.mod
  api/auth/jwt/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  tools/go.mod
  tools/go.sum
Labels: dependencies, pr/no-changelog, release, go

#1744 Release v2.4.0 GA
  CHANGELOG.md
  changelog/1744.txt
  go.mod
  website/content/docs/release-notes/2-4-0.mdx
  website/content/docs/release-notes/index.mdx
  website/sidebars.ts
Labels: docs, pr/no-changelog, release

#1747 fix: bao instead of boa (typo)
  api/env_test.go
Labels: pr/no-changelog, test-only
