Repository openbao/openbao, pull requests merged in 2025-01, with the labels that each got.

#867 Bump up prometheus version and update depreciated in metricsutil vault#26792
  go.mod
  go.sum
  helper/metricsutil/metricsutil.go
  sdk/go.mod
  sdk/go.sum
Labels: dependencies, pr/no-changelog

#877 Nit: Put not_before in bullet point format.
  website/content/api-docs/secret/pki.mdx
Labels: bug, docs, pr/no-changelog, secrets/pki

#881 Further docs cleanup
  website/content/docs/secrets/pki/troubleshooting-acme.mdx
Labels: bug, docs, pr/no-changelog

#882 Add DrDaveD, fatima2003 to MAINTAINERS.md
  .github/workflows/verify-commits.yml
  MAINTAINERS.md
Labels: docs, pr/no-changelog

#886 Fix getting started guide
  website/content/docs/get-started/developer-qs.mdx
Labels: bug, docs, pr/no-changelog

#750 Clean up legacy keyring code
  changelog/750.txt
  command/server.go
  http/sys_init.go
  http/sys_rekey.go
  vault/barrier.go
  vault/barrier_aes_gcm.go
  vault/barrier_aes_gcm_test.go
  vault/barrier_test.go
  vault/core.go
  vault/external_tests/api/sys_rekey_ext_test.go
  vault/external_tests/raft/raft_test.go
  vault/external_tests/sealmigration/testshared.go
  vault/generate_root_test.go
  vault/ha.go
  vault/init.go
  vault/keyring.go
  vault/keyring_test.go
  vault/rekey.go
  vault/rekey_test.go
  vault/seal.go
  vault/seal_autoseal.go
  vault/seal_testing.go
  vault/seal_testing_util.go
  vault/testing.go
  website/content/api-docs/system/rekey.mdx
Labels: core/seal

#892 Fix expired cert auth test-fixture
  builtin/credential/cert/test-fixtures/keys/cert.pem
  builtin/credential/cert/test-fixtures/keys/key.pem
  builtin/credential/cert/test-fixtures/keys/pkioutput
Labels: bug, pr/no-changelog, needs-backport, auth/cert, backport-2.1.x

#897 Add blog post on FOSDEM, SOOC
  website/content/blog/2025-01-16-fosdem.md
  website/public/img/SOOC-OpenBao-New-Year.png
  website/public/img/bao-mascot.jpg
Labels: pr/no-changelog, blog

#910 Nit: fix indentation for basic_constraints_valid_for_non_ca
  website/content/api-docs/secret/pki.mdx
Labels: bug, docs, pr/no-changelog, secrets/pki

#911 Attempt to add reusable components to dependabot
  .github/dependabot.yml
Labels: bug, dependencies, pr/no-changelog

#894 Update to gopsutil v4
  go.mod
  go.sum
  helper/hostutil/hostinfo.go
  physical/raft/bolt_linux.go
  vault/diagnose/os_common.go
Labels: dependencies, pr/no-changelog, go

#912 Bump to latest Go 1.23.5 version
  .go-version
  changelog/912.txt
Labels: dependencies, needs-backport, go, backport-2.1.x

#893 Bump extended standard library dependencies
  api/auth/approle/go.sum
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.sum
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Labels: dependencies, pr/no-changelog, needs-backport, go, backport-2.1.x

#927 Bump extended standard library dependencies
  api/auth/approle/go.sum
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.sum
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Labels: dependencies, pr/no-changelog, go, backport-2.1.x

#928 Bump alpine from 3.20 to 3.21 (#831)
  Dockerfile
Labels: bug, dependencies, pr/no-changelog, docker, backport-2.1.x

#929 Bump to latest Go 1.23.5 version (#912)
  .go-version
  changelog/912.txt
Labels: dependencies, go, backport-2.1.x

#930 Fix expired cert auth test-fixture (#892)
  builtin/credential/cert/test-fixtures/keys/cert.pem
  builtin/credential/cert/test-fixtures/keys/key.pem
  builtin/credential/cert/test-fixtures/keys/pkioutput
Labels: bug, pr/no-changelog, auth/cert, backport-2.1.x

#931 Update all keys and certs to TTL 100 years (#793)
  api/test-fixtures/keys/cert.pem
  api/test-fixtures/keys/key.pem
  api/test-fixtures/root/rootcacert.pem
  api/test-fixtures/root/rootcakey.pem
  vault/diagnose/test-fixtures/goodcertbadroot.pem
  vault/diagnose/test-fixtures/goodcertwithroot.pem
  vault/diagnose/test-fixtures/goodkey.pem
  vault/diagnose/tls_verification_test.go
Labels: bug, pr/no-changelog, test-only, backport-2.1.x

#932 Add changelog for v2.1.1
  CHANGELOG.md
Labels: pr/no-changelog, release

#933 Add changelog and release notes for v2.1.1
  CHANGELOG.md
  website/content/docs/release-notes/2-1-0.mdx
Labels: docs, pr/no-changelog, release

#935 Ensure pki health-check errs on non-pki mounts
  api/sys_mounts.go
  changelog/935.txt
  command/healthcheck/healthcheck.go
  command/pki_health_check.go
  command/pki_health_check_test.go
Labels: bug, secrets/pki, needs-backport

#937 Fix noisy warn in Raft key rotation
  changelog/937.txt
  physical/raft/raft_autopilot.go
  vault/raft.go
Labels: bug, core/storage, needs-backport

#938 Update Docs
  website/content/api-docs/system/leader.mdx
  website/content/docs/auth/approle.mdx
  website/content/docs/auth/kubernetes.mdx
  website/content/docs/browser-support.mdx
  website/content/docs/commands/operator/raft.mdx
  website/content/docs/concepts/auth.mdx
  website/content/docs/concepts/ha.mdx
  website/content/docs/concepts/integrated-storage/autopilot.mdx
  website/content/docs/concepts/integrated-storage/index.mdx
  website/content/docs/concepts/mount-migration.mdx
  website/content/docs/concepts/oidc-provider.mdx
  website/content/docs/concepts/password-policies.mdx
  website/content/docs/concepts/pgp-gpg-keybase.mdx
  website/content/docs/concepts/policies.mdx
  website/content/docs/concepts/recovery-mode.mdx
  website/content/docs/concepts/response-wrapping.mdx
  website/content/docs/concepts/seal.mdx
  website/content/docs/concepts/storage.mdx
  website/content/docs/concepts/tokens.mdx
  website/content/docs/concepts/user-lockout.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/storage/index.mdx
  website/content/docs/configuration/storage/postgresql.mdx
  website/content/docs/configuration/storage/raft.mdx
  website/content/docs/internals/high-availability.mdx
  website/content/docs/internals/integrated-storage.mdx
  website/content/docs/internals/limits.mdx
  website/content/docs/internals/security.mdx
  website/content/docs/internals/telemetry/metrics/raft.mdx
  website/content/docs/internals/telemetry/metrics/storage.mdx
  website/content/docs/platform/k8s/helm/examples/ha-with-raft.mdx
  website/content/docs/platform/k8s/helm/openshift.mdx
  website/content/docs/platform/k8s/helm/run.mdx
  website/content/docs/platform/k8s/helm/terraform.mdx
  website/content/docs/rfcs/transactions.mdx
  website/content/docs/secrets/databases/custom.mdx
Labels: bug, docs, pr/no-changelog

#939 Add initial CODEOWNERS file
  CODEOWNERS
Labels: docs, pr/no-changelog

#941 Add warning to compiling from source guide
  website/content/docs/contributing/packaging.mdx
  website/content/docs/install.mdx
  website/sidebars.ts
Labels: docs, pr/no-changelog, packaging/container, packaging/rpm

#942 Add explicit hsm build tag
  internalshared/configutil/no_pkcs11.go
  internalshared/configutil/pkcs11.go
Labels: bug, pr/no-changelog, core/seal

#940 Add UI to release workflow
  .github/workflows/release.yml
  .goreleaser-template.yaml
  changelog/940.txt
Labels: ui, release

#953 Fix date of FOSDEM talk
  website/content/blog/2025-01-16-fosdem.md
Labels: docs, pr/no-changelog, blog
