Repository openbao/openbao, pull requests merged in 2025-10, with the labels that each got.

#1707 Per-Namespace-Sealing: Remove barrierByStoragePath
  vault/logical_raw.go
  vault/logical_system_rotate.go
  vault/namespace_store.go
  vault/rotate.go
  vault/seal.go
  vault/seal_autoseal.go
  vault/seal_manager.go
Labels: core/seal, refactor, core/namespaces

#1877 Fix UI tests following #1732
  ui/app/models/oidc/provider.js
Labels: pr/no-changelog, ui, test-only

#1709 Add http audit method
  builtin/audit/http/backend.go
  builtin/audit/http/backend_test.go
  builtin/audit/http/testing.go
  changelog/1709.txt
  command/audit_enable_test.go
  command/commands.go
  website/content/docs/audit/file.mdx
  website/content/docs/audit/http.mdx
  website/content/docs/audit/socket.mdx
  website/sidebars.ts
Labels: feature, core/audit

#1861 Delay updates for dependencies to counter supply chain attacks
  .github/dependabot.yml
Labels: pending decision, dependencies, pr/no-changelog

#1900 Fix incorrect references of `-plugin-version` arg in the documentation
  command/plugin_info.go
  website/content/docs/commands/auth/enable.mdx
  website/content/docs/commands/plugin/info.mdx
  website/content/docs/commands/plugin/register.mdx
Labels: docs, pr/no-changelog, command

#1892 Add blogpost about Mentorship Program
  website/content/blog/2025-09-23-mentorship-program.md
Labels: pr/no-changelog
