Repository openbao/openbao, pull requests merged in 2025-09, with the labels that each got.

#1735 Add wrap-up blog post for OSS-EU 2025
  website/content/blog/2025-08-28-openbao-oss-europe-2025-wrap.md
  website/public/img/openbao-osseu-2025.jpg
Labels: pr/no-changelog, blog

#1767 Fix website/README.md not following own best practices
  website/README.md
Labels: docs, pr/no-changelog

#1761 Automatically seal newly created sealable namespaces
  vault/generate_root_test.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_rotate_test.go
  vault/logical_system_namespaces_seals_test.go
  vault/namespace_store.go
  vault/seal_manager.go
  vault/seal_test.go
  vault/storage_access.go
  vault/testing.go
Labels: feature, core/seal, core/namespaces

#1758 Add guide on PKCS#11 Auto-Unseal with Utimaco HSMs
  website/content/docs/configuration/seal/pkcs11.mdx
  website/content/docs/guides/unseal/pkcs11/utimaco.mdx
  website/sidebars.ts
Labels: docs, pr/no-changelog

#1770 fix(docs): remove space to render warning box correctly
  website/content/docs/configuration/listener/tcp.mdx
Labels: docs, pr/no-changelog

#1753 Fix persistence of tokens created through LoginMFA
  changelog/1753.txt
  vault/external_tests/identity/login_mfa_totp_test.go
  vault/login_mfa.go
  vault/request_handling.go
Labels: bug, core/auth, needs-backport, backport-2.4.x

#1762 Remove dependency on bitnami/cassandra container image
  plugins/database/cassandra/connection_producer_test.go
  plugins/database/cassandra/test-fixtures/with_tls/cassandra.yaml
Labels: pr/no-changelog, test-only

#1777 Replace go-cache with zcache
  builtin/credential/jwt/backend.go
  builtin/credential/jwt/path_oidc.go
  builtin/logical/totp/backend.go
  builtin/logical/totp/path_code.go
  command/agentproxyshared/cache/lease_cache.go
  go.mod
  go.sum
  vault/core.go
  vault/external_tests/identity/login_mfa_totp_test.go
  vault/identity_store.go
  vault/identity_store_oidc.go
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_test.go
  vault/login_mfa.go
  vault/request_forwarding_rpc.go
Labels: bug, dependencies, pr/no-changelog, refactor, go, tech-debt

#1776 Fix login renewal with CEL
  builtin/credential/jwt/path_cel_login.go
  builtin/credential/jwt/path_login.go
  changelog/1776.txt
Labels: bug, auth/jwt, needs-backport, cel, backport-2.4.x

#1743 Fix bump-critical-deps & tidy-all
  Makefile
  scripts/sync-deps-gkw.sh
  scripts/sync-deps.sh
Labels: pr/no-changelog, test-only

#1792 [Per-NS-Sealing] Seal Manager lifecycle adjustment
  vault/core.go
  vault/expiration.go
  vault/expiration_test.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_rotate.go
  vault/logical_system_namespaces_rotate_test.go
  vault/logical_system_rotate.go
  vault/mount.go
  vault/namespace_store.go
  vault/namespaces_oss.go
  vault/rotate.go
  vault/seal.go
  vault/seal_autoseal.go
  vault/seal_manager.go
Labels: core/seal, go, core/namespaces

#1553 add RFC for enabling Standby Nodes handle READ Requests
  website/content/docs/rfcs/index.mdx
  website/content/docs/rfcs/standby-nodes-handle-read-requests.mdx
  website/sidebars.ts
Labels: docs, rfc, pr/no-changelog

#1757 Add RFC on OpenTelemetry
  website/content/docs/rfcs/index.mdx
  website/content/docs/rfcs/opentelemetry.mdx
  website/sidebars.ts
Labels: docs, rfc, pr/no-changelog

#1846 Fix missing pipe character in table column
  website/content/api-docs/auth/approle.mdx
Labels: docs, pr/no-changelog

#1851 website: fix warning/note/danger indentations
  website/content/api-docs/secret/pki.mdx
  website/content/api-docs/secret/ssh.mdx
  website/content/api-docs/secret/transit.mdx
  website/content/api-docs/system/auth.mdx
  website/content/api-docs/system/mounts.mdx
  website/content/api-docs/system/storage/raft.mdx
  website/content/api-docs/system/tools.mdx
  website/content/docs/agent-and-proxy/agent/index.mdx
  website/content/docs/agent-and-proxy/proxy/index.mdx
  website/content/docs/audit/file.mdx
  website/content/docs/audit/index.mdx
  website/content/docs/auth/approle.mdx
  website/content/docs/auth/jwt/oidc-providers/kubernetes.mdx
  website/content/docs/auth/kubernetes.mdx
  website/content/docs/auth/ldap.mdx
  website/content/docs/auth/login-mfa/faq.mdx
  website/content/docs/commands/operator/raft.mdx
  website/content/docs/commands/pki/reissue.mdx
  website/content/docs/commands/secrets/enable.mdx
  website/content/docs/concepts/policies.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/configuration/listener/unix.mdx
  website/content/docs/configuration/seal/pkcs11.mdx
  website/content/docs/platform/k8s/injector/annotations.mdx
  website/content/docs/secrets/databases/index.mdx
  website/content/docs/secrets/index.mdx
  website/content/docs/secrets/kubernetes.mdx
  website/content/docs/secrets/transit/index.mdx
  website/content/docs/upgrading/ha-upgrade.mdx
Labels: docs, pr/no-changelog

#1866 Refactor logical.CodedError to handle variable arguments
  sdk/logical/error.go
  vault/auth.go
  vault/logical_system.go
  vault/logical_system_rotate.go
  vault/mount.go
  vault/rekey.go
  vault/rotate.go
Labels: pr/no-changelog, refactor, tech-debt

#1795 Drop github.com/natefinch/atomic
  command/token/helper_internal.go
  go.mod
  go.sum
Labels: dependencies, pr/no-changelog, windows, refactor, go, tech-debt

#1872 KV engine returns timestamp strings in RFC3339Nano format
  builtin/logical/kv/backend.go
  changelog/1872.txt
Labels: bug, secrets/kv, go

#1873 Identity subsystem returns timestamp strings in RFC3339Nano format
  changelog/1873.txt
  helper/identity/sentinel.go
  vault/identity_store_aliases.go
  vault/identity_store_entities.go
  vault/identity_store_groups.go
Labels: bug, needs-backport, go, identity, backport-2.4.x
