Repository openbao/openbao, pull requests merged in 2025-05, with the labels that each got.

#1288 Minor cleanup of the rekey webpage
  website/content/docs/commands/operator/rekey.mdx
Labels: bug, docs, pr/no-changelog

#1289 Document coverage of OSPS requirement OSPS-QA-01.01
  website/content/docs/policies/osps-baseline.mdx
Labels: docs, pr/no-changelog, baseline, wg/supply

#1285 Affirm Level 1: OSPS-GV-03.01
  website/content/docs/policies/osps-baseline.mdx
Labels: docs, pr/no-changelog, baseline, wg/supply

#1286 Affirm Level 1: OSPS-DO-01.01
  website/content/docs/policies/osps-baseline.mdx
Labels: docs, pr/no-changelog, baseline, wg/supply

#1296 Delete namespace-level quota on namespace deletion
  vault/namespaces_store.go
  vault/quotas/quotas.go
  vault/quotas/quotas_test.go
Labels: bug, core/namespaces

#1297 Allow empty PostgreSQL connection URLs
  changelog/1297.txt
  physical/postgresql/postgresql.go
  physical/postgresql/postgresql_test.go
  website/content/docs/configuration/storage/postgresql.mdx
Labels: feature

#1273 Affirm Level 1: OSPS-VM-02.01
  website/content/docs/policies/osps-baseline.mdx
Labels: docs, pr/no-changelog, baseline, wg/supply

#1287 Affirm Level 1: OSPS-LE-02.01
  website/content/docs/policies/osps-baseline.mdx
Labels: docs, pr/no-changelog, baseline, wg/supply

#1267 Add CEL best practices RFC
  website/content/docs/rfcs/cel-best-practices.mdx
  website/content/docs/rfcs/index.mdx
  website/sidebars.ts
Labels: docs, pr/no-changelog

#869 CEL auth program evaluation during JWT login
  api/auth/approle/go.sum
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.sum
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  builtin/credential/jwt/backend.go
  builtin/credential/jwt/path_cel_login.go
  builtin/credential/jwt/path_cel_login_test.go
  builtin/credential/jwt/path_cel_role.go
  builtin/credential/jwt/path_cel_role_test.go
  builtin/logical/pki/path_roles.go
  changelog/869.txt
  go.mod
  go.sum
  sdk/framework/field_data.go
  sdk/go.mod
  sdk/go.sum
  sdk/helper/cel/program.go
  sdk/logical/token.go
  sdk/plugin/pb/translation.go
Labels: feature, auth/jwt

#1310 Fix incorrect conversion between integer types (on <64 bit systems)
  api/client.go
  command/base.go
  command/base_flags.go
  command/base_flags_test.go
Labels: bug, pr/no-changelog

#1307 Describe coverage of OSPS requirement OSPS-QA-01.02
  website/content/docs/policies/osps-baseline.mdx
Labels: docs, pr/no-changelog, baseline, wg/supply

#1312 Add JWT CEL Role RFC
  website/content/docs/rfcs/cel-jwt.mdx
  website/content/docs/rfcs/index.mdx
Labels: docs, rfc, pr/no-changelog

#1315 Fix marshaling and setting nil request body
  api/logical.go
  api/request.go
  changelog/1315.txt
Labels: bug, client/api

#1317 Hierarchical namespace storage
  http/handler_test.go
  http/logical_test.go
  vault/counters.go
  vault/dynamic_system_view_test.go
  vault/expiration_test.go
  vault/namespaces_store.go
  vault/namespaces_store_test.go
  vault/namespaces_store_tree.go
  vault/testing.go
  vault/token_store.go
  vault/token_store_test.go
Labels: bug, core/namespaces

#1259 Fix `/sys/remount` across namespaces
  vault/auth.go
  vault/auth_test.go
  vault/logical_system.go
  vault/logical_system_namespaces_test.go
  vault/mount.go
  vault/mount_test.go
  vault/router.go
  vault/router_test.go
  vault/testing.go
Labels: core/namespaces

#1306 Allow lazy discovery of OIDC connection information
  builtin/credential/jwt/path_config.go
  builtin/credential/jwt/path_config_test.go
  changelog/1306.txt
  website/content/api-docs/auth/jwt.mdx
Labels: feature, auth/jwt, roadmap:scalability

#1280 Support retrying PostgreSQL connection
  changelog/1280.txt
  helper/testhelpers/postgresql/postgresqlhelper.go
  physical/postgresql/postgresql.go
  physical/postgresql/postgresql_test.go
  website/content/docs/configuration/storage/postgresql.mdx
Labels: feature, core/storage

#1234 Fix deadlock on legacy root key path migration
  vault/barrier_aes_gcm.go
  vault/barrier_aes_gcm_test.go
Labels: bug, pr/no-changelog, blocker

#1299 PostgreSQL - Remove redundant PermitPool
  changelog/1299.txt
  physical/postgresql/postgresql.go
  physical/postgresql/postgresql_test.go
Labels: bug, core/storage

#1323 Prevent information disclosure on invalid request
  changelog/1323.txt
  sdk/framework/field_data.go
  sdk/framework/field_data_test.go
Labels: bug, blocker, needs-backport, backport-2.2.x

#1324 Bump to Go 1.24.3
  .go-version
  go.mod
Labels: bug, needs-backport, backport-2.2.x

#1318 Bump dependencies
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  builtin/logical/database/backend_test.go
  builtin/logical/database/rotation_test.go
  go.mod
  go.sum
  physical/postgresql/postgresql.go
  physical/postgresql/postgresql_test.go
  physical/postgresql/testing.go
  plugins/database/postgresql/postgresql.go
  sdk/database/dbplugin/databasemiddleware.go
  sdk/database/dbplugin/v5/middleware.go
  sdk/go.mod
  sdk/go.sum
  vault/external_tests/plugin/external_plugin_test.go
Labels: dependencies, pr/no-changelog, go

#1338 Add JSON configuration example to website
  website/content/docs/configuration/index.mdx
Labels: docs, feature, pr/no-changelog

#1344 Fix various minor docs formatting issues
  website/content/docs/audit/index.mdx
  website/content/docs/concepts/auth.mdx
Labels: docs, pr/no-changelog

#1337 Better document configuration directories
  website/content/docs/commands/server.mdx
  website/content/docs/configuration/index.mdx
Labels: bug, docs, pr/no-changelog

#1349 Release note on PKCS#11 library finalization (see go-kms-wrapping)
  changelog/1349.txt
Labels: docs, core/seal

#1351 Renew `goodcertbadroot.pem`
  vault/diagnose/test-fixtures/goodcertbadroot.pem
Labels: bug, pr/no-changelog, test-only, backport-2.2.x

#1346 Display seal configuration info keys in logs
  changelog/1346.txt
  command/operator_diagnose.go
  command/server.go
  internalshared/configutil/pkcs11.go
Labels: bug, core/seal

#1224 Detailed metadata in policy endpoint
  changelog/1224.txt
  vault/logical_system.go
  vault/logical_system_paths.go
  vault/logical_system_test.go
Labels: feature, core/policies

#1348 MFA Login namespace adjustments
  changelog/1348.txt
  vault/core.go
  vault/core_metrics.go
  vault/core_test.go
  vault/core_util.go
  vault/counters.go
  vault/logical_system.go
  vault/logical_system_user_lockout.go
  vault/login_mfa.go
  vault/namespaces_store.go
  vault/request_handling.go
  vault/token_store.go
Labels: bug, core/namespaces

#1353 add hsm docker distribution to downloads page
  website/src/pages/downloads.tsx
Labels: docs, pr/no-changelog

#1359 Describe how user access and roles are managed to cover OSPS-AC-02.01
  website/content/docs/policies/osps-baseline.mdx
Labels: docs, pr/no-changelog, baseline, wg/supply

#1370 Update to go-kms-wrapping/v2.4.0
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Labels: dependencies, pr/no-changelog, release, go

#1371 Changelog for v2.3.0-beta20250528
  CHANGELOG.md
  Makefile
  changelog/1165.txt
  changelog/1172.txt
  changelog/1347.txt
  changelog/1348.txt
  go.mod
  website/content/docs/release-notes/2-3-0.mdx
  website/sidebars.ts
Labels: docs, pr/no-changelog, release

#1352 Add ns announcement post
  website/content/blog/2025-05-30-namespaces-announcement.md
  website/content/blog/authors.yml
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
Labels: pr/no-changelog
