Repository openbao/openbao, pull requests merged in 2025-07, with the labels that each got.

#1512 Add RFC on requiring authenticated rekeys
  website/content/docs/rfcs/authenticated-rekey.mdx
  website/content/docs/rfcs/index.mdx
  website/sidebars.ts
Labels: docs, rfc, pr/no-changelog

#1341 Add RFC on declarative self-initialization
  website/content/docs/rfcs/index.mdx
  website/content/docs/rfcs/self-init.mdx
  website/sidebars.ts
Labels: docs, feature, rfc, pr/no-changelog

#1522 External Keys: Parse configuration stanzas
  command/server.go
  command/server/config.go
  command/server/config_test.go
  command/server/config_test_helpers.go
  command/server/config_test_helpers_util.go
  vault/core.go
Labels: core/external-keys

#1527 Fix typo in dev mode
  changelog/1527.txt
  command/server.go
Labels: bug, windows, command

#1534 Remove godoc checker tool
  go.mod
  go.sum
  tools/codechecker/main.go
  tools/codechecker/pkg/godoctests/analyzer.go
  tools/codechecker/pkg/godoctests/analyzer_test.go
  tools/codechecker/pkg/godoctests/testdata/funcs.go
  tools/tools.go
  website/content/docs/release-notes/2-2-0.mdx
Labels: docs, dependencies, pr/no-changelog, test-only

#1523 Fix potential problems found by staticcheck/gopls
  builtin/credential/approle/path_role_test.go
  builtin/credential/cert/path_crls_test.go
  builtin/logical/database/mockv4.go
  builtin/logical/database/rotation_test.go
  builtin/logical/pki/acme_authorizations.go
  builtin/logical/pki/acme_state_test.go
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/ca_test.go
  builtin/logical/pki/util.go
  builtin/logical/ssh/backend_test.go
  builtin/logical/transit/path_decrypt_test.go
  changelog/1523.txt
  command/agentproxyshared/cache/cacheboltdb/bolt.go
  command/debug_test.go
  helper/fairshare/jobmanager_test.go
  http/handler.go
  physical/postgresql/postgresql_test.go
  physical/raft/snapshot_test.go
  plugins/database/mysql/mysql_test.go
  sdk/helper/ldaputil/client.go
  sdk/helper/ocsp/client.go
  sdk/helper/stepwise/stepwise.go
  sdk/logical/request.go
  sdk/physical/physical.go
  serviceregistration/kubernetes/client/client.go
  vault/audit.go
  vault/core_metrics.go
  vault/external_tests/plugin/external_plugin_test.go
  vault/identity_store_entities.go
  vault/identity_store_util.go
  vault/logical_system.go
  vault/logical_system_raft.go
  vault/login_mfa.go
  vault/plugin_reload.go
  vault/raft.go
  vault/request_handling.go
  vault/router_test.go
  vault/token_store.go
  vault/ui.go
Labels: refactor

#1535 doc: fix the number of kubernetes integration
  website/content/docs/platform/k8s/index.mdx
Labels: docs, pr/no-changelog

#1542 Add Geoffrey Wilson to core committers
  MAINTAINERS.md
Labels: docs, pr/no-changelog, governance

#1526 api/auth/jwt: initial implementation of JWT Auth Method
  api/auth/jwt/go.mod
  api/auth/jwt/go.sum
  api/auth/jwt/jwt.go
  changelog/1526.txt
Labels: feature, auth/jwt

#1538 Namespace Store: Reuse locks across calls & fix missing locks
  vault/namespace_store.go
Labels: pr/no-changelog, core/namespaces

#1431 CEL for PKI API Docs
  website/content/api-docs/secret/pki.mdx
Labels: docs, pr/no-changelog, secrets/pki, cel

#1320 Add RFC on External Keys
  website/content/docs/rfcs/external-keys.mdx
  website/content/docs/rfcs/index.mdx
  website/sidebars.ts
Labels: rfc, pr/no-changelog, secrets/pki, secrets/transit, secrets/ssh, identity

#1518 Add authenticated Rekey endpoints
  api/plugin_helpers.go
  api/sys_rekey.go
  api/sys_rotate.go
  changelog/1518.txt
  command/operator_init_test.go
  http/handler.go
  http/sys_init_test.go
  vault/core.go
  vault/external_tests/api/sys_rekey_ext_test.go
  vault/init.go
  vault/init_test.go
  vault/logical_system.go
  vault/logical_system_paths.go
  vault/logical_system_rotate.go
  vault/logical_system_test.go
  vault/rekey.go
  vault/rekey_test.go
  vault/request_handling.go
  vault/rotate.go
  vault/rotate_test.go
  vault/seal.go
  vault/seal_autoseal.go
  website/content/api-docs/system/rotate-config.mdx
Labels: feature, core/seal, client/api, server

#1544 Integrate golangci-lint into github workflow
  .github/workflows/code-checker.yml
  .gitignore
  .golangci.deprecations.yml
  .golangci.fmt.yml
  .golangci.yml
  Makefile
  api/auth/approle/go.sum
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.sum
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  scripts/deprecations-checker.sh
  sdk/go.mod
  sdk/go.sum
  tools/codechecker/main.go
  tools/codechecker/pkg/gonilnilfunctions/analyzer.go
  tools/codechecker/pkg/gonilnilfunctions/analyzer_test.go
  tools/codechecker/pkg/gonilnilfunctions/testdata/funcs.go
  tools/go.mod
  tools/go.sum
  tools/tools.go
Labels: pr/no-changelog, github_actions

#1572 Add Jonas Köhnen and Andrii Fedorchuk as new Dev WG voting members
  CONTRIBUTING.md
Labels: docs, pr/no-changelog, governance

#1581 Update run.mdx: HELM now exposes the web ui
  website/content/docs/platform/k8s/helm/run.mdx
Labels: docs, pr/no-changelog, k8s

#1585 docs(guides): Securosys PrimusHSM using PKCS#11
  website/content/docs/configuration/seal/pkcs11.mdx
  website/content/docs/guides/unseal/pkcs11/securosys.mdx
  website/sidebars.ts
Labels: docs, pr/no-changelog

#1586 docs(pkcs11): add AES key generation example
  website/content/docs/configuration/seal/pkcs11.mdx
Labels: docs, pr/no-changelog

#1590 Move inline auth to Client from Logical
  api/client.go
  api/logical.go
  vault/external_tests/api/secret_test.go
Labels: bug, pr/no-changelog, client/api

#1454 Add job which checks protobuf files
  .github/workflows/code-checker.yml
  sdk/database/dbplugin/database_grpc.pb.go
  sdk/database/dbplugin/v5/proto/database_grpc.pb.go
  sdk/helper/pluginutil/multiplexing_grpc.pb.go
  sdk/logical/version_grpc.pb.go
  sdk/plugin/pb/backend_grpc.pb.go
  vault/request_forwarding_service_grpc.pb.go
Labels: pr/no-changelog, test-only

#1602 Prune unused repo-level files from internalized plugins
  builtin/credential/jwt/.github/PULL_REQUEST_TEMPLATE.md
  builtin/credential/jwt/.github/workflows/actionlint.yaml
  builtin/credential/jwt/.github/workflows/bulk-dep-upgrades.yaml
  builtin/credential/jwt/.github/workflows/go-checks.yaml
  builtin/credential/jwt/.github/workflows/jira.yaml
  builtin/credential/jwt/.github/workflows/tests.yaml
  builtin/credential/jwt/.gitignore
  builtin/credential/jwt/.go-version
  builtin/credential/jwt/CHANGELOG.md
  builtin/credential/jwt/LICENSE
  builtin/credential/kerberos/.github/workflows/actionlint.yaml
  builtin/credential/kerberos/.github/workflows/bulk-dep-upgrades.yaml
  builtin/credential/kerberos/.github/workflows/go-checks.yaml
  builtin/credential/kerberos/.github/workflows/integration-tests.yaml
  builtin/credential/kerberos/.github/workflows/jira.yaml
  builtin/credential/kerberos/.github/workflows/tests.yaml
  builtin/credential/kerberos/.gitignore
  builtin/credential/kerberos/.go-version
  builtin/credential/kerberos/CHANGELOG.md
  builtin/credential/kerberos/LICENSE
  builtin/credential/kubernetes/.github/PULL_REQUEST_TEMPLATE.md
  builtin/credential/kubernetes/.github/workflows/bulk-dep-upgrades.yaml
  builtin/credential/kubernetes/.github/workflows/jira.yaml
  builtin/credential/kubernetes/.github/workflows/tests.yaml
  builtin/credential/kubernetes/.github/workflows/vault-plugin-backport.yml
  builtin/credential/kubernetes/.gitignore
  builtin/credential/kubernetes/.go-version
  builtin/credential/kubernetes/CHANGELOG.md
  builtin/credential/kubernetes/LICENSE
  builtin/logical/kubernetes/.github/PULL_REQUEST_TEMPLATE.md
  builtin/logical/kubernetes/.github/workflows/bulk-dep-upgrades.yaml
  builtin/logical/kubernetes/.github/workflows/jira.yaml
  builtin/logical/kubernetes/.github/workflows/tests.yaml
  builtin/logical/kubernetes/.gitignore
  builtin/logical/kubernetes/.go-version
  builtin/logical/kubernetes/CHANGELOG.md
  builtin/logical/kubernetes/LICENSE
  builtin/logical/kv/.circleci/config.yml
  builtin/logical/kv/.github/PULL_REQUEST_TEMPLATE.md
  builtin/logical/kv/.github/workflows/jira.yaml
  builtin/logical/kv/.gitignore
  builtin/logical/kv/LICENSE
  builtin/logical/openldap/.github/PULL_REQUEST_TEMPLATE.md
  builtin/logical/openldap/.github/workflows/actionlint.yaml
  builtin/logical/openldap/.github/workflows/bulk-dep-upgrades.yaml
  builtin/logical/openldap/.github/workflows/go-checks.yaml
  builtin/logical/openldap/.github/workflows/jira.yaml
  builtin/logical/openldap/.github/workflows/tests.yaml
  builtin/logical/openldap/.gitignore
  builtin/logical/openldap/.go-version
  builtin/logical/openldap/CHANGELOG.md
  builtin/logical/openldap/LICENSE
  plugins/database/valkey/.gitignore
  plugins/database/valkey/CHANGELOG.md
  plugins/database/valkey/LICENSE
  sdk/helper/stepwise/.gitignore
  sdk/helper/stepwise/LICENSE
Labels: pr/no-changelog

#1604 Self init and profiles docs split
  website/content/docs/concepts/profiles.mdx
  website/content/docs/configuration/self-init.mdx
  website/sidebars.ts
Labels: docs, pr/no-changelog
