Repository openbao/openbao, pull requests merged in 2025-03, with the labels that each got.

#1055 fix: fix the wrong error return value
  builtin/credential/userpass/path_user_password.go
Labels: pr/no-changelog

#1039 Simplify Goreleaser templates
  .github/workflows/release.yml
  .goreleaser-template.yaml
  goreleaser.hsm.yaml
  goreleaser.linux.yaml
  goreleaser.other.yaml
Labels: pr/no-changelog

#1064 Bump actions/cache to v4, use pinning
  .github/actions/set-up-go/action.yml
  .github/workflows/release.yml
  .github/workflows/test-go.yml
Labels: bug, dependencies, github_actions, needs-backport, backport-2.2.x

#1071 Nit: Fix link to create/update role in api/pki docs
  website/content/api-docs/secret/pki.mdx
Labels: docs, pr/no-changelog

#1088 Add wildcard so Dependabot traverses child directories
  .github/dependabot.yml
Labels: bug, dependencies, pr/no-changelog

#1006 Use consistent path for root key
  vault/barrier.go
  vault/barrier_aes_gcm.go
Labels: pr/no-changelog, core/seal

#1101 Officially add TSC membership process
  CONTRIBUTING.md
  GOVERNANCE.md
Labels: docs, pr/no-changelog

#1116 docs: add rfc#432 to docs rfc index
  website/content/docs/rfcs/index.mdx
Labels: docs, pr/no-changelog

#1027 Add PATCH support to namespaces API
  vault/logical_system_namespaces.go
Labels: feature, pr/no-changelog, core/namespaces

#924 Mitigate security risks found using Zizmor
  .github/workflows/changelog-checker.yml
  .github/workflows/ci.yml
  .github/workflows/code-checker.yml
  .github/workflows/test-go.yml
  .github/workflows/test-run-acc-tests-for-path.yml
  .github/workflows/verify_changes.yml
Labels: bug, pr/no-changelog, github_actions

#1122 Fix ACME TLS documentation
  website/content/docs/configuration/listener/tcp.mdx
Labels: docs, pr/no-changelog, core/listeners

#1128 Add GitLab to supporters section of homepage
  website/src/components/Supporters/index.tsx
Labels: docs, pr/no-changelog

#1127 Add EdgeX Selects OpenBao Blog
  website/content/blog/2025-03-18-edgex-selects-openbao.md
  website/content/blog/authors.yml
Labels: docs, pr/no-changelog

#1132 docs: Correct config file location in token helper docs
  website/content/docs/commands/token-helper.mdx
Labels: docs, pr/no-changelog

#1129 Allow periodicFunc to execute "now"
  changelog/1129.txt
  vault/identity_store_oidc.go
  vault/identity_store_oidc_test.go
Labels: bug

#1135 fix(docs/pkcs11): remove documentation regarding key generation
  website/content/docs/configuration/seal/pkcs11.mdx
Labels: pr/no-changelog

#1124 Add webpage for OSPS baseline
  website/content/docs/policies/osps-baseline.mdx
Labels: docs, pr/no-changelog

#1081 Add hex to templating for ACL policies
  sdk/helper/template/funcs.go
  sdk/helper/template/funcs_test.go
  sdk/helper/template/template.go
  sdk/helper/template/template_test.go
Labels: feature, pr/no-changelog, auth/jwt

#1138 Remove Postgres beta warning
  website/content/docs/configuration/storage/postgresql.mdx
Labels: docs, pr/no-changelog

#1134 Validate policies can contain comments, be JSON
  vault/policy_test.go
  website/content/docs/concepts/policies.mdx
Labels: pr/no-changelog, test-only

#1141 config.go: fix config file filename comment (de-vault)
  command/config/config.go
Labels: docs, pr/no-changelog

#880 Support Multiple Issuers for SSH Secret Engine Mounts
  builtin/logical/ssh/backend.go
  builtin/logical/ssh/backend_test.go
  builtin/logical/ssh/fields.go
  builtin/logical/ssh/path_config_ca.go
  builtin/logical/ssh/path_config_ca_test.go
  builtin/logical/ssh/path_config_issuers.go
  builtin/logical/ssh/path_config_issuers_test.go
  builtin/logical/ssh/path_fetch.go
  builtin/logical/ssh/path_issue.go
  builtin/logical/ssh/path_issue_sign.go
  builtin/logical/ssh/path_issuers.go
  builtin/logical/ssh/path_roles.go
  builtin/logical/ssh/path_sign.go
  builtin/logical/ssh/storage.go
  builtin/logical/ssh/storage_migrations.go
  builtin/logical/ssh/storage_migrations_test.go
  builtin/logical/ssh/util.go
  changelog/880.txt
  sdk/framework/path.go
  website/content/api-docs/secret/pki.mdx
  website/content/api-docs/secret/ssh.mdx
  website/content/docs/secrets/ssh/signed-ssh-certificates.mdx
Labels: feature, secrets/ssh

#1146 docs: Add SSH CA Multi-issuer RFC to website docs
  website/content/docs/rfcs/index.mdx
  website/content/docs/rfcs/ssh-ca-multi-issuer.mdx
  website/sidebars.ts
Labels: docs, rfc, pr/no-changelog

#1171 Add new moderators: voigt, Gabrielopesantos, karras
  MAINTAINERS.md
Labels: docs, pr/no-changelog

#1123 Namespace-aware token store #1068
  vault/capabilities_test.go
  vault/core.go
  vault/counters.go
  vault/identity_store_oidc_provider_test.go
  vault/identity_store_test.go
  vault/logical_cubbyhole.go
  vault/logical_system_test.go
  vault/mount.go
  vault/namespaces_store.go
  vault/testing.go
  vault/token_store.go
  vault/token_store_test.go
  vault/token_store_util.go
Labels: core/namespaces
