Repository openbao/openbao, pull requests merged in 2025-02, with the labels that each got.

#960 Add FOSDEM travel blog post
  website/content/blog/2025-01-31-bao-at-fosdem.md
  website/public/img/baobao-fosdem-25-airplane.jpg
  website/public/img/baobao-fosdem-25-brussels.jpg
  website/public/img/baobao-fosdem-25-colleagues.jpg
  website/public/img/baobao-fosdem-25-eiffel.jpg
  website/public/img/baobao-fosdem-25-louvre.jpg
  website/public/img/baobao-fosdem-25-train-paris.jpg
Labels: pr/no-changelog, blog

#959 Fix warnings about external storage
  website/content/docs/configuration/storage/filesystem.mdx
  website/content/docs/configuration/storage/in-memory.mdx
  website/content/docs/configuration/storage/index.mdx
  website/content/docs/configuration/storage/postgresql.mdx
  website/content/docs/configuration/storage/raft.mdx
Labels: docs, pr/no-changelog, core/storage

#970 Docs: Add a simple OIDC keycloak setup example
  website/content/docs/auth/jwt/oidc-providers/keycloak.mdx
Labels: docs, pr/no-changelog

#969 disable openbao-k8s and CSI driver docs
  website/content/docs/agent-and-proxy/agent/caching/persistent-caches/kubernetes.mdx
  website/content/docs/agent-and-proxy/agent/process-supervisor.mdx
  website/content/docs/platform/k8s/csi/configurations.mdx
  website/content/docs/platform/k8s/csi/examples.mdx
  website/content/docs/platform/k8s/csi/index.mdx
  website/content/docs/platform/k8s/csi/installation.mdx
  website/content/docs/platform/k8s/helm/index.mdx
  website/content/docs/platform/k8s/helm/run.mdx
  website/content/docs/platform/k8s/injector-csi.mdx
  website/content/docs/platform/k8s/injector/annotations.mdx
  website/content/docs/platform/k8s/injector/examples.mdx
  website/content/docs/platform/k8s/injector/index.mdx
  website/content/docs/platform/k8s/injector/installation.mdx
  website/content/partials/kubernetes-supported-versions.mdx
Labels: pr/no-changelog

#971 Add blog post on travel back home
  website/content/blog/2025-02-07-bao-back-home.md
  website/public/img/alex-fosdem-25-speaking.jpg
  website/public/img/openbao-sooc-dotan.jpg
  website/public/img/openbao-sooc-osacon.jpg
  website/public/img/openbao-sooc-percona.jpg
  website/public/img/openbao-sooc-sponsor.jpg
  website/public/img/openbao-sooc-table.jpg
Labels: pr/no-changelog, blog

#816 Ignore overlapping -config file/dir options passed to server
  changelog/816.txt
  command/server.go
  command/server/config.go
  command/server/config_custom_response_headers_test.go
  command/server/config_telemetry_test.go
  command/server/config_test.go
  command/server/config_test_helpers.go
  command/server/listener_test.go
Labels: bug, command

#975 Bump to Go 1.23.6
  .go-version
Labels: dependencies, pr/no-changelog, go

#977 Update github.com/opencontainers/runc to v1.1.14
  go.mod
  go.sum
Labels: dependencies, pr/no-changelog, go

#943 Add nightly release workflow
  .github/workflows/release.yml
  .goreleaser-template.yaml
  scripts/nightly_tag.sh
Labels: feature, pr/no-changelog, release

#988 Add initial brand standards policy
  website/content/docs/policies/brand.mdx
  website/content/docs/policies/index.mdx
  website/sidebars.ts
Labels: docs, pr/no-changelog

#986 Update HashiCorp dependencies
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Labels: dependencies, pr/no-changelog, go

#987 Update gofumpt tool dependency
  go.mod
  go.sum
Labels: dependencies, pr/no-changelog, go

#945 Add PKCS#11 auto-unseal builds to release workflow
  .github/workflows/release.yml
  .goreleaser-template.yaml
  Makefile
Labels: feature, pr/no-changelog, release

#857 Auto-TLS listeners via ACME
  .release/docker/docker-entrypoint.sh
  changelog/857.txt
  command/agentproxyshared/cache/listener.go
  command/operator_diagnose.go
  command/server.go
  command/server/listener.go
  command/server/listener_tcp.go
  command/server/listener_tcp_test.go
  command/server/listener_unix.go
  command/server/listener_unix_test.go
  go.mod
  go.sum
  http/handler.go
  internalshared/configutil/listener.go
  internalshared/listenerutil/listener.go
  internalshared/listenerutil/tls_acme.go
  sdk/helper/testcluster/docker/environment.go
  sdk/helper/testcluster/types.go
  vault/external_tests/tlslistener_binary/tls_test.go
  vault/request_handling.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/rfcs/acme-tls-listeners.mdx
  website/content/docs/rfcs/index.mdx
  website/sidebars.ts
Labels: feature, core/listeners

#994 Set BAO_CONFIG_DIR to a default but let it be overridable.
  scripts/docker/docker-entrypoint.sh
Labels: bug, pr/no-changelog, packaging/container, release

#766 Add detailed metadata list to KV
  builtin/logical/kv/backend.go
  builtin/logical/kv/path_metadata.go
  builtin/logical/kv/path_metadata_test.go
  changelog/766.txt
  website/content/api-docs/secret/kv/kv-v2.mdx
Labels: feature, secrets/kv

#999 Add blog post with detailed conference talk
  website/content/blog/2025-02-12-cipherboy-fosdem-25-talk.md
  website/public/img/talks/cipherboy-fosdem-25/OpenBao-at-GitLab-Slide-01.svg
  website/public/img/talks/cipherboy-fosdem-25/OpenBao-at-GitLab-Slide-02.svg
  website/public/img/talks/cipherboy-fosdem-25/OpenBao-at-GitLab-Slide-03.svg
  website/public/img/talks/cipherboy-fosdem-25/OpenBao-at-GitLab-Slide-04.svg
  website/public/img/talks/cipherboy-fosdem-25/OpenBao-at-GitLab-Slide-05.svg
  website/public/img/talks/cipherboy-fosdem-25/OpenBao-at-GitLab-Slide-06.svg
  website/public/img/talks/cipherboy-fosdem-25/OpenBao-at-GitLab-Slide-07.svg
  website/public/img/talks/cipherboy-fosdem-25/OpenBao-at-GitLab-Slide-08.svg
  website/public/img/talks/cipherboy-fosdem-25/OpenBao-at-GitLab-Slide-09.svg
  website/public/img/talks/cipherboy-fosdem-25/OpenBao-at-GitLab-Slide-10.svg
  website/public/img/talks/cipherboy-fosdem-25/OpenBao-at-GitLab-Slide-11.svg
  website/public/img/talks/cipherboy-fosdem-25/OpenBao-at-GitLab-Slide-12.svg
  website/public/img/talks/cipherboy-fosdem-25/OpenBao-at-GitLab-Slide-13.svg
Labels: pr/no-changelog, blog

#1000 Update to Go 1.24.0
  .go-version
  builtin/logical/pki/backend_test.go
  changelog/1000.txt
  changelog/912.txt
  go.mod
  sdk/helper/certutil/helpers.go
  vault/auth_test.go
  vault/core_test.go
  vault/diagnose/output.go
  vault/diagnose/tls_verification.go
  vault/diagnose/tls_verification_test.go
  vault/external_tests/metrics/core_metrics_int_test.go
  vault/external_tests/userpass_binary/ip_token_binding_test.go
  vault/login_mfa.go
  vault/mount_test.go
Labels: dependencies, go

#1002 Update go-kms-wrapping dependencies for release
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Labels: dependencies, pr/no-changelog, release, go

#1003 Release v2.2.0 beta20250213
  CHANGELOG.md
  changelog/811.txt
  go.mod
  website/content/docs/release-notes/2-2-0.mdx
  website/sidebars.ts
Labels: pr/no-changelog, release

#1005 Minor docs improvements and chore
  HCPV_badge.png
  website/content/docs/auth/jwt/oidc-providers/gitlab.mdx
  website/content/docs/auth/jwt/oidc-providers/index.mdx
  website/content/docs/concepts/identity.mdx
  website/content/docs/upgrading/ha-upgrade.mdx
  website/content/docs/upgrading/index.mdx
  website/content/docs/what-is-openbao.mdx
  website/sidebars.ts
Labels: docs, pr/no-changelog

#1015 Update libraries.mdx
  website/content/api-docs/libraries.mdx
Labels: pr/no-changelog

#992 Add transactions to AppRole funcs
  builtin/credential/approle/path_login.go
  builtin/credential/approle/path_role.go
  changelog/992.txt
Labels: core/storage, auth/approle, roadmap:safer

#1018 Cleanup leftover DR Token CLI and API options
  api/sys_raft.go
  command/operator_raft_autopilot_get_config.go
  command/operator_raft_autopilot_set_config.go
  command/operator_raft_autopilot_state.go
  command/operator_raft_listpeers.go
  command/operator_raft_remove_peer.go
  website/content/api-docs/system/storage/raft.mdx
Labels: pr/no-changelog, refactor

#996 Add API and CLI commands to promote/demote nodes in the Raft cluster
  command/commands.go
  command/operator_raft_demote.go
  command/operator_raft_promote.go
  physical/raft/raft.go
  physical/raft/raft_autopilot_promoter.go
  vault/external_tests/raft/raft_autopilot_test.go
  vault/logical_system_raft.go
  website/content/api-docs/system/storage/raft.mdx
  website/content/docs/commands/operator/raft.mdx
Labels: feature, pr/no-changelog, core/storage, backport-2.2.x

#1026 Polish NamespaceStore implementation
  command/ns_openbao/file/initialize_test.go
  command/ns_openbao/file/utils_test.go
  helper/namespace/namespace.go
  sdk/logical/storage.go
  vault/audit.go
  vault/auth.go
  vault/capabilities.go
  vault/core.go
  vault/dynamic_system_view.go
  vault/expiration.go
  vault/identity_store_oidc.go
  vault/identity_store_oidc_util.go
  vault/identity_store_structs.go
  vault/logical_system.go
  vault/logical_system_namespaces.go
  vault/logical_system_user_lockout.go
  vault/login_mfa.go
  vault/mount.go
  vault/namespaces.go
  vault/namespaces_oss.go
  vault/namespaces_store.go
  vault/namespaces_store_test.go
  vault/policy_store.go
  vault/request_handling.go
  vault/token_store.go
Labels: feature, refactor

#1019 Revive Valkey plugin
  changelog/1019.txt
  command/base_predict_test.go
  go.mod
  go.sum
  helper/builtinplugins/registry.go
  helper/builtinplugins/registry_test.go
  helper/testhelpers/corehelpers/corehelpers.go
  plugins/database/valkey/.gitignore
  plugins/database/valkey/CHANGELOG.md
  plugins/database/valkey/LICENSE
  plugins/database/valkey/Makefile
  plugins/database/valkey/README.md
  plugins/database/valkey/bootstrap/terraform/docker-compose.yml
  plugins/database/valkey/bootstrap/terraform/redis.tf
  plugins/database/valkey/connection_producer.go
  plugins/database/valkey/scripts/configure.sh
  plugins/database/valkey/scripts/gofmtcheck.sh
  plugins/database/valkey/valkey-database-plugin/main.go
  plugins/database/valkey/valkey.go
  plugins/database/valkey/valkey_test.go
  website/content/api-docs/secret/databases/valkey.mdx
  website/content/docs/agent-and-proxy/index.mdx
  website/content/docs/auth/approle.mdx
  website/content/docs/plugins/plugin-development.mdx
  website/content/docs/policies/plugins.mdx
  website/content/docs/secrets/databases/custom.mdx
  website/content/docs/secrets/databases/index.mdx
  website/content/docs/secrets/databases/valkey.mdx
  website/content/docs/secrets/index.mdx
  website/sidebars.ts
  website/sidebarsApi.ts
Labels: feature

#1030 Fix prerelease image tagging
  .goreleaser-template.yaml
Labels: pr/no-changelog

#1028 Correctly handle request routing
  http/util.go
  vault/namespaces_store.go
  vault/request_handling.go
Labels: feature, pr/no-changelog, core/namespaces

#1049 Add blog post for horizontal scalability
  website/content/blog/2025-02-26-vision-for-namespaces.md
Labels: pr/no-changelog, blog
