Repository openbao/openbao, pull requests merged in 2025-04, with the labels that each got.

#1158 Namespace-aware Expiration Manager #1125
  vault/expiration.go
  vault/expiration_test.go
  vault/expiration_util.go
  vault/logical_system.go
Labels: core/namespaces

#1186 Add action to mirror repo to Codeberg
  .github/workflows/mirror.yml
Labels: pr/no-changelog

#1187 Add Dave to DevWG voting members
  CONTRIBUTING.md
Labels: docs, pr/no-changelog

#1191 fix mirror workflow
  .github/workflows/mirror.yml
Labels: pr/no-changelog

#1159 Namespace aware identity store #1110
  vault/identity_store.go
  vault/identity_store_schema.go
  vault/identity_store_test.go
  vault/identity_store_util.go
Labels: core/namespaces

#1190 Add guide for listing detailed endpoints
  website/content/docs/plugins/plugin-authors-guide.mdx
Labels: docs, pr/no-changelog

#989 Transactions for ssh-related functions
  builtin/logical/ssh/path_cleanup_dynamic_host_keys.go
  builtin/logical/ssh/path_config_issuers.go
  builtin/logical/ssh/path_config_zeroaddress.go
  builtin/logical/ssh/path_creds_create.go
  builtin/logical/ssh/path_issue.go
  builtin/logical/ssh/path_issue_sign.go
  builtin/logical/ssh/path_issuers.go
  builtin/logical/ssh/path_lookup.go
  builtin/logical/ssh/path_roles.go
  builtin/logical/ssh/path_sign.go
  builtin/logical/ssh/path_verify.go
  changelog/989.txt
Labels: feature, core/storage, secrets/ssh

#1178 Another attempt to fix TestOIDC_PeriodicFunc
  changelog/1178.txt
  vault/identity_store_oidc_test.go
Labels: pr/no-changelog, test-only, identity

#1209 build: update Go version and dependencies
  .go-version
  api/auth/approle/go.mod
  api/auth/kubernetes/go.mod
  api/auth/ldap/go.mod
  api/auth/userpass/go.mod
  api/go.mod
  changelog/1209.txt
  go.mod
  go.sum
  sdk/go.mod
Labels: dependencies, needs-backport, go, backport-2.2.x

#1210 Fix test-ui failing test
  ui/tests/acceptance/settings/configure-secret-backends/configure-ssh-secret-test.js
Labels: javascript, pr/no-changelog, ui, secrets/ssh, test-only

#1179 Do not set LimitNOFILE
  .release/linux/package/usr/lib/systemd/system/openbao.service
  changelog/1179.txt
Labels: packaging/systemd

#1214 doc(telemetry.mdx): add metrics_prefix
  website/content/docs/configuration/telemetry.mdx
Labels: docs, pr/no-changelog

#1201 Tests for namespace route resolution - issue #1020
  http/logical_test.go
  vault/namespaces_store_test.go
  vault/testing.go
Labels: core/namespaces

#1163 Namespaces Regression: Restricted APIs in `sys/raw`
  http/handler.go
  http/handler_test.go
  http/util.go
Labels: core/namespaces

#1203 Forbid illegal namespace characters
  helper/namespace/namespace.go
  http/sys_namespaces_test.go
  vault/logical_system_namespaces.go
  vault/namespaces_store.go
Labels: core/namespaces

#1167 move namespace uuid into namespace struct
  helper/namespace/namespace.go
  vault/audit.go
  vault/auth.go
  vault/counters.go
  vault/expiration.go
  vault/expiration_test.go
  vault/identity_store_test.go
  vault/logical_system.go
  vault/logical_system_namespaces.go
  vault/mount.go
  vault/mount_test.go
  vault/namespaces_oss.go
  vault/namespaces_store.go
  vault/namespaces_store_test.go
  vault/namespaces_store_tree.go
  vault/policy_store.go
  vault/policy_store_test.go
  vault/testing.go
  vault/token_store.go
  vault/token_store_test.go
Labels: core/namespaces

#1220 Clarify that region is required
  website/content/docs/configuration/seal/gcpckms.mdx
Labels: bug, docs, pr/no-changelog, core/seal

#1221 Fix vault/diagnose test failure
  vault/diagnose/tls_verification_test.go
Labels: bug, pr/no-changelog, needs-backport, test-only, backport-2.2.x

#1211 Fix test-ui
  ui/tests/acceptance/settings/configure-secret-backends/configure-ssh-secret-test.js
Labels: javascript, pr/no-changelog, ui, test-only

#1235 fix(ssh): `generate_signing_key=false` not honored on issuer submission endpoints
  builtin/logical/ssh/path_config_ca_test.go
  builtin/logical/ssh/util.go
Labels: bug, pr/no-changelog, secrets/ssh

#1237 Fix name of org-level maintainers team
  CODEOWNERS
Labels: bug, pr/no-changelog, needs-backport, backport-2.2.x

#1236 Do not encode empty subproblems in ACME
  builtin/logical/pki/acme_errors.go
  changelog/1236.txt
Labels: bug, secrets/pki, needs-backport, backport-2.2.x

#1243 Match ssh test to updated behaviour
  ui/tests/acceptance/settings/configure-secret-backends/configure-ssh-secret-test.js
Labels: javascript, pr/no-changelog, ui, test-only

#1248 Do not encode empty subproblems in ACME (#1236)
  builtin/logical/pki/acme_errors.go
  changelog/1236.txt
Labels: bug, secrets/pki, backport-2.2.x

#1247 Fix vault/diagnose test failure (#1221)
  vault/diagnose/tls_verification_test.go
Labels: bug, test-only, backport-2.2.x

#1245 Fix vulns (#1126)
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  changelog/1126.txt
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Labels: dependencies, go, backport-2.2.x

#1246 build: update Go version and dependencies (#1209)
  .go-version
  changelog/1209.txt
  go.mod
  go.sum
  sdk/go.mod
Labels: dependencies, go, backport-2.2.x

#1238 Return quoted string when -output-curl-string flag is passed #1038
  api/auth/approle/go.sum
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.sum
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  api/output_string.go
  api/output_string_test.go
  changelog/1038.txt
Labels: bug, needs-backport, backport-2.2.x, cli

#1251 Update critical dependencies
  Makefile
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Labels: dependencies, pr/no-changelog, needs-backport, go, backport-2.2.x

#1250 Return quoted string when -output-curl-string flag is passed #1038 (#…
  api/auth/approle/go.sum
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.sum
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  api/output_string.go
  api/output_string_test.go
  changelog/1038.txt
Labels: bug, backport-2.2.x

#1252 Backport core deps
  Makefile
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  changelog/1126.txt
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Labels: dependencies, pr/no-changelog, go, backport-2.2.x

#1255 Release v2.2.1
  CHANGELOG.md
Labels: docs, pr/no-changelog, release

#1256 Add release notes for v2.2.1 to website
  CHANGELOG.md
  website/content/docs/release-notes/2-2-0.mdx
Labels: docs, pr/no-changelog, release

#1257 Fix make goreleaser-check after split
  Makefile
Labels: bug, pr/no-changelog, test-only

#1206 Implement Cascading Delete for Namespaces and Associated Resources
  helper/namespace/namespace.go
  http/sys_namespaces_test.go
  vault/auth.go
  vault/expiration.go
  vault/expiration_test.go
  vault/logical_system.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_test.go
  vault/logical_system_test.go
  vault/mount.go
  vault/mount_test.go
  vault/namespaces_store.go
  vault/namespaces_store_test.go
  vault/namespaces_store_tree.go
  vault/policy_store.go
  vault/policy_store_test.go
  vault/router.go
Labels: core/namespaces

#1269 Fix preSeal ordering w.r.t NamespaceStore
  vault/core.go
  vault/namespaces_store.go
  vault/namespaces_store_test.go
Labels: bug, pr/no-changelog, core/namespaces

#1272 chore: remove artifacts in `dependencies/`
  dependencies/2-25-21/deps-upgrade-output.txt
  dependencies/2-25-21/deps-upgrade.txt
  scripts/deps_upgrade.py
Labels: pr/no-changelog, test-only

#1161 Add namespace-aware rate-limit quota
  helper/namespace/namespace.go
  http/util.go
  vault/external_tests/quotas/quotas_test.go
  vault/logical_system_quotas.go
  vault/mount.go
  vault/namespaces_oss.go
  vault/namespaces_store.go
  vault/quotas/quotas.go
  vault/quotas/quotas_rate_limit.go
  vault/quotas/quotas_rate_limit_test.go
  vault/quotas/quotas_test.go
Labels: core/namespaces
