Repository openbao/openbao, pull requests merged in 2025-06, with the labels that each got.

#794 CEL for Certificate Issuance Policy
  builtin/logical/pki/backend.go
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/cert_template.pb.go
  builtin/logical/pki/cert_template.proto
  builtin/logical/pki/cert_util.go
  builtin/logical/pki/fields.go
  builtin/logical/pki/path_cel.go
  builtin/logical/pki/path_cel_test.go
  builtin/logical/pki/path_issue_sign.go
  builtin/logical/pki/path_issue_sign_test.go
  builtin/logical/pki/translate_cert.go
  changelog/794.txt
  go.mod
  sdk/go.mod
  sdk/helper/cel/helpers.go
  sdk/helper/cel/helpers_test.go
  sdk/helper/cel/program.go
  sdk/helper/certutil/helpers.go
  ui/app/styles/app.scss
  ui/app/styles/components/console-ui-panel.scss
  ui/app/styles/core/checkbox-and-radio.scss
Labels: feature, secrets/pki

#1402 Add advice about disabling AI agents while working on OpenBao
  CONTRIBUTING.md
Labels: docs

#1398 Add new core, kubernetes teams to CODEOWNERS
  CODEOWNERS
Labels: pr/no-changelog, needs-backport, test-only, backport-2.3.x

#1388 Fix detailed metadata on list results
  builtin/logical/kv/path_metadata.go
  builtin/logical/kv/path_metadata_test.go
  changelog/1388.txt
Labels: bug, needs-backport, secrets/kv, backport-2.3.x

#1408 Fix some code deprecations
  builtin/credential/jwt/path_config.go
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/chain_test.go
  builtin/logical/pki/crl_test.go
  builtin/logical/pki/path_resign_crls_test.go
  builtin/logical/pki/test_helpers.go
  builtin/logical/ssh/backend_test.go
  builtin/logical/ssh/path_issue_sign.go
  builtin/logical/ssh/path_roles.go
  command/agentproxyshared/cache/testing.go
  command/operator_migrate_test.go
  http/sys_mounts_test.go
  internalshared/listenerutil/tls_acme.go
  physical/crosstest/cross_test.go
  sdk/helper/certutil/types.go
  sdk/helper/keysutil/policy_test.go
  vault/external_tests/storage/crosstest/cross_test.go
Labels: pr/no-changelog, refactor

#1414 Point mailing list references from LF Edge to OpenSSF domain
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  GOVERNANCE.md
  MAINTAINERS.md
  README.md
  builtin/credential/jwt/README.md
  builtin/credential/kubernetes/README.md
  builtin/logical/kubernetes/README.md
  builtin/logical/kv/README.md
  builtin/logical/openldap/README.md
  website/content/api-docs/secret/identity/oidc-provider.mdx
  website/content/blog/2024-10-03-maintainers.md
  website/content/blog/2024-12-11-rfcs-dec-2024.md
  website/content/blog/2025-05-30-namespaces-announcement.md
  website/content/docs/contributing/index.mdx
  website/content/docs/policies/brand.mdx
  website/content/docs/policies/osps-baseline.mdx
  website/content/docs/policies/support.mdx
Labels: docs, pr/no-changelog, governance

#1406 Namespaces UI support
  changelog/1406.txt
  ui/app/components/namespace-picker.js
  ui/app/components/sidebar/frame.hbs
  ui/app/components/sidebar/nav/access.hbs
  ui/app/routes/vault/cluster.js
  ui/app/routes/vault/cluster/access/namespaces/create.js
  ui/app/routes/vault/cluster/access/namespaces/index.js
  ui/app/services/namespace.js
  ui/app/templates/vault/cluster/access/namespaces/create.hbs
  ui/app/templates/vault/cluster/access/namespaces/index.hbs
  ui/app/templates/vault/cluster/auth.hbs
  ui/config/environment.js
  ui/scripts/test-helper.js
  ui/tests/integration/components/sidebar/nav/access-test.js
  vault/logical_system_helpers.go
Labels: feature, ui, needs-backport, core/namespaces, backport-2.3.x

#1429 Dependabot: Group `@docusaurus/*` updates
  .github/dependabot.yml
Labels: pr/no-changelog, github_actions

#1427 HSM: Add arm64 builds & Alpine containers
  .github/workflows/release.yml
  Dockerfile
  goreleaser.hsm.yaml
Labels: pr/no-changelog, github_actions, packaging/container, release, docker

#1435 Bump ProtonMail/go-crypto and cloudflare/circl
  go.mod
  go.sum
Labels: dependencies, pr/no-changelog, go

#1437 Adjust go.*, changelog codeowners
  CODEOWNERS
Labels: pr/no-changelog, test-only, governance

#1439 Revert "chore(tls): refactor dev certificates to openbao (#1438)"
  changelog/1438.txt
  command/server.go
  command/server/config.go
  command/server/config_test.go
Labels: pr/no-changelog, revert

#1436 Move to minio openldap container
  builtin/credential/kerberos/path_login_test.go
Labels: dependencies, pr/no-changelog, packaging/container, test-only, blocked

#1425 Add static key auto-unseal
  changelog/1425.txt
  go.mod
  go.sum
  internalshared/configutil/kms.go
  sdk/go.mod
  sdk/go.sum
  website/content/docs/configuration/seal/static.mdx
  website/content/docs/rfcs/index.mdx
Labels: feature, roadmap:safer, core/seal

#1460 Affirm Level 1: OSPS-LE-03.01
  website/content/docs/policies/osps-baseline.mdx
Labels: docs, pr/no-changelog, baseline, wg/supply

#1381 Add changelog for v2.2.2
  CHANGELOG.md
  website/content/docs/release-notes/2-2-0.mdx
Labels: pr/no-changelog

#1465 Add OpenBao to OpenSSF blog post
  website/content/blog/2025-05-30-namespaces-announcement.md
  website/content/blog/2025-06-17-openbao-to-openssf.md
  website/content/blog/authors.yml
Labels: docs, pr/no-changelog, blog

#1468 fix(test-go): Verify test results before passing
  .github/workflows/test-go.yml
Labels: pr/no-changelog, test-only

#1473 Update CEL patch test to ensure compatibility when moving to `go-viper/mapstructure`
  builtin/logical/pki/path_cel_test.go
Labels: pr/no-changelog, secrets/pki, needs-backport, test-only, backport-2.3.x, cel

#1481 Deprecation notice for undocumented duplicate PKCS#11 seal options (#…
  changelog/1385.txt
  website/content/docs/deprecation/index.mdx
Labels: docs, pr/no-changelog, backport-2.3.x

#1482 CEL for Certificate Issuance Policy (#794)
  builtin/logical/pki/backend.go
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/cert_template.pb.go
  builtin/logical/pki/cert_template.proto
  builtin/logical/pki/cert_util.go
  builtin/logical/pki/fields.go
  builtin/logical/pki/path_cel.go
  builtin/logical/pki/path_cel_test.go
  builtin/logical/pki/path_issue_sign.go
  builtin/logical/pki/path_issue_sign_test.go
  builtin/logical/pki/translate_cert.go
  changelog/794.txt
  go.mod
  sdk/go.mod
  sdk/helper/cel/helpers.go
  sdk/helper/cel/helpers_test.go
  sdk/helper/cel/program.go
  sdk/helper/certutil/helpers.go
  ui/app/styles/app.scss
  ui/app/styles/components/console-ui-panel.scss
  ui/app/styles/core/checkbox-and-radio.scss
Labels: feature, secrets/pki, backport-2.3.x

#1487 Fix changelog entries (#1440)
  changelog/1209.txt
  changelog/869.txt
Labels: bug, pr/no-changelog, backport-2.3.x

#1478 Fix PostgreSQL table creation on replica
  changelog/1478.txt
  physical/postgresql/postgresql.go
Labels: bug, core/storage, roadmap:scalability

#1492 Go dependency bumps to fix vulnerabilities in dependencies
  .go-version
  Makefile
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  builtin/logical/transit/path_import.go
  builtin/logical/transit/path_import_test.go
  command/transit_import_key.go
  go.mod
  go.sum
  internalshared/listenerutil/tls_acme.go
  sdk/go.mod
  sdk/go.sum
  sdk/helper/keysutil/policy.go
  website/content/docs/secrets/transit/key-wrapping-guide.mdx
Labels: dependencies, go, backport-2.3.x

#1491 Fix identity store resolution (#1432)
  changelog/1432.txt
  command/server.go
  command/server/config.go
  helper/namespace/namespace.go
  helper/storagepacker/storagepacker.go
  vault/core.go
  vault/identity_store.go
  vault/identity_store_oidc_provider.go
  vault/identity_store_test.go
  vault/identity_store_util.go
  vault/testing.go
  vault/token_store.go
  vault/token_store_test.go
Labels: bug, core/namespaces, backport-2.3.x

#1484 Namespaces UI support (#1406)
  changelog/1406.txt
  ui/app/components/namespace-picker.js
  ui/app/components/sidebar/frame.hbs
  ui/app/components/sidebar/nav/access.hbs
  ui/app/routes/vault/cluster.js
  ui/app/routes/vault/cluster/access/namespaces/create.js
  ui/app/routes/vault/cluster/access/namespaces/index.js
  ui/app/services/namespace.js
  ui/app/templates/vault/cluster/access/namespaces/create.hbs
  ui/app/templates/vault/cluster/access/namespaces/index.hbs
  ui/app/templates/vault/cluster/auth.hbs
  ui/config/environment.js
  ui/scripts/test-helper.js
  ui/tests/integration/components/sidebar/nav/access-test.js
  vault/logical_system_helpers.go
Labels: feature, ui, core/namespaces, backport-2.3.x

#1494 Fix PostgreSQL table creation on replica (#1478)
  changelog/1478.txt
  physical/postgresql/postgresql.go
Labels: bug, core/storage, roadmap:scalability, backport-2.3.x

#1495 Add changelog entry for sdk/framework vulnerability
  changelog/1495.txt
Labels: bug, needs-backport, backport-2.3.x

#1390 Minor improvements to CEL for PKI
  Makefile
  builtin/logical/pki/cert_template.pb.go
  builtin/logical/pki/cert_template.proto
  builtin/logical/pki/path_issue_sign.go
  builtin/logical/pki/path_issue_sign_test.go
  builtin/logical/pki/translate_cert.go
  sdk/helper/cel/helpers.go
  sdk/helper/certutil/helpers.go
  sdk/helper/certutil/types.go
Labels: bug, pr/no-changelog, secrets/pki, needs-backport, backport-2.3.x, cel

#1499 Minor improvements to CEL for PKI (#1390)
  Makefile
  builtin/logical/pki/cert_template.pb.go
  builtin/logical/pki/cert_template.proto
  builtin/logical/pki/path_issue_sign.go
  builtin/logical/pki/path_issue_sign_test.go
  builtin/logical/pki/translate_cert.go
  changelog/1496.txt
  sdk/helper/cel/helpers.go
  sdk/helper/certutil/helpers.go
  sdk/helper/certutil/types.go
Labels: bug, pr/no-changelog, secrets/pki, cel

#1500 Bump API to v2.3.1 in core, sdk
  go.mod
  sdk/go.mod
Labels: pr/no-changelog, release

#1501 Bump sdk to v2.3.1, add changelog to v2.3.0
  CHANGELOG.md
  go.mod
Labels: release
