Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers

fix staticcheck issues in changed lines
  builtin/credential/jwt/path_config_test.go
  builtin/logical/pki/acme_challenges_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers

reenable testPostgresSQLLockTTL
  physical/postgresql/postgresql_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Bump protoc to 32.1
  .github/workflows/code-checker.yml
  Makefile
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

make proto
  builtin/logical/kv/types.pb.go
  builtin/logical/pki/cert_template.pb.go
  helper/forwarding/types.pb.go
  helper/identity/mfa/types.pb.go
  helper/identity/types.pb.go
  helper/storagepacker/types.pb.go
  physical/raft/types.pb.go
  sdk/database/dbplugin/database.pb.go
  sdk/database/dbplugin/database_grpc.pb.go
  sdk/database/dbplugin/v5/proto/database.pb.go
  sdk/database/dbplugin/v5/proto/database_grpc.pb.go
  sdk/helper/pluginutil/multiplexing.pb.go
  sdk/helper/pluginutil/multiplexing_grpc.pb.go
  sdk/logical/identity.pb.go
  sdk/logical/plugin.pb.go
  sdk/logical/version.pb.go
  sdk/logical/version_grpc.pb.go
  sdk/plugin/pb/backend.pb.go
  sdk/plugin/pb/backend_grpc.pb.go
  vault/request_forwarding_service.pb.go
  vault/request_forwarding_service_grpc.pb.go
  vault/tokens/token.pb.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

s/_/-/
  .github/dependabot.yml
Owners: @openbao/openbao-org-maintainers

skip el8gobuild if there is a "no-el8gobuild" label
  .github/workflows/code-checker.yml
Owners: @openbao/openbao-org-maintainers

Add pr/no-changelog label to Dependabot PRs (#1951)
  .github/dependabot.yml
Owners: @openbao/openbao-org-maintainers

Add pr/no-changelog label to Dependabot PRs (#1951)
  .github/dependabot.yml
Owners: @openbao/openbao-org-maintainers

make sync-deps
  sdk/go.mod
  sdk/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

make sync-deps
  sdk/go.mod
  sdk/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix: Ensure comparisons are done against absolute paths within the current NS context
  vault/router.go
  vault/router_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

chore: Add changelog entry
  changelog/1958.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix(valkey): Correctly parse creation_statements as a string array
  plugins/database/valkey/valkey.go
  plugins/database/valkey/valkey_test.go
Owners: @openbao/openbao-org-maintainers

add changelog
  changelog/1959.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

auth: support cert auth using PIV
  api/client.go
  api/go.mod
  api/go.sum
  api/piv.go
  go.mod
  go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

chore: Run formatter
  vault/router.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix data race in taint/untaint
  vault/router.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

change Matrix links to Zulip
  README.md
  website/content/blog/2025-05-30-namespaces-announcement.md
  website/content/blog/2025-06-17-openbao-to-openssf.md
  website/content/docs/contributing/index.mdx
  website/content/docs/policies/release.mdx
  website/docusaurus.config.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Handle unhandled errors where necessary
  builtin/credential/jwt/path_oidc_test.go
  builtin/credential/jwt/provider_azure_test.go
  builtin/credential/jwt/provider_ibmisam_test.go
  builtin/credential/jwt/provider_secureauth_test.go
  builtin/credential/radius/path_login.go
  command/kv_test.go
  command/main.go
  command/operator_diagnose.go
  command/server.go
  serviceregistration/kubernetes/testing/testserver.go
  vault/logical_cubbyhole.go
  vault/logical_passthrough.go
  vault/token_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Simplify loops
  api/client.go
  builtin/logical/kv/upgrade_test.go
  builtin/logical/pki/backend.go
  builtin/logical/pki/crl_test.go
  builtin/logical/pki/path_resign_crls_test.go
  builtin/logical/pki/path_tidy_test.go
  builtin/logical/ssh/storage.go
  command/agent/approle_end_to_end_test.go
  command/agent/config/config.go
  command/agent/jwt_end_to_end_test.go
  command/auth_enable_test.go
  command/kv_helpers.go
  command/operator_init.go
  helper/testhelpers/testhelpers.go
  internalshared/configutil/merge.go
  physical/raft/raft.go
  physical/raft/testing.go
  sdk/helper/docker/testhelpers.go
  vault/expiration.go
  vault/expiration_test.go
  vault/external_tests/api/renewer_integration_test.go
  vault/external_tests/sealmigration/testshared.go
  vault/mfa_auth_resp_priority_queue_test.go
  vault/mount.go
  vault/request_handling.go
  vault/rollback.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove dot import
  builtin/credential/radius/path_login.go
Owners: @openbao/openbao-org-maintainers

Remove long deprecated role statements fields
  builtin/logical/database/path_roles.go
  changelog/1962.txt
  sdk/database/dbplugin/database.pb.go
  sdk/database/dbplugin/database.proto
  sdk/database/helper/dbutil/dbutil.go
  sdk/database/helper/dbutil/dbutil_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Remove duplicate imports
  builtin/logical/database/path_creds_create.go
  builtin/logical/kubernetes/client.go
  builtin/plugin/v5/backend.go
  command/agent/cache_end_to_end_test.go
  command/agentproxyshared/cache/lease_cache.go
  helper/storagepacker/storagepacker.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-k8s-committers, @openbao/openbao-core-committers

Use tagged switches
  audit/format.go
  builtin/credential/approle/path_login.go
  builtin/credential/approle/path_role.go
  builtin/credential/jwt/path_oidc_test.go
  builtin/credential/jwt/provider_azure.go
  builtin/logical/database/rotation_test.go
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/ca_test.go
  builtin/logical/pki/cert_util.go
  builtin/logical/pki/path_acme_test.go
  builtin/logical/pki/path_fetch.go
  builtin/logical/pki/path_fetch_test.go
  builtin/logical/pki/path_tidy.go
  builtin/logical/ssh/path_creds_create.go
  builtin/logical/ssh/path_roles.go
  builtin/logical/transit/path_export.go
  command/agentproxyshared/cache/cacheboltdb/bolt.go
  command/healthcheck/pki_ca_validity_period.go
  physical/postgresql/postgresql.go
  physical/raft/raft.go
  sdk/helper/compressutil/compress.go
  sdk/helper/keysutil/policy.go
  sdk/helper/testcluster/exec.go
  sdk/plugin/pb/translation.go
  vault/auth.go
  vault/core_metrics_test.go
  vault/expiration.go
  vault/external_tests/metrics/core_metrics_int_test.go
  vault/logical_system_quotas.go
  vault/login_mfa.go
  vault/mount.go
  vault/quotas/quotas.go
  vault/request_handling.go
  vault/token_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers

Various small improvements
  builtin/logical/pki/acme_challenges_test.go
  builtin/logical/pki/path_resign_crls.go
  command/agentproxyshared/auth/auth.go
  command/agentproxyshared/sink/file/sink_test.go
  command/operator_diagnose.go
  command/secrets_enable_test.go
  helper/timeutil/timeutil.go
  http/handler.go
  http/logical.go
  physical/raft/raft_autopilot_promoter.go
  physical/raft/raft_test.go
  physical/raft/varint.go
  vault/deadlock_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Rely on type inference instead of explicit types
  builtin/logical/kv/passthrough_test.go
  builtin/logical/pki/acme_challenges.go
  builtin/logical/pki/acme_challenges_test.go
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/path_tidy.go
  command/agentproxyshared/auth/auth.go
  command/auth_enable_test.go
  command/debug.go
  command/format.go
  command/pki_health_check.go
  command/server.go
  helper/metricsutil/metricsutil.go
  helper/pgpkeys/flag_test.go
  http/forwarding_test.go
  physical/crosstest/cross_test.go
  plugins/database/mysql/mysql-database-plugin/main.go
  plugins/database/mysql/mysql-legacy-database-plugin/main.go
  sdk/helper/certutil/helpers.go
  sdk/physical/testing.go
  vault/auth_test.go
  vault/expiration_test.go
  vault/external_tests/metrics/core_metrics_int_test.go
  vault/external_tests/storage/crosstest/cross_test.go
  vault/logical_passthrough_test.go
  vault/mount_test.go
  vault/request_handling_list_filtering.go
  vault/rotate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove empty branches
  http/handler.go
  http/sys_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Use time.Since and time.Until instead of Add and Sub
  api/lifetime_watcher.go
  builtin/credential/approle/path_tidy_user_id_test.go
  builtin/logical/openldap/path_static_roles.go
  builtin/logical/pki/crl_test.go
  builtin/logical/pki/path_issue_sign.go
  builtin/logical/pki/test_helpers.go
  builtin/logical/transit/backend_test.go
  command/agentproxyshared/auth/auth_test.go
  helper/metricsutil/wrapped_metrics.go
  helper/timeutil/timeutil.go
  http/forwarding_test.go
  physical/raft/fsm.go
  vault/expiration.go
  vault/expiration_test.go
  vault/ha_test.go
  vault/logical_system_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix copied lock
  builtin/logical/pki/acme_challenges_test.go
Owners: @openbao/openbao-org-maintainers

Various error improvements
  builtin/credential/jwt/cli.go
  builtin/credential/jwt/path_config_test.go
  builtin/credential/token/cli.go
  builtin/logical/pki/acme_errors.go
  builtin/logical/pki/backend.go
  builtin/logical/pki/path_tidy.go
  command/healthcheck/healthcheck.go
  command/operator_diagnose.go
  command/ssh.go
  internalshared/configutil/config.go
  plugins/database/valkey/valkey.go
  sdk/database/dbplugin/v5/plugin_factory.go
  vault/diagnose/mock_storage_backend.go
  vault/identity_store_entities.go
  vault/identity_store_util.go
  vault/logical_system.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers

Simplify boolean expressions
  builtin/credential/approle/path_role.go
  builtin/logical/kv/delete_version_after.go
  builtin/logical/pki/acme_wrappers.go
  builtin/logical/pki/backend.go
  builtin/logical/pki/path_acme_order.go
  builtin/logical/pki/storage.go
  builtin/logical/transit/path_import.go
  command/main.go
  helper/testhelpers/testhelpers.go
  sdk/helper/keysutil/policy.go
  sdk/physical/testing.go
  vault/diagnose/file_checks.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Apply De Morgan's laws to simplify conditions
  builtin/credential/approle/path_role_test.go
  builtin/logical/kv/path_data_test.go
  builtin/logical/pki/path_tidy_test.go
  builtin/logical/transit/path_export_test.go
  command/agent_test.go
  sdk/helper/certutil/helpers.go
  sdk/helper/ocsp/ocsp_test.go
  vault/expiration.go
  vault/external_tests/mfa/login_mfa_test.go
  vault/login_mfa.go
  vault/router.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix yoda conditions
  builtin/credential/approle/path_role_test.go
  builtin/logical/kv/path_metadata.go
  builtin/logical/openldap/path_checkout_sets_test.go
  command/agent.go
  command/proxy.go
  sdk/helper/custommetadata/custom_metadata.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Simplify various overly complicated string operations
  audit/format_json_test.go
  builtin/credential/jwt/path_config_test.go
  builtin/credential/jwt/path_oidc_test.go
  builtin/credential/jwt/provider_azure_test.go
  builtin/credential/jwt/provider_ibmisam_test.go
  builtin/credential/jwt/provider_secureauth_test.go
  builtin/credential/kerberos/path_login.go
  builtin/logical/pki/path_acme_test.go
  builtin/logical/transit/path_export_test.go
  command/agent.go
  command/auth_enable_test.go
  command/format.go
  command/kv_test.go
  command/main.go
  command/proxy.go
  command/server.go
  command/server/config.go
  http/forwarding_bench_test.go
  http/forwarding_test.go
  http/logical_test.go
  internalshared/configutil/encrypt_decrypt.go
  physical/raft/fsm_test.go
  physical/raft/raft_autopilot.go
  physical/raft/raft_test.go
  physical/raft/snapshot_test.go
  plugins/database/valkey/valkey_test.go
  serviceregistration/kubernetes/testing/testserver.go
  vault/external_tests/raft/raft_test.go
  vault/logical_system.go
  vault/plugin_catalog_test.go
  vault/token_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Output all lint findings
  .golangci.deprecations.yml
  .golangci.fmt.yml
  .golangci.yml
Owners: @openbao/openbao-org-maintainers

feat: add initial OSSF security scorecard workflow
  .github/workflows/scorecard.yml
  README.md
Owners: @openbao/openbao-org-maintainers

fix: remove PAT requirement
  .github/workflows/scorecard.yml
Owners: @openbao/openbao-org-maintainers

Namespace sealing should also cleanup non-sealable NS resources (#1899)
  vault/external_tests/raft/raft_test.go
  vault/identity_store_test.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/mount_test.go
  vault/namespace_store.go
  vault/namespace_store_test.go
  vault/namespace_store_tree.go
  vault/seal_manager.go
  vault/seal_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feature: namespace seal/unseal cli commands implemented
  .golangci.yml
  api/sys_generate_root.go
  api/sys_namespace.go
  api/sys_namespace_generate_root.go
  api/sys_namespace_seal.go
  api/sys_seal.go
  command/command_test.go
  command/commands.go
  command/format.go
  command/format_test.go
  command/namespace.go
  command/namespace_generate_root.go
  command/namespace_generate_root_test.go
  command/namespace_seal.go
  command/namespace_seal_test.go
  command/namespace_unseal.go
  command/namespace_unseal_test.go
  command/operator_generate_root.go
  command/operator_rekey_test.go
  command/operator_rotate_keys_test.go
  command/status.go
  http/sys_generate_root.go
  http/sys_generate_root_test.go
  sdk/helper/roottoken/encode_test.go
  sdk/helper/roottoken/otp.go
  sdk/helper/roottoken/otp_test.go
  vault/barrier_aes_gcm.go
  vault/external_tests/identity/identity_test.go
  vault/external_tests/quotas/quotas_test.go
  vault/external_tests/token/token_test.go
  vault/logical_system.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_generate_root.go
  vault/logical_system_namespaces_rotate.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/logical_system_paths.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

refactor: removed otp file, moved functionality to consumers
  command/namespace_generate_root.go
  command/operator_generate_root.go
  command/operator_rekey_test.go
  command/operator_rotate_keys_test.go
  sdk/helper/roottoken/decode.go
  sdk/helper/roottoken/encode_test.go
  sdk/helper/roottoken/otp.go
  sdk/helper/roottoken/otp_test.go
  vault/logical_system.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers
