Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

move ParseConfig helper to sdk/helper/hclutil
  command/agent/config/config.go
  command/config/config.go
  command/operator_migrate.go
  command/proxy/config/config.go
  command/server/config.go
  command/server/config_test_helpers.go
  helper/profiles/config_test.go
  helper/random/parser.go
  internalshared/configutil/config.go
  internalshared/configutil/kms.go
  sdk/helper/hclutil/hcl.go
  vault/policy.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Link to migration guide in sidebar
  website/content/docs/guides/migration.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Mark node as active during unseal
  vault/dynamic_system_view.go
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Refactor HA restart to be single-pass
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Annotate cluster listener test information
  vault/cluster_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Do not err if test has finished
  helper/testhelpers/testhelpers.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Ensure we grab the state lock during invalidations
  vault/core_cache_invalidate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove keyring invalidation
  vault/core_cache_invalidate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Bypass body size limiting for Raft Snapshots
  http/logical.go
  http/util.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Reduce lock acquisition time
  vault/core_cache_invalidate.go
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove enterpriseHaActors helper
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Allow sealing read-enabled standby nodes
  vault/core.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Bump to higher limits
  vault/external_tests/plugin/external_plugin_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Disable read-enabled standbys in TestBackend_CA_Steps
  builtin/logical/pki/ca_test.go
Owners: @openbao/openbao-org-maintainers

Move server config to correct place
  command/server/config.go
  internalshared/configutil/config.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix standby seal tests
  vault/core_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update hashicorp/hcl to 1.0.1-vault-7 (#2021)
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/jwt/go.mod
  api/auth/jwt/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  api/ssh_agent.go
  command/agent/config/config.go
  command/config/config.go
  command/operator_migrate.go
  command/proxy/config/config.go
  command/server/config.go
  command/server/config_test_helpers.go
  go.mod
  go.sum
  helper/profiles/config_test.go
  internalshared/configutil/config.go
  internalshared/configutil/kms.go
  sdk/go.mod
  sdk/go.sum
  sdk/helper/hclutil/hcl.go
  tools/go.mod
  tools/go.sum
  vault/policy.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Update hashicorp/hcl to 1.0.1-vault-7 (#2021)
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/jwt/go.mod
  api/auth/jwt/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  api/ssh_agent.go
  command/agent/config/config.go
  command/config/config.go
  command/operator_migrate.go
  command/proxy/config/config.go
  command/server/config.go
  command/server/config_test_helpers.go
  go.mod
  go.sum
  helper/profiles/config_test.go
  internalshared/configutil/config.go
  internalshared/configutil/kms.go
  sdk/go.mod
  sdk/go.sum
  sdk/helper/hclutil/hcl.go
  tools/go.mod
  tools/go.sum
  vault/policy.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Fix race during sealing
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement fencing in PostgreSQL backend
  physical/postgresql/postgresql.go
  physical/postgresql/testing.go
  physical/postgresql/transaction.go
  sdk/physical/physical.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add PostgreSQL storage backend for container tests
  sdk/helper/testcluster/docker/environment.go
  sdk/helper/testhelpers/postgresql/postgresqlhelper.go
  vault/external_tests/postgresql_binary/postgresql_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog entry
  changelog/1571.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Run make tidy-all
  sdk/go.mod
  sdk/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Allow physical backends to track leadership
  physical/postgresql/invalidation.go
  physical/postgresql/postgresql.go
  sdk/physical/physical.go
  vault/core.go
  vault/ha.go
  vault/init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Expand test case to be parallel
  physical/postgresql/postgresql_test.go
  vault/external_tests/postgresql_binary/postgresql_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Disable reads in TestIdentityStore_EntityDisabled
  vault/external_tests/response/allowed_response_headers_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

enable versioned docs on the website
  website/docusaurus.config.ts
  website/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

update release checklist
  website/content/docs/policies/release.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

ignore versioned docs in markdown linter
  website/.markdownlint-cli2.jsonc
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Clean up write enablement (#2016)
  builtin/logical/pki/ca_test.go
  command/server/config.go
  helper/testhelpers/testhelpers.go
  http/logical.go
  http/logical_test.go
  http/util.go
  internalshared/configutil/config.go
  physical/raft/fsm.go
  physical/raft/fsm_test.go
  physical/raft/raft.go
  sdk/physical/inmem/inmem_ha.go
  sdk/physical/physical.go
  vault/audit.go
  vault/barrier.go
  vault/barrier_aes_gcm.go
  vault/cluster_test.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/core_test.go
  vault/dynamic_system_view.go
  vault/external_tests/identity/userlockouts_test.go
  vault/external_tests/plugin/external_plugin_test.go
  vault/external_tests/raftha/raft_ha_test.go
  vault/external_tests/response/allowed_response_headers_test.go
  vault/ha.go
  vault/logical_system.go
  vault/mount.go
  vault/policy_store.go
  vault/quotas/quotas.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

lock route entry in invalidation logic
  vault/router.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

clear sync maps in expiration manager
  vault/expiration.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Read replication fix races (#2029)
  vault/expiration.go
  vault/router.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove spurious ctx.Err() calls
  vault/auth.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

OK to ignore out-of-order mount invalidations
  vault/core_cache_invalidate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Simplify invalidation adding logic
  vault/core_cache_invalidate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Expand route locking
  vault/router.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Rename restartCh -> standbyRestartCh
  vault/core.go
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

docs: reference centralized duration format in API docs
  website/content/api-docs/auth/token.mdx
  website/content/api-docs/secret/pki.mdx
  website/content/api-docs/secret/ssh.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

NS wrapper
  vault/core.go
  vault/generate_root.go
  vault/namespace_store.go
  vault/namespace_with_seal.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
