Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

chore: Add changelog
  changelog/1477.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix(ci): Fix remaining non-constant format string errors
  sdk/helper/certutil/certutil_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix(ci): Left over non-constant format error fixes
  sdk/helper/certutil/certutil_test.go
  sdk/helper/certutil/helpers.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix(const): Map OIDC and k8S algos to the Bao Allowed JWT Algo slice
  sdk/helper/consts/jwt.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix(path_login_test): Use jwt.go constants
  builtin/credential/kubernetes/path_login_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-k8s-committers

fix(const): Added missing ES384 algo
  sdk/helper/consts/jwt.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix: Update after rebase
  builtin/logical/kubernetes/path_creds.go
  vault/identity_store_oidc_provider_util.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-k8s-committers, @openbao/openbao-core-committers

chore: Go mod tidy after rebase
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  sdk/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

deps(go-jose): Update go-jose from v3 to v4 (#1477)
  Makefile
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  api/plugin_helpers.go
  api/secret.go
  audit/format.go
  builtin/credential/jwt/path_cel_login_test.go
  builtin/credential/jwt/path_cel_role.go
  builtin/credential/jwt/path_login_test.go
  builtin/credential/jwt/path_oidc_test.go
  builtin/credential/jwt/path_role.go
  builtin/credential/kubernetes/path_login.go
  builtin/credential/kubernetes/path_login_test.go
  builtin/logical/kubernetes/integrationtest/helpers.go
  builtin/logical/kubernetes/path_creds.go
  builtin/logical/pki/acme_jws.go
  changelog/1477.txt
  command/agent/testing.go
  go.mod
  go.sum
  sdk/database/dbplugin/v5/grpc_server.go
  sdk/go.mod
  sdk/go.sum
  sdk/helper/certutil/certutil_test.go
  sdk/helper/certutil/helpers.go
  sdk/helper/consts/jwt.go
  vault/identity_store_oidc.go
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_provider_util.go
  vault/identity_store_oidc_test.go
  vault/wrapping.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers, @openbao/openbao-auth-jwt-committers

deps(go-jose): Update go-jose from v3 to v4 (#1477)
  Makefile
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  api/plugin_helpers.go
  api/secret.go
  audit/format.go
  builtin/credential/jwt/path_cel_login_test.go
  builtin/credential/jwt/path_cel_role.go
  builtin/credential/jwt/path_login_test.go
  builtin/credential/jwt/path_oidc_test.go
  builtin/credential/jwt/path_role.go
  builtin/credential/kubernetes/path_login.go
  builtin/credential/kubernetes/path_login_test.go
  builtin/logical/kubernetes/integrationtest/helpers.go
  builtin/logical/kubernetes/path_creds.go
  builtin/logical/pki/acme_jws.go
  changelog/1477.txt
  command/agent/testing.go
  go.mod
  go.sum
  sdk/database/dbplugin/v5/grpc_server.go
  sdk/go.mod
  sdk/go.sum
  sdk/helper/certutil/certutil_test.go
  sdk/helper/certutil/helpers.go
  sdk/helper/consts/jwt.go
  vault/identity_store_oidc.go
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_provider_util.go
  vault/identity_store_oidc_test.go
  vault/wrapping.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers, @openbao/openbao-auth-jwt-committers

RFC - Per-namespace sealing rebase (#42)
  website/content/docs/rfcs/index.mdx
  website/content/docs/rfcs/namespace-sealing.mdx
  website/docusaurus.config.ts
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

RFC - Per-namespace sealing (#1357)
  website/content/docs/rfcs/index.mdx
  website/content/docs/rfcs/namespace-sealing.mdx
  website/docusaurus.config.ts
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

RFC - Per-namespace sealing (#1357)
  website/content/docs/rfcs/index.mdx
  website/content/docs/rfcs/namespace-sealing.mdx
  website/docusaurus.config.ts
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Additional comments and explanations
  api/kv_v2.go
  api/logical.go
  sdk/physical/cache.go
  sdk/physical/physical_view.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/docs/rfcs/config-audit-devices.mdx
  website/content/docs/rfcs/config-audit-devices.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/docs/rfcs/config-audit-devices.mdx
  website/content/docs/rfcs/config-audit-devices.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feature: streamlined logical backend endpoints code
  vault/core.go
  vault/logical_system.go
  vault/logical_system_namespaces_rotate.go
  vault/logical_system_paths.go
  vault/logical_system_rotate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feature: added partially complete rotation endpoints for the namespaces
  http/sys_rekey.go
  vault/core.go
  vault/generate_root.go
  vault/logical_system.go
  vault/logical_system_namespaces_rotate.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/logical_system_rotate.go
  vault/logical_system_test.go
  vault/rekey.go
  vault/rekey_test.go
  vault/rotate.go
  vault/rotate_test.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Consolidate SealManager fields into a single radix tree
  vault/core.go
  vault/generate_root.go
  vault/logical_raw.go
  vault/logical_system_namespaces_generate_root.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/namespaces_oss.go
  vault/seal.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/docs/rfcs/config-audit-devices.mdx
  website/content/docs/rfcs/config-audit-devices.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/docs/rfcs/config-audit-devices.mdx
  website/content/docs/rfcs/config-audit-devices.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/docs/configuration/audit.mdx
  website/content/docs/configuration/audit.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/docs/rfcs/config-audit-devices.mdx
  website/content/docs/rfcs/config-audit-devices.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add declarative audit device creation mechanism (#1700)
  changelog/1700.txt
  command/server.go
  command/server/config.go
  command/server_test.go
  helper/profiles/config.go
  helper/profiles/config_test.go
  vault/audit.go
  vault/core.go
  vault/logical_system.go
  vault/mount.go
  website/content/docs/concepts/profiles.mdx
  website/content/docs/configuration/audit.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/self-init.mdx
  website/content/docs/rfcs/config-audit-devices.mdx
  website/content/docs/rfcs/index.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add declarative audit device creation mechanism (#1700)
  changelog/1700.txt
  command/server.go
  command/server/config.go
  command/server_test.go
  helper/profiles/config.go
  helper/profiles/config_test.go
  vault/audit.go
  vault/core.go
  vault/logical_system.go
  vault/mount.go
  website/content/docs/concepts/profiles.mdx
  website/content/docs/configuration/audit.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/self-init.mdx
  website/content/docs/rfcs/config-audit-devices.mdx
  website/content/docs/rfcs/index.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add documentation on http audit device
  website/content/docs/audit/http.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add warnings against unsafe audit device creation
  website/content/docs/audit/file.mdx
  website/content/docs/audit/http.mdx
  website/content/docs/audit/socket.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add HTTP audit method
  builtin/audit/http/backend.go
  builtin/audit/http/backend_test.go
  command/commands.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Skip OIDC periodic test
  vault/identity_store_oidc_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix creation of nested namespaces in self-init
  command/server.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Skip OIDC periodic test (#1710)
  vault/identity_store_oidc_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Skip OIDC periodic test (#1710)
  vault/identity_store_oidc_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix creation of nested namespaces in self-init (#1711)
  command/server.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix creation of nested namespaces in self-init (#1711)
  command/server.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add SchemaName to Response struct as optional name of the schema for this response in OpenAPI spec
  sdk/framework/openapi.go
  sdk/framework/path.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add changelog
  changelog/1714.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

test: humble attempt at writing few unit tests
  vault/logical_system_namespaces_rotate_test.go
  vault/logical_system_namespaces_seals_test.go
  vault/rotate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Correctly notate that sys/step-down is audited
  website/content/docs/audit/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Correctly notate that sys/step-down is audited (#1716)
  website/content/docs/audit/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Correctly notate that sys/step-down is audited (#1716)
  website/content/docs/audit/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
