Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Fix nil panic with unsafe_cross_namespace_identity (#1715)
  changelog/1715.txt
  vault/core_metrics_test.go
  vault/identity_store_aliases_test.go
  vault/identity_store_entities_test.go
  vault/identity_store_test.go
  vault/identity_store_util.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Fix nil panic with unsafe_cross_namespace_identity (#1715)
  changelog/1715.txt
  vault/core_metrics_test.go
  vault/identity_store_aliases_test.go
  vault/identity_store_entities_test.go
  vault/identity_store_test.go
  vault/identity_store_util.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Fix profile field selector for lists, configs
  helper/profiles/history.go
  helper/profiles/history_test.go
  helper/profiles/request_source.go
  helper/profiles/request_source_test.go
  helper/profiles/response_source.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Expand audit error message to reference config-based devices
  vault/logical_system.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

docs: Migration guide (#257)
  website/content/docs/migration-guide.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Expand audit error message to reference config-based devices (#1740)
  vault/logical_system.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Expand audit error message to reference config-based devices (#1740)
  vault/logical_system.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix profile field selector for lists, configs (#1728)
  helper/profiles/history.go
  helper/profiles/history_test.go
  helper/profiles/request_source.go
  helper/profiles/request_source_test.go
  helper/profiles/response_source.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix profile field selector for lists, configs (#1728)
  helper/profiles/history.go
  helper/profiles/history_test.go
  helper/profiles/request_source.go
  helper/profiles/request_source_test.go
  helper/profiles/response_source.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix bump-critical-deps & tidy-all
  Makefile
  scripts/sync-deps-gkw.sh
  scripts/sync-deps.sh
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Bump critical & go-kms-wrapping
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/jwt/go.mod
  api/auth/jwt/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  tools/go.mod
  tools/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Bump critical & go-kms-wrapping (#1742)
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/jwt/go.mod
  api/auth/jwt/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  tools/go.mod
  tools/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Bump critical & go-kms-wrapping (#1742)
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/jwt/go.mod
  api/auth/jwt/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  tools/go.mod
  tools/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Release v2.4.0 GA
  CHANGELOG.md
  go.mod
  website/content/docs/release-notes/2-4-0.mdx
  website/content/docs/release-notes/index.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog for PKCS#11 change
  CHANGELOG.md
  changelog/1744.txt
  website/content/docs/release-notes/2-4-0.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Release v2.4.0 GA (#1744)
  CHANGELOG.md
  changelog/1744.txt
  go.mod
  website/content/docs/release-notes/2-4-0.mdx
  website/content/docs/release-notes/index.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Release v2.4.0 GA (#1744)
  CHANGELOG.md
  changelog/1744.txt
  go.mod
  website/content/docs/release-notes/2-4-0.mdx
  website/content/docs/release-notes/index.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix release-dist checkout failure
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

Update scripts/sync-deps-gkw.sh
  scripts/sync-deps-gkw.sh
Owners: @openbao/openbao-org-maintainers

Update Makefile
  Makefile
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update Makefile
  Makefile
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Rename req to res where appropriate
  http/logical_test.go
  vault/external_tests/plugin/external_plugin_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update Makefile
  Makefile
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Per-namespace rotation operations implementation (#1706)
  http/sys_rekey.go
  vault/core.go
  vault/generate_root.go
  vault/logical_system.go
  vault/logical_system_namespaces_rotate.go
  vault/logical_system_namespaces_rotate_test.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/logical_system_paths.go
  vault/logical_system_rotate.go
  vault/logical_system_test.go
  vault/rekey.go
  vault/rekey_test.go
  vault/rotate.go
  vault/rotate_test.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

WIP for control group RFC
  website/content/docs/rfcs/control-groups.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Attempt to fix raciness
  builtin/logical/pki/path_tidy_test.go
  http/logical_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix: bao instead of boa (typo)
  api/env_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Added Tech Description and some other tweaks to wording and format
  website/content/docs/rfcs/control-groups.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix: bao instead of boa (typo) (#1747)
  api/env_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix: bao instead of boa (typo) (#1747)
  api/env_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

added package for struct to map conversion
  helper/structtomap/structtomap.go
  helper/structtomap/structtomap_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

replace structs package with structtomap
  builtin/credential/cert/path_crls.go
  builtin/logical/database/path_config_connection.go
  builtin/logical/pki/backend_test.go
  builtin/logical/rabbitmq/path_config_lease.go
  builtin/logical/transit/path_keys.go
  command/operator_rekey.go
  command/operator_rotate_keys.go
  http/sys_mount_test.go
  vault/logical_system_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix release-dist checkout failure (#1745)
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

fix release-dist checkout failure (#1745)
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

make new function local
  helper/structtomap/structtomap.go
  helper/structtomap/structtomap_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

update to use the Map function directly
  builtin/credential/cert/path_crls.go
  builtin/logical/database/path_config_connection.go
  builtin/logical/pki/backend_test.go
  builtin/logical/rabbitmq/path_config_lease.go
  builtin/logical/transit/path_keys.go
  command/operator_rekey.go
  command/operator_rotate_keys.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

move files to sdk/helpers/
  sdk/helper/structtomap/structtomap.go
  sdk/helper/structtomap/structtomap_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

update imports
  builtin/credential/cert/path_crls.go
  builtin/logical/database/path_config_connection.go
  builtin/logical/pki/backend_test.go
  builtin/logical/rabbitmq/path_config_lease.go
  builtin/logical/transit/path_keys.go
  command/operator_rekey.go
  command/operator_rotate_keys.go
  http/sys_mount_test.go
  sdk/helper/certutil/certutil_test.go
  vault/logical_system_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

remove dependency for github.com/fatih/structs
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add changelog
  changelog/1748.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
