Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

refactor: removed namespace from rotation operations responses
  api/sys_rotate.go
  vault/logical_system_namespaces_rotate.go
  vault/logical_system_namespaces_rotate_test.go
  vault/logical_system_rotate.go
  vault/logical_system_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add check that builds bao with the go on el8
  .github/workflows/code-checker.yml
Owners: @openbao/openbao-org-maintainers

Add go-metrics to dependabot ignores (#1934)
  .github/dependabot.yml
Owners: @openbao/openbao-org-maintainers

Add go-metrics to dependabot ignores (#1934)
  .github/dependabot.yml
Owners: @openbao/openbao-org-maintainers

Switch to singleton pattern regexes (#1893) (#1928)
  changelog/1893.txt
  sdk/framework/backend.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

KV engine returns timestamp strings in RFC3339Nano format (#1872) (#1926)
  builtin/logical/kv/backend.go
  changelog/1872.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Identity subsystem returns timestamp strings in RFC3339Nano format (#1873) (#1927)
  changelog/1873.txt
  helper/identity/sentinel.go
  vault/identity_store_aliases.go
  vault/identity_store_entities.go
  vault/identity_store_groups.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Remove dependency on bitnami/cassandra container image (#1762) (#1930)
  plugins/database/cassandra/connection_producer_test.go
  plugins/database/cassandra/test-fixtures/with_tls/cassandra.yaml
Owners: @openbao/openbao-org-maintainers

Fix some errcheck lint findings (#1919)
  builtin/credential/cert/backend_test.go
Owners: @openbao/openbao-org-maintainers

Fix some errcheck lint findings (#1919)
  builtin/credential/cert/backend_test.go
Owners: @openbao/openbao-org-maintainers

docs: add warning to mount and auth move (#1907)
  website/content/api-docs/system/remount.mdx
  website/content/docs/commands/auth/move.mdx
  website/content/docs/commands/secrets/move.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove UI section from dependabot config, increase Go PR limits
  .github/dependabot.yml
Owners: @openbao/openbao-org-maintainers

deps(lz4): Update to mod compatible version (#1913)
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/helper/compressutil/compress.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

deps(lz4): Update to mod compatible version (#1913)
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/helper/compressutil/compress.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feat(valkey): Support connection_url for configuration (#1923)
  changelog/1923.txt
  plugins/database/valkey/connection_producer.go
  plugins/database/valkey/valkey_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

feat(valkey): Support connection_url for configuration (#1923)
  changelog/1923.txt
  plugins/database/valkey/connection_producer.go
  plugins/database/valkey/valkey_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

PKI: Add `allowed_ip_sans_cidr` to roles (#1833)
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/cert_util.go
  builtin/logical/pki/path_roles.go
  changelog/1833.txt
  website/content/api-docs/secret/pki.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

PKI: Add `allowed_ip_sans_cidr` to roles (#1833)
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/cert_util.go
  builtin/logical/pki/path_roles.go
  changelog/1833.txt
  website/content/api-docs/secret/pki.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add changelog
  changelog/1887.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Remove UI section from dependabot config, increase Go PR limits (#1938)
  .github/dependabot.yml
Owners: @openbao/openbao-org-maintainers

Remove UI section from dependabot config, increase Go PR limits (#1938)
  .github/dependabot.yml
Owners: @openbao/openbao-org-maintainers

Add invalidation in inmem HA backend
  sdk/physical/inmem/inmem_ha.go
  vault/core_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Default to in-memory HA backend for test cluster
  http/forwarding_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Guard forwarding by HA enablement
  http/logical.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Allow disabling read scalability in tests
  http/forwarding_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for mount table
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/mount.go
  vault/namespace_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

invalidate all mounts in a namespace
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix handling of sys mount
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

move router.Invalidate call to the end
  vault/core_cache_invalidate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

implement invalidation for mount tuning
  vault/core_cache_invalidate_test.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix data race in invalidateNamespaceMounts
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

implement cache invalidation of legacy mounts
  vault/auth.go
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/mount.go
  vault/seal_autoseal_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix backup keys retrieval for namespace seals (#1931)
  command/operator_rotate.go
  command/operator_rotate_test.go
  vault/logical_system_namespaces_rotate.go
  vault/logical_system_namespaces_rotate_test.go
  vault/logical_system_rotate.go
  vault/logical_system_test.go
  vault/rotate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

deps: make sync-deps run
  sdk/go.mod
  sdk/go.sum
  tools/go.mod
  tools/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

deps: make sync-deps run
  api/auth/approle/go.sum
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.sum
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  sdk/go.mod
  sdk/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

deps: make sync-deps run
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  sdk/go.mod
  sdk/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

add pr/no-changelog label to dependabot PRs
  .github/dependabot.yml
Owners: @openbao/openbao-org-maintainers

Fix some errcheck lint findings
  builtin/audit/file/backend.go
  builtin/audit/socket/backend.go
  builtin/credential/approle/backend.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update changelog/1906.txt
  changelog/1906.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

chore: fix govet issues
  builtin/credential/jwt/path_config_test.go
  builtin/logical/database/backend_test.go
  builtin/logical/database/dbplugin/plugin_test.go
  builtin/logical/database/mocks_test.go
  builtin/logical/database/mockv4.go
  builtin/logical/database/secret_creds.go
  builtin/logical/database/version_wrapper.go
  builtin/logical/pki/acme_challenges_test.go
  builtin/logical/transit/backend_test.go
  command/agentproxyshared/cache/cache_test.go
  helper/random/parser.go
  helper/random/parser_test.go
  helper/random/string_generator_test.go
  helper/storagepacker/storagepacker_test.go
  vault/barrier_view.go
  vault/seal/seal_testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
