Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

add {LICENSE|SPDX|VERSION}_NODE_MODULES.txt to the release dist tarball (#1764)
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

Fix login renewal with CEL (#1776)
  builtin/credential/jwt/path_cel_login.go
  builtin/credential/jwt/path_login.go
  changelog/1776.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

fix(backend): Missing OIDCFlow (#1779)
  builtin/credential/jwt/backend.go
  changelog/1779.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Use RFC 5612 Private Enterprise Number (#1788)
  builtin/logical/pki/path_roles.go
  builtin/logical/pki/path_roles_test.go
Owners: @openbao/openbao-org-maintainers

Use RFC 5612 Private Enterprise Number (#1788) (#1803)
  builtin/logical/pki/path_roles.go
  builtin/logical/pki/path_roles_test.go
Owners: @openbao/openbao-org-maintainers

fix(backend): Missing OIDCFlow (#1779) (#1802)
  builtin/credential/jwt/backend.go
  changelog/1779.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Fix login renewal with CEL (#1776) (#1801)
  builtin/credential/jwt/path_cel_login.go
  builtin/credential/jwt/path_login.go
  changelog/1776.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

fix release-dist checkout failure (#1745) (#1796)
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

Limit maximum number of strings, memory in JSON input (#1784)
  changelog/1756.txt
  command/server.go
  http/handler.go
  http/handler_test.go
  http/json.go
  http/json_test.go
  http/logical_test.go
  internalshared/configutil/listener.go
  vault/request_handling.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/internals/limits.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Limit maximum number of strings, memory in JSON input (#1784)
  changelog/1756.txt
  command/server.go
  http/handler.go
  http/handler_test.go
  http/json.go
  http/json_test.go
  http/logical_test.go
  internalshared/configutil/listener.go
  vault/request_handling.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/internals/limits.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

add {LICENSE|SPDX|VERSION}_NODE_MODULES.txt to the release dist tarball (#1764) (#1800)
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

reject JSON bodies which consume large amounts of RAM (#1756) (#1799)
  changelog/1756.txt
  command/server.go
  http/handler.go
  http/handler_test.go
  internalshared/configutil/listener.go
  vault/request_handling.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/internals/limits.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Recovery rotation init CLI operation returns the recovery keys (#1754) (#1798)
  api/sys_rotate.go
  changelog/1754.txt
  command/operator_init.go
  command/operator_rotate_keys.go
  vault/logical_system_rotate.go
  website/content/docs/commands/operator/init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Fix persistence of tokens created through LoginMFA (#1753) (#1797)
  changelog/1753.txt
  vault/external_tests/identity/login_mfa_totp_test.go
  vault/login_mfa.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Limit maximum number of strings, memory in JSON input (#1784)
  changelog/1756.txt
  command/server.go
  http/handler.go
  http/handler_test.go
  http/json.go
  http/json_test.go
  http/logical_test.go
  internalshared/configutil/listener.go
  vault/request_handling.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/internals/limits.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Limit maximum number of strings, memory in JSON input (#1784) (#1805)
  changelog/1756.txt
  command/server.go
  http/handler.go
  http/handler_test.go
  http/json.go
  http/json_test.go
  http/logical_test.go
  internalshared/configutil/listener.go
  vault/request_handling.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/internals/limits.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Release v2.4.1
  CHANGELOG.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Release v2.4.1 (#1806)
  CHANGELOG.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add CHANGELOG for v2.4.1
  CHANGELOG.md
  website/content/docs/release-notes/2-4-0.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add CHANGELOG for v2.4.1 (#1807)
  CHANGELOG.md
  website/content/docs/release-notes/2-4-0.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add CHANGELOG for v2.4.1 (#1807)
  CHANGELOG.md
  website/content/docs/release-notes/2-4-0.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add SAP to list of supporters
  website/src/components/Supporters/index.tsx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add SAP to list of supporters (#1810)
  website/src/components/Supporters/index.tsx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add SAP to list of supporters (#1810)
  website/src/components/Supporters/index.tsx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

refactor: attempt at unravelling the lock situation
  vault/expiration.go
  vault/expiration_test.go
  vault/mount.go
  vault/namespace_store.go
  vault/namespaces_oss.go
  vault/rotate.go
  vault/seal.go
  vault/seal_autoseal.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog
  changelog/1556.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Tests for join functionality
  helper/testhelpers/pluginhelpers/pluginhelpers.go
  physical/raft/raft.go
  physical/raft/raft_test.go
  vault/external_plugin_test.go
  vault/external_tests/raft/raft_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

First implementation of join plugin
  Makefile
  physical/raft/raft.go
  plugins/join/discover/discover-join-plugin/main.go
  plugins/join/discover/discover.go
  plugins/join/static/static-join-plugin/main.go
  plugins/join/static/static.go
  sdk/helper/consts/plugin_types.go
  sdk/joinplugin/join.go
  sdk/joinplugin/pb/join.pb.go
  sdk/joinplugin/pb/join.proto
  sdk/joinplugin/pb/join_grpc.pb.go
  sdk/joinplugin/plugin.go
  sdk/joinplugin/serve.go
  vault/raft.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Replace legacy discover calls with plugin
  physical/raft/raft.go
  physical/raft/raft_test.go
  vault/raft.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Allow running plugins without a wrapper defined
  sdk/helper/pluginutil/run_config.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Initialize join plugins once only
  physical/raft/raft.go
  physical/raft/raft_test.go
  vault/external_plugin_test.go
  vault/raft.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add payload example with creation_statements
  website/content/api-docs/secret/databases/valkey.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add improvement changelog entry
  changelog/1811.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add payload example with creation_statements (#1811)
  changelog/1811.txt
  website/content/api-docs/secret/databases/valkey.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add payload example with creation_statements (#1811)
  changelog/1811.txt
  website/content/api-docs/secret/databases/valkey.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

make sync-deps
  api/auth/approle/go.sum
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.sum
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  sdk/go.mod
  sdk/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

move router.Invalidate call to the end
  vault/core_cache_invalidate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

invalidate all mounts in a namespace
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Storage rework
  sdk/bptree/bptree.go
  sdk/bptree/bptree_test.go
  sdk/bptree/builtin_buffering_test.go
  sdk/bptree/dirty_tracker.go
  sdk/bptree/integration_test.go
  sdk/bptree/storage.go
  sdk/bptree/storage_config.go
  sdk/bptree/storage_test.go
  sdk/bptree/storage_transactional.go
  sdk/bptree/storage_transactional_test.go
  sdk/bptree/test_util.go
  sdk/bptree/tree_persistence_test.go
  sdk/bptree/validation.go
  sdk/lru/lru.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix bump-critical-deps & tidy-all (#1743)
  Makefile
  scripts/sync-deps-gkw.sh
  scripts/sync-deps.sh
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
