Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix typo
  website/content/docs/plugins/plugin-management.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

move OCI helper package out of SDK
  command/plugin_init.go
  command/server/config.go
  go.mod
  go.sum
  helper/pluginutil/oci/downloader.go
  sdk/go.mod
  sdk/go.sum
  vault/plugin_catalog.go
  vault/plugin_catalog_oci_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

use builtin authentication of go-containerregistry
  command/server/config.go
  command/server/config_plugin_test.go
  command/server/config_test_helpers.go
  helper/pluginutil/oci/downloader.go
  website/content/docs/commands/plugin/init.mdx
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

specify plugin registration in docs
  website/content/docs/plugins/plugin-management.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

describe authenticaion
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

extend OCI plugin docs
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

reword plugin init help text
  command/plugin_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

use deploy key for dependency synchronization
  .github/workflows/sync-deps.yaml
Owners: @openbao/openbao-org-maintainers

use deploy key for dependency synchronization (#2020)
  .github/workflows/sync-deps.yaml
Owners: @openbao/openbao-org-maintainers

use deploy key for dependency synchronization (#2020)
  .github/workflows/sync-deps.yaml
Owners: @openbao/openbao-org-maintainers

allow duplicate keys in HCL config files
  api/ssh_agent.go
  command/agent/config/config.go
  command/config/config.go
  command/operator_migrate.go
  command/proxy/config/config.go
  command/server/config.go
  command/server/config_test_helpers.go
  helper/profiles/config_test.go
  internalshared/configutil/config.go
  internalshared/configutil/kms.go
  vault/policy.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

ensure Telemetry blocks are only parsed once
  internalshared/configutil/config.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

allow duplicate keys in HCL config files
  api/ssh_agent.go
  command/agent/config/config.go
  command/config/config.go
  command/operator_migrate.go
  command/proxy/config/config.go
  command/server/config.go
  command/server/config_test_helpers.go
  helper/profiles/config_test.go
  helper/random/parser.go
  internalshared/configutil/config.go
  internalshared/configutil/kms.go
  vault/policy.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

grab state lock before closing standbyStop channel (#2012)
  vault/core.go
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feature: implemented namespace rotation cli commands (#1933)
  api/sys_namespaces.go
  command/command_test.go
  command/commands.go
  command/namespace.go
  command/namespace_key_status.go
  command/namespace_key_status_test.go
  command/namespace_rotate.go
  command/namespace_rotate_keys.go
  command/namespace_rotate_keys_test.go
  command/namespace_rotate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Small improvements to read replication (#1987)
  http/handler.go
  physical/raft/raft.go
  physical/raft/raft_test.go
  sdk/logical/error.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/ha.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add nil check for policy store invalidation
  vault/core_cache_invalidate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

make restart channel atomic
  vault/core.go
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix nil pointer in reloadLegacyMounts
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix nil issues and race condtions on standby shutdown (#2014)
  vault/core.go
  vault/core_cache_invalidate.go
  vault/ha.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

move attemptIrrevocableLeasesRevoke into job
  helper/fairshare/simple_job.go
  vault/expiration.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Allow marking barrier read-only
  vault/barrier.go
  vault/barrier_aes_gcm.go
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Correctly annotate forwarding layer in tests
  vault/core_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Skip invalidations on active node
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Rework when and how mountWorker executes
  vault/core.go
  vault/ha.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix invalidation conditionals in inmem_ha.go
  sdk/physical/inmem/inmem_ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

docs: Migration guide (#257) (#1155)
  website/content/docs/migration-guide.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

docs: Migration guide (#257) (#1155)
  website/content/docs/migration-guide.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix potential segfault during step down (#2019)
  changelog/2019.txt
  helper/fairshare/simple_job.go
  vault/expiration.go
  vault/namespace_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Fix potential segfault during step down (#2019)
  changelog/2019.txt
  helper/fairshare/simple_job.go
  vault/expiration.go
  vault/namespace_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Annotate TestRaft_HA_ExistingCluster with read-only
  vault/external_tests/raftha/raft_ha_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Revert changes to test as no GRPC client is set up
  http/logical_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Allow invalidating multiple entries at once
  physical/raft/fsm.go
  physical/raft/fsm_test.go
  physical/raft/raft.go
  sdk/physical/physical.go
  vault/core_cache_invalidate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Enable metrics on read-enabled standby nodes
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Switch to fairshare-based invalidation manager
  vault/audit.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/mount.go
  vault/policy_store.go
  vault/quotas/quotas.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Wait for mount creation on secondary
  vault/external_tests/plugin/external_plugin_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Notate additional entries for cache invalidation
  vault/core_cache_invalidate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Use pure standby client for lockout tests
  vault/external_tests/identity/userlockouts_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Ensure proper forwarding semantics of logical errors
  vault/logical_system.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

rename helper function to isJson
  api/ssh_agent.go
  helper/random/parser.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
