Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Fix bump-critical-deps & tidy-all (#1743)
  Makefile
  scripts/sync-deps-gkw.sh
  scripts/sync-deps.sh
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add plugin distribution via OCI images
  command/commands.go
  command/plugin_init.go
  command/server/config.go
  command/server/config_plugin_test.go
  command/server/config_test_helpers.go
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/helper/pluginutil/oci/downloader.go
  tools/go.mod
  tools/go.sum
  vault/core.go
  vault/plugin_catalog.go
  vault/plugin_catalog_oci_test.go
  website/content/docs/commands/plugin/index.mdx
  website/content/docs/commands/plugin/init.mdx
  website/content/docs/configuration/oci-plugins.mdx
  website/content/docs/plugins/index.mdx
  website/content/docs/plugins/plugin-management.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add changelog
  changelog/1824.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

refactor: revert on expmgr changes
  vault/core.go
  vault/expiration.go
  vault/expiration_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix handling of sys mount
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

implement invalidation for mount tuning
  vault/core_cache_invalidate_test.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Allow setting configurations on storage from external transactions
  sdk/bptree/integration_test.go
  sdk/bptree/storage.go
  sdk/bptree/storage_config.go
  sdk/bptree/storage_transactional.go
  sdk/lru/lru.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

cr: comments addressed
  vault/expiration_test.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix typo
  website/content/docs/plugins/plugin-management.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

clarify auth options
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

use correct error formatting
  command/server/config.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

clarify init log message
  command/plugin_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

remove mention of Env var interpolation
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

simplify error handling
  sdk/helper/pluginutil/oci/downloader.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

improve error handling
  sdk/helper/pluginutil/oci/downloader.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix plugin init comment
  command/plugin_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

rename plugin download fail constant
  command/server/config.go
  sdk/helper/pluginutil/oci/downloader.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

update example logs
  website/content/docs/commands/plugin/index.mdx
  website/content/docs/commands/plugin/init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fail plugin init on empty config
  command/plugin_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

link to oci config from plugin init docs
  website/content/docs/commands/plugin/init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix plugin test
  command/server/config_plugin_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Seal Manager lifecycle adjustment (#1792)
  vault/core.go
  vault/expiration.go
  vault/expiration_test.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_rotate.go
  vault/logical_system_namespaces_rotate_test.go
  vault/logical_system_rotate.go
  vault/mount.go
  vault/namespace_store.go
  vault/namespaces_oss.go
  vault/rotate.go
  vault/seal.go
  vault/seal_autoseal.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

move OCI helper package out of SDK
  builtin/logical/kv/types.pb.go
  builtin/logical/pki/cert_template.pb.go
  command/plugin_init.go
  command/server/config.go
  go.mod
  go.sum
  helper/forwarding/types.pb.go
  helper/identity/mfa/types.pb.go
  helper/identity/types.pb.go
  helper/pluginutil/oci/downloader.go
  helper/storagepacker/types.pb.go
  physical/raft/types.pb.go
  sdk/database/dbplugin/database.pb.go
  sdk/database/dbplugin/v5/proto/database.pb.go
  sdk/go.mod
  sdk/go.sum
  sdk/helper/pluginutil/multiplexing.pb.go
  sdk/logical/identity.pb.go
  sdk/logical/plugin.pb.go
  sdk/logical/version.pb.go
  sdk/plugin/pb/backend.pb.go
  tools/go.mod
  tools/go.sum
  vault/plugin_catalog.go
  vault/plugin_catalog_oci_test.go
  vault/request_forwarding_service.pb.go
  vault/tokens/token.pb.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Return an error if GetRootID is returns empty
  sdk/bptree/dirty_tracker.go
  sdk/bptree/storage.go
  sdk/bptree/storage_transactional_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Return an error if GetConfig is returns empty
  sdk/bptree/bptree.go
  sdk/bptree/storage.go
  sdk/bptree/test_util.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update buffered write functions
  sdk/bptree/storage.go
  sdk/bptree/storage_transactional.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feat: add initial security-insights.yml version
  .github/security-insights.yml
Owners: @openbao/openbao-org-maintainers

feat: include all repositories and releas information
  .github/security-insights.yml
Owners: @openbao/openbao-org-maintainers

feat: add Ken McDonald as TSC member
  .github/security-insights.yml
Owners: @openbao/openbao-org-maintainers

feat: change project level adminsitrators to openbao-org-maintainers
  .github/security-insights.yml
Owners: @openbao/openbao-org-maintainers

Add Recovery Seal RFC
  website/content/docs/rfcs/index.mdx
  website/content/docs/rfcs/recovery-seal.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add SAP to OpenBao TSC
  CONTRIBUTING.md
Owners: @openbao/openbao-org-maintainers

Bump critical dependencies to latest version
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/jwt/go.mod
  api/auth/jwt/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  tools/go.mod
  tools/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Bump to Go 1.25.1
  .go-version
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Transit: Add associated_data to generate data key
  builtin/logical/transit/backend_test.go
  builtin/logical/transit/path_datakey.go
  changelog/1828.txt
  website/content/api-docs/secret/transit.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Transit: Add associated_data to generate data key (#1828)
  builtin/logical/transit/backend_test.go
  builtin/logical/transit/path_datakey.go
  changelog/1828.txt
  website/content/api-docs/secret/transit.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Transit: Add associated_data to generate data key (#1828)
  builtin/logical/transit/backend_test.go
  builtin/logical/transit/path_datakey.go
  changelog/1828.txt
  website/content/api-docs/secret/transit.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix: match schema
  .github/security-insights.yml
Owners: @openbao/openbao-org-maintainers

PKI: Add `allowed_ip_sans_cidr` to roles
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/cert_util.go
  builtin/logical/pki/path_roles.go
Owners: @openbao/openbao-org-maintainers

feat(core): Add metrics_only and disallow_metrics listener options
  http/handler.go
  http/handler_test.go
  http/metrics.go
  internalshared/configutil/listener.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
