Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

implement cache invalidation of legacy mounts
  vault/auth.go
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/mount.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix data race in invalidateNamespaceMounts
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix data race in taint/untaint
  vault/router.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Pin test-summary action
  .github/workflows/test-go.yml
Owners: @openbao/openbao-org-maintainers

CI: add go test summary (#1896)
  .github/workflows/test-go.yml
Owners: @openbao/openbao-org-maintainers

CI: add go test summary (#1896)
  .github/workflows/test-go.yml
Owners: @openbao/openbao-org-maintainers

docs: add warning to mount and auth move
  website/content/api-docs/system/remount.mdx
  website/content/docs/commands/auth/move.mdx
  website/content/docs/commands/secrets/move.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix linter error
  vault/expiration_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add responsible disclosure policy
  website/content/docs/policies/cve.mdx
  website/content/docs/policies/index.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add responsible disclosure policy (#1908)
  website/content/docs/policies/cve.mdx
  website/content/docs/policies/index.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add responsible disclosure policy (#1908)
  website/content/docs/policies/cve.mdx
  website/content/docs/policies/index.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Document missing PostgreSQL telemetry (#1901)
  website/content/docs/internals/telemetry/metrics/all.mdx
  website/content/docs/internals/telemetry/metrics/postgresql.mdx
  website/content/partials/telemetry-metrics/vault/postgresql/delete.mdx
  website/content/partials/telemetry-metrics/vault/postgresql/get.mdx
  website/content/partials/telemetry-metrics/vault/postgresql/list.mdx
  website/content/partials/telemetry-metrics/vault/postgresql/put.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Document missing PostgreSQL telemetry (#1901)
  website/content/docs/internals/telemetry/metrics/all.mdx
  website/content/docs/internals/telemetry/metrics/postgresql.mdx
  website/content/partials/telemetry-metrics/vault/postgresql/delete.mdx
  website/content/partials/telemetry-metrics/vault/postgresql/get.mdx
  website/content/partials/telemetry-metrics/vault/postgresql/list.mdx
  website/content/partials/telemetry-metrics/vault/postgresql/put.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix data race on intermediate mount
  builtin/logical/pki/path_intermediate.go
Owners: @openbao/openbao-org-maintainers

Add changelog
  changelog/1902.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

chore: fix govet issues
  builtin/credential/jwt/path_config_test.go
  builtin/logical/database/backend_test.go
  builtin/logical/database/dbplugin/plugin_test.go
  builtin/logical/database/mocks_test.go
  builtin/logical/database/mockv4.go
  builtin/logical/database/secret_creds.go
  builtin/logical/database/version_wrapper.go
  builtin/logical/pki/acme_challenges_test.go
  builtin/logical/transit/backend_test.go
  command/agentproxyshared/cache/cache_test.go
  helper/random/parser.go
  helper/random/parser_test.go
  helper/random/string_generator_test.go
  helper/storagepacker/storagepacker_test.go
  vault/barrier_view.go
  vault/seal/seal_testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers

post-order-traversal implemented for namespace tree
  vault/external_tests/raft/raft_test.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/namespace_store.go
  vault/namespace_store_tree.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

revert on sdk changes
  .golangci.yml
  api/sys_generate_root.go
  api/sys_namespaces.go
  command/namespace_seal.go
  command/operator_generate_root.go
  http/sys_generate_root.go
  http/sys_generate_root_test.go
  sdk/helper/roottoken/decode.go
  sdk/helper/roottoken/encode_test.go
  sdk/helper/roottoken/otp.go
  sdk/helper/roottoken/otp_test.go
  vault/logical_system_paths.go
  vault/namespace_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix some errcheck lint findings (#1879)
  audit/hashstructure_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix some errcheck lint findings (#1879)
  audit/hashstructure_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

removal: aead seal deprecated
  internalshared/configutil/kms.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

changelog added
  changelog/1910.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

address code review comments
  vault/namespace_store.go
  vault/namespace_store_tree.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix memory leak in raft (#1898)
  changelog/1889.txt
  physical/raft/fsm.go
  physical/raft/transaction.go
  physical/raft/types.pb.go
  physical/raft/types.proto
  sdk/helper/pointerutil/pointer.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix dependabot config
  .github/dependabot.yml
Owners: @openbao/openbao-org-maintainers

fix dependabot config (#1911)
  .github/dependabot.yml
Owners: @openbao/openbao-org-maintainers

fix dependabot config (#1911)
  .github/dependabot.yml
Owners: @openbao/openbao-org-maintainers

deps(lz4): Update to mod compatible version
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/helper/compressutil/compress.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

docs: add warning to mount and auth move
  website/content/api-docs/system/remount.mdx
  website/content/docs/commands/auth/move.mdx
  website/content/docs/commands/secrets/move.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

address code review comments
  vault/identity_store_test.go
  vault/mount_test.go
  vault/namespace_store.go
  vault/namespace_store_test.go
  vault/namespace_store_tree.go
  vault/seal_manager.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feat(sdk): add ML-DSA
  sdk/go.mod
  sdk/go.sum
  sdk/helper/keysutil/lock_manager.go
  sdk/helper/keysutil/policy.go
  sdk/helper/keysutil/policy_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

another round of code review adjustments
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/namespace_store.go
  vault/seal_manager.go
  vault/seal_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix some errcheck lint findings
  builtin/credential/cert/backend_test.go
Owners: @openbao/openbao-org-maintainers

Support BAO_NAMESPACE=root
  changelog/1918.txt
  helper/namespace/namespace.go
  helper/namespace/namespace_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add tlsdebug build tag to log TLS session keys
  Makefile
  helper/tlsdebug/dummy_inject.go
  helper/tlsdebug/inject.go
  physical/raft/raft.go
  vault/cluster/cluster.go
  website/content/docs/contributing/packaging.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feat(transit): add ML-DSA
  builtin/logical/transit/path_export_test.go
  builtin/logical/transit/path_import.go
  builtin/logical/transit/path_keys.go
  builtin/logical/transit/path_keys_test.go
  builtin/logical/transit/path_sign_verify_test.go
Owners: @openbao/openbao-org-maintainers

feat(doc): add ML-DSA for transit
  website/content/api-docs/secret/transit.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update changelog/1918.txt
  changelog/1918.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

add changelog
  changelog/1824.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

simplify error handling
  sdk/helper/pluginutil/oci/downloader.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
