Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Implement cache invalidation for plugins (#1564)
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/router.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

improve cache invalidation tests (#1598)
  vault/core_cache_invalidate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for physical.Cache (#1566)
  sdk/physical/cache.go
  sdk/physical/inmem/cache_test.go
  sdk/physical/physical.go
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for quotas (#1584)
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Unseal standby nodes (#1592)
  vault/core.go
  vault/external_tests/sealmigration/testshared.go
  vault/ha.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for audits (#1596)
  vault/audit.go
  vault/audit_broker.go
  vault/audit_test.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/mount.go
  vault/mount_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add RFC for enabling Standby Nodes handle READ Requests (#1553)
  website/content/docs/rfcs/index.mdx
  website/content/docs/rfcs/standby-nodes-handle-read-requests.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add RFC for enabling Standby Nodes handle READ Requests (#1553)
  website/content/docs/rfcs/index.mdx
  website/content/docs/rfcs/standby-nodes-handle-read-requests.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add RFC on OpenTelemetry
  website/content/docs/rfcs/index.mdx
  website/content/docs/rfcs/opentelemetry.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix links for mdx
  website/content/docs/rfcs/opentelemetry.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Apply suggestions from code review
  website/content/docs/rfcs/opentelemetry.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Move landed RFC from accepted to landed
  website/content/docs/rfcs/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add RFC on OpenTelemetry (#1757)
  website/content/docs/rfcs/index.mdx
  website/content/docs/rfcs/opentelemetry.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add RFC on OpenTelemetry (#1757)
  website/content/docs/rfcs/index.mdx
  website/content/docs/rfcs/opentelemetry.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Handle read requests locally on standby nodes (#1674)
  http/forwarding_test.go
  http/handler.go
  http/handler_test.go
  http/logical.go
  http/logical_test.go
  http/sys_hostinfo_test.go
  http/sys_seal_test.go
  physical/raft/raft.go
  sdk/logical/error.go
  vault/core.go
  vault/core_test.go
  vault/dynamic_system_view.go
  vault/ha.go
  vault/logical_system_paths.go
  vault/request_handling.go
  vault/testing.go
  vault/token_store.go
  vault/wrapping.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

rework cache invalidation error handling (#1682)
  vault/audit.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/ha.go
  vault/ha_test.go
  vault/namespace_store.go
  vault/policy_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add plugin distribution via OCI images
  command/commands.go
  command/plugin_init.go
  command/server/config.go
  command/server/config_plugin_test.go
  command/server/config_test_helpers.go
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/helper/pluginutil/oci/downloader.go
  tools/go.mod
  tools/go.sum
  vault/core.go
  vault/plugin_catalog.go
  vault/plugin_catalog_oci_test.go
  website/content/docs/commands/plugin/index.mdx
  website/content/docs/commands/plugin/init.mdx
  website/content/docs/configuration/oci-plugins.mdx
  website/content/docs/plugins/index.mdx
  website/content/docs/plugins/plugin-management.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

remove mention of Env var interpolation
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

clarify init log message
  command/plugin_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix typo
  website/content/docs/plugins/plugin-management.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

simplify error handling
  sdk/helper/pluginutil/oci/downloader.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add changelog
  changelog/1824.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

clarify auth options
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

use correct error formatting
  command/server/config.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

use builtin authentication of go-containerregistry
  command/server/config.go
  command/server/config_plugin_test.go
  command/server/config_test_helpers.go
  helper/pluginutil/oci/downloader.go
  website/content/docs/commands/plugin/init.mdx
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

improve error handling
  sdk/helper/pluginutil/oci/downloader.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fail plugin init on empty config
  command/plugin_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

move OCI helper package out of SDK
  builtin/logical/kv/types.pb.go
  builtin/logical/pki/cert_template.pb.go
  command/plugin_init.go
  command/server/config.go
  go.mod
  go.sum
  helper/forwarding/types.pb.go
  helper/identity/mfa/types.pb.go
  helper/identity/types.pb.go
  helper/pluginutil/oci/downloader.go
  helper/storagepacker/types.pb.go
  physical/raft/types.pb.go
  sdk/database/dbplugin/database.pb.go
  sdk/database/dbplugin/v5/proto/database.pb.go
  sdk/go.mod
  sdk/go.sum
  sdk/helper/pluginutil/multiplexing.pb.go
  sdk/logical/identity.pb.go
  sdk/logical/plugin.pb.go
  sdk/logical/version.pb.go
  sdk/plugin/pb/backend.pb.go
  tools/go.mod
  tools/go.sum
  vault/plugin_catalog.go
  vault/plugin_catalog_oci_test.go
  vault/request_forwarding_service.pb.go
  vault/tokens/token.pb.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

link to oci config from plugin init docs
  website/content/docs/commands/plugin/init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

update example logs
  website/content/docs/commands/plugin/index.mdx
  website/content/docs/commands/plugin/init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix plugin init comment
  command/plugin_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

rename plugin download fail constant
  command/server/config.go
  sdk/helper/pluginutil/oci/downloader.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix plugin test
  command/server/config_plugin_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix missing pipe character in table column
  website/content/api-docs/auth/approle.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

docs(listener): add docs for metrics_only and disallow_metrics options
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/configuration/listener/unix.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Bump critical dependencies and to Go 1.25.1 (#1832)
  .github/workflows/code-checker.yml
  .go-version
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/jwt/go.mod
  api/auth/jwt/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  scripts/sync-deps-gkw.sh
  scripts/sync-deps.sh
  sdk/go.mod
  sdk/go.sum
  tools/go.mod
  tools/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Bump critical dependencies and to Go 1.25.1 (#1832)
  .github/workflows/code-checker.yml
  .go-version
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/jwt/go.mod
  api/auth/jwt/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  scripts/sync-deps-gkw.sh
  scripts/sync-deps.sh
  sdk/go.mod
  sdk/go.sum
  tools/go.mod
  tools/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

docs(listener): add docs for metrics_only and disallow_metrics options
  website/content/docs/configuration/listener/unix.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

docs(listener): add docs for metrics_only and disallow_metrics options
  website/content/docs/configuration/listener/unix.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

docs(listener): add docs for metrics_only and disallow_metrics options
  website/content/docs/configuration/listener/tcp.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
