Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers

refactor: Remove dependency on github.com/asaskevich/govalidator (#1868)
  builtin/logical/pki/path_config_cluster.go
  builtin/logical/pki/path_config_urls.go
  go.mod
  go.sum
  internalshared/configutil/lint.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

implement cache invalidation of legacy mounts
  vault/auth.go
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/mount.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

refactor: identity timestamps formatted in rfc3339nano
  helper/identity/sentinel.go
  vault/identity_store_aliases.go
  vault/identity_store_entities.go
  vault/identity_store_groups.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

changelog added
  changelog/1873.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Refactor tests
  sdk/helper/structtomap/structtomap_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Identity subsystem returns timestamp strings in RFC3339Nano format (#1873)
  changelog/1873.txt
  helper/identity/sentinel.go
  vault/identity_store_aliases.go
  vault/identity_store_entities.go
  vault/identity_store_groups.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Identity subsystem returns timestamp strings in RFC3339Nano format (#1873)
  changelog/1873.txt
  helper/identity/sentinel.go
  vault/identity_store_aliases.go
  vault/identity_store_entities.go
  vault/identity_store_groups.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix: match schema
  .github/security-insights.yml
Owners: @openbao/openbao-org-maintainers

Default to disable_unauthed_rekey_endpoints=true
  http/handler.go
  internalshared/configutil/listener.go
  vault/logical_system.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

early forward of requests when read replication is disabled
  http/logical.go
  vault/core.go
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

CI: add go test summary
  .github/workflows/test-go.yml
Owners: @openbao/openbao-org-maintainers

feat: add initial security-insights.yml version (#1692)
  .github/security-insights.yml
Owners: @openbao/openbao-org-maintainers

feat: add initial security-insights.yml version (#1692)
  .github/security-insights.yml
Owners: @openbao/openbao-org-maintainers

Remove barrierByStoragePath radix tree
  vault/logical_raw.go
  vault/logical_system_rotate.go
  vault/namespace_store.go
  vault/rotate.go
  vault/seal.go
  vault/seal_autoseal.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove Seal -> SealManager circular dependency
  vault/seal.go
  vault/seal_autoseal.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/docs/configuration/listener/unix.mdx
  website/content/docs/configuration/listener/unix.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update http/metrics.go
  http/metrics.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Per-Namespace-Sealing: Remove barrierByStoragePath (#1707)
  vault/logical_raw.go
  vault/logical_system_rotate.go
  vault/namespace_store.go
  vault/rotate.go
  vault/seal.go
  vault/seal_autoseal.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Support custom metrics paths (#1853)
  changelog/1853.txt
  http/metrics.go
  http/sys_metrics_test.go
  internalshared/configutil/listener.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/configuration/listener/unix.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Support custom metrics paths (#1853)
  changelog/1853.txt
  http/metrics.go
  http/sys_metrics_test.go
  internalshared/configutil/listener.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/configuration/listener/unix.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Fix UI tests following #1732
  ui/app/models/oidc/provider.js
Owners: @openbao/openbao-org-maintainers

Fix UI tests following #1732 (#1877)
  ui/app/models/oidc/provider.js
Owners: @openbao/openbao-org-maintainers

Fix UI tests following #1732 (#1877)
  ui/app/models/oidc/provider.js
Owners: @openbao/openbao-org-maintainers

Add http audit method (#1709)
  builtin/audit/http/backend.go
  builtin/audit/http/backend_test.go
  builtin/audit/http/testing.go
  changelog/1709.txt
  command/audit_enable_test.go
  command/commands.go
  website/content/docs/audit/file.mdx
  website/content/docs/audit/http.mdx
  website/content/docs/audit/socket.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add http audit method (#1709)
  builtin/audit/http/backend.go
  builtin/audit/http/backend_test.go
  builtin/audit/http/testing.go
  changelog/1709.txt
  command/audit_enable_test.go
  command/commands.go
  website/content/docs/audit/file.mdx
  website/content/docs/audit/http.mdx
  website/content/docs/audit/socket.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix memory leak in raft
  physical/raft/fsm.go
  physical/raft/transaction.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix lint finding
  audit/hashstructure_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

allow minor and major updates for dependencies, apply cooldown period to all updates
  .github/dependabot.yml
Owners: @openbao/openbao-org-maintainers

remove json array from listener example
  website/content/docs/configuration/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

refactor: Drop github.com/klauspost/compress
  http/gzip.go
  http/handler.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix(.deb): change deb package_name to openbao(-hsm)
  goreleaser.hsm.yaml
  goreleaser.linux.yaml
Owners: @openbao/openbao-org-maintainers

Fix: Use JobManager instead of github.com/gammazero/workerpool
  vault/rollback.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix: update
  vault/rollback.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feat(deb): create and push APT repository to S3
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

feat(goreleaser): set github owner dynamically
  goreleaser.hsm.yaml
  goreleaser.linux.yaml
  goreleaser.other.yaml
Owners: @openbao/openbao-org-maintainers

feature: namespace seal/unseal cli commands implemented
  api/sys_generate_root.go
  api/sys_namespace.go
  api/sys_namespace_generate_root.go
  api/sys_namespace_seal.go
  api/sys_seal.go
  command/command_test.go
  command/commands.go
  command/format.go
  command/format_test.go
  command/namespace.go
  command/namespace_generate_root.go
  command/namespace_generate_root_test.go
  command/namespace_seal.go
  command/namespace_seal_test.go
  command/namespace_unseal.go
  command/namespace_unseal_test.go
  command/operator_generate_root.go
  command/operator_rekey_test.go
  command/operator_rotate_keys_test.go
  command/status.go
  http/sys_generate_root.go
  http/sys_generate_root_test.go
  sdk/helper/roottoken/encode_test.go
  sdk/helper/roottoken/otp.go
  sdk/helper/roottoken/otp_test.go
  vault/barrier_aes_gcm.go
  vault/external_tests/identity/identity_test.go
  vault/external_tests/quotas/quotas_test.go
  vault/external_tests/token/token_test.go
  vault/logical_system.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_generate_root.go
  vault/logical_system_namespaces_rotate.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/logical_system_paths.go
  vault/logical_system_rotate.go
  vault/namespace_store.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add plugin distribution via OCI images
  command/commands.go
  command/plugin_init.go
  command/server/config.go
  command/server/config_plugin_test.go
  command/server/config_test_helpers.go
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/helper/pluginutil/oci/downloader.go
  vault/core.go
  vault/plugin_catalog.go
  vault/plugin_catalog_oci_test.go
  website/content/docs/commands/plugin/index.mdx
  website/content/docs/commands/plugin/init.mdx
  website/content/docs/configuration/oci-plugins.mdx
  website/content/docs/plugins/index.mdx
  website/content/docs/plugins/plugin-management.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix typo
  website/content/docs/plugins/plugin-management.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

clarify auth options
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix plugin init comment
  command/plugin_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers
