Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

code review adjustments
  api/sys_namespace.go
  api/sys_namespace_generate_root.go
  api/sys_namespace_seal.go
  api/sys_namespaces.go
  api/sys_seal.go
  command/command_test.go
  command/format.go
  command/format_test.go
  command/namespace_seal.go
  command/namespace_unseal.go
  command/namespace_unseal_test.go
  command/operator_unseal.go
  command/status.go
  vault/external_tests/identity/identity_test.go
  vault/external_tests/quotas/quotas_test.go
  vault/external_tests/token/token_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

revert on sdk changes
  .golangci.yml
  api/sys_generate_root.go
  api/sys_namespaces.go
  command/namespace_generate_root_test.go
  command/namespace_seal.go
  command/namespace_seal_test.go
  command/namespace_unseal_test.go
  command/operator_generate_root.go
  http/sys_generate_root.go
  http/sys_generate_root_test.go
  sdk/helper/roottoken/decode.go
  sdk/helper/roottoken/encode_test.go
  sdk/helper/roottoken/otp.go
  sdk/helper/roottoken/otp_test.go
  vault/logical_system_paths.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix(security-insights): Alex is with GitLab now :tada:
  .github/security-insights.yml
Owners: @openbao/openbao-org-maintainers

fix test code
  plugins/database/valkey/valkey_test.go
Owners: @openbao/openbao-org-maintainers

fix(security-insights): Alex is with GitLab now :tada: (#1964)
  .github/security-insights.yml
Owners: @openbao/openbao-org-maintainers

fix(security-insights): Alex is with GitLab now :tada: (#1964)
  .github/security-insights.yml
Owners: @openbao/openbao-org-maintainers

feat: add initial OSSF security scorecard workflow (#1963)
  .github/workflows/scorecard.yml
  README.md
Owners: @openbao/openbao-org-maintainers

feat: add initial OSSF security scorecard workflow (#1963)
  .github/workflows/scorecard.yml
  README.md
Owners: @openbao/openbao-org-maintainers

change Matrix links to Zulip (#1961)
  README.md
  website/content/blog/2025-05-30-namespaces-announcement.md
  website/content/blog/2025-06-17-openbao-to-openssf.md
  website/content/docs/contributing/index.mdx
  website/content/docs/policies/release.mdx
  website/docusaurus.config.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

change Matrix links to Zulip (#1961)
  README.md
  website/content/blog/2025-05-30-namespaces-announcement.md
  website/content/blog/2025-06-17-openbao-to-openssf.md
  website/content/docs/contributing/index.mdx
  website/content/docs/policies/release.mdx
  website/docusaurus.config.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

chore: Reword changelog based on PR comment suggestion
  changelog/1958.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix: Use strings.CutSuffix to simplify logic
  vault/router.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix some errcheck lint findings (#1952)
  builtin/audit/file/backend.go
  builtin/audit/socket/backend.go
  builtin/credential/approle/backend.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix some errcheck lint findings (#1952)
  builtin/audit/file/backend.go
  builtin/audit/socket/backend.go
  builtin/credential/approle/backend.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add check that builds bao with the go on el8 (#1937)
  .github/workflows/code-checker.yml
Owners: @openbao/openbao-org-maintainers

Add check that builds bao with the go on el8 (#1937)
  .github/workflows/code-checker.yml
Owners: @openbao/openbao-org-maintainers

Allow detailed listing for a subset of policies
  vault/logical_system.go
  vault/logical_system_paths.go
  vault/logical_system_test.go
  website/content/api-docs/system/policies.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog entry
  changelog/1965.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

make sync-deps
  sdk/go.mod
  sdk/go.sum
  tools/go.mod
  tools/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

make proto
  builtin/logical/kv/types.pb.go
  builtin/logical/pki/cert_template.pb.go
  helper/forwarding/types.pb.go
  helper/identity/mfa/types.pb.go
  helper/identity/types.pb.go
  helper/storagepacker/types.pb.go
  physical/raft/types.pb.go
  sdk/database/dbplugin/database.pb.go
  sdk/database/dbplugin/v5/proto/database.pb.go
  sdk/helper/pluginutil/multiplexing.pb.go
  sdk/logical/identity.pb.go
  sdk/logical/plugin.pb.go
  sdk/logical/version.pb.go
  sdk/plugin/pb/backend.pb.go
  vault/request_forwarding_service.pb.go
  vault/tokens/token.pb.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

run make sync-deps on Dependabot PRs
  .github/workflows/sync-deps.yaml
Owners: @openbao/openbao-org-maintainers

Allow detailed listing for a subset of policies (#1965)
  changelog/1965.txt
  vault/logical_system.go
  vault/logical_system_paths.go
  vault/logical_system_test.go
  website/content/api-docs/system/policies.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Allow detailed listing for a subset of policies (#1965)
  changelog/1965.txt
  vault/logical_system.go
  vault/logical_system_paths.go
  vault/logical_system_test.go
  website/content/api-docs/system/policies.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Remove make.bat
  make.bat
Owners: @openbao/openbao-org-maintainers

Remove make.bat (#1972)
  make.bat
Owners: @openbao/openbao-org-maintainers

Remove make.bat (#1972)
  make.bat
Owners: @openbao/openbao-org-maintainers

run make sync-deps on Dependabot PRs (#1966)
  .github/workflows/sync-deps.yaml
Owners: @openbao/openbao-org-maintainers

run make sync-deps on Dependabot PRs (#1966)
  .github/workflows/sync-deps.yaml
Owners: @openbao/openbao-org-maintainers

Add Best Practices badge for Scorecard
  README.md
Owners: @openbao/openbao-org-maintainers

move mount invalidation into dedicated worker
  vault/core.go
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/ha.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add Philipp as moderator
  MAINTAINERS.md
Owners: @openbao/openbao-org-maintainers

Add Philipp as moderator (#1976)
  MAINTAINERS.md
Owners: @openbao/openbao-org-maintainers

Add Philipp as moderator (#1976)
  MAINTAINERS.md
Owners: @openbao/openbao-org-maintainers

Add blog post about updated roadmap
  website/content/blog/2025-09-23-mentorship-program.md
  website/content/blog/2025-10-20-roadmap-2.0.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add blog post about updated roadmap (#1975)
  website/content/blog/2025-09-23-mentorship-program.md
  website/content/blog/2025-10-20-roadmap-2.0.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add blog post about updated roadmap (#1975)
  website/content/blog/2025-09-23-mentorship-program.md
  website/content/blog/2025-10-20-roadmap-2.0.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add Best Practices badge for Scorecard (#1973)
  README.md
Owners: @openbao/openbao-org-maintainers

Add Best Practices badge for Scorecard (#1973)
  README.md
Owners: @openbao/openbao-org-maintainers

fix test code
  plugins/database/valkey/valkey_test.go
Owners: @openbao/openbao-org-maintainers

fix test-go workflow: download-artifact downloads artifacts from all workflows
  .github/workflows/test-go.yml
Owners: @openbao/openbao-org-maintainers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
