Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Update tests to expect standby to forward or handle locally
  http/forwarding_test.go
  http/handler_test.go
  http/logical.go
  http/logical_test.go
  http/sys_hostinfo_test.go
  http/sys_seal_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

update testCore_Standby_Common to expect standby writes to succeed
  http/handler.go
  vault/core_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

return early if follower node is attempting to write to storage
  physical/raft/raft.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add back some old vault hooks for early returns
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

handle resp standby errs & refactor err handling into literal
  builtin/logical/pki/path_tidy_test.go
  command/auth_move_test.go
  http/handler.go
  http/logical_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Set ForwardPerformanceStandby for ha-status requests
  http/handler.go
  vault/dynamic_system_view.go
  vault/logical_system_paths.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add lock around post-unseal
  builtin/logical/pki/path_tidy_test.go
  command/auth_move_test.go
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

ensure non-empty body is forwarded to active
  http/handler.go
  http/logical.go
  vault/logical_system_paths.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add helper to check for forwarding err
  http/handler.go
  sdk/logical/error.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

doc(contributing): adjust link to meeting recordings
  website/content/docs/contributing/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update builtin/credential/jwt/path_login.go
  builtin/credential/jwt/path_login.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers

doc(contributing): adjust link to meeting recordings (#1773)
  website/content/docs/contributing/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

doc(contributing): adjust link to meeting recordings (#1773)
  website/content/docs/contributing/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

seal all namespaces with core seal, delete seal manager entries with namespace delete
  vault/core.go
  vault/logical_system_namespaces.go
  vault/namespace_store.go
  vault/seal.go
  vault/seal_autoseal.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Handle read requests locally on standby nodes (#1674)
  http/forwarding_test.go
  http/handler.go
  http/handler_test.go
  http/logical.go
  http/logical_test.go
  http/sys_hostinfo_test.go
  http/sys_seal_test.go
  physical/raft/raft.go
  sdk/logical/error.go
  vault/core.go
  vault/core_test.go
  vault/dynamic_system_view.go
  vault/ha.go
  vault/logical_system_paths.go
  vault/request_handling.go
  vault/testing.go
  vault/token_store.go
  vault/wrapping.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix login renewal with CEL (#1776)
  builtin/credential/jwt/path_cel_login.go
  builtin/credential/jwt/path_login.go
  changelog/1776.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Fix login renewal with CEL (#1776)
  builtin/credential/jwt/path_cel_login.go
  builtin/credential/jwt/path_login.go
  changelog/1776.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

reject JSON bodies which consume large amounts of RAM (#1756)
  changelog/1756.txt
  command/server.go
  http/handler.go
  http/handler_test.go
  internalshared/configutil/listener.go
  vault/request_handling.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/internals/limits.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

reject JSON bodies which consume large amounts of RAM (#1756)
  changelog/1756.txt
  command/server.go
  http/handler.go
  http/handler_test.go
  internalshared/configutil/listener.go
  vault/request_handling.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/internals/limits.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Limit maximum string count, memory in JSON request
  changelog/1756.txt
  command/server.go
  http/handler.go
  http/handler_test.go
  http/json.go
  http/json_test.go
  internalshared/configutil/listener.go
  vault/request_handling.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/internals/limits.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Apply suggestions from code review
  http/json.go
  http/json_test.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/internals/limits.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

rework cache invalidation error handling
  vault/audit.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/ha.go
  vault/namespace_store.go
  vault/policy_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add test for restart functionallity
  vault/ha.go
  vault/ha_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Document channels used by runStandby
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

ignore additional restart requests during active restart
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

rework cache invalidation error handling (#1682)
  vault/audit.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/ha.go
  vault/ha_test.go
  vault/namespace_store.go
  vault/policy_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Use math.MaxInt64 instead of -1, fix tests
  http/handler_test.go
  http/json_test.go
  http/logical_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for mount table
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/mount.go
  vault/namespaces_oss.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

invalidate all mounts in a namespace
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

move router.Invalidate call to the end
  vault/core_cache_invalidate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feat: Add support for forwarded Tls-Client-Cert
  command/server/listener_tcp.go
  http/forwarded_for_test.go
  http/handler.go
  internalshared/configutil/listener.go
  website/content/docs/configuration/listener/tcp.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Replace github.com/natefinch/atomic with helper
  command/token/helper_internal.go
  go.mod
  go.sum
  helper/osutil/replacefile_unix.go
  helper/osutil/replacefile_windows.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog
  changelog/1793.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

barrier key rotation moved to seal manager
  vault/core.go
  vault/logical_system_namespaces_rotate.go
  vault/logical_system_namespaces_rotate_test.go
  vault/logical_system_rotate.go
  vault/namespace_store.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update http/json.go
  http/json.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update changelog/1756.txt
  changelog/1756.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix release-dist checkout failure (#1745)
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

Fix persistence of tokens created through LoginMFA (#1753)
  changelog/1753.txt
  vault/external_tests/identity/login_mfa_totp_test.go
  vault/login_mfa.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Recovery rotation init CLI operation returns the recovery keys (#1754)
  api/sys_rotate.go
  changelog/1754.txt
  command/operator_init.go
  command/operator_rotate_keys.go
  vault/logical_system_rotate.go
  website/content/docs/commands/operator/init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

reject JSON bodies which consume large amounts of RAM (#1756)
  changelog/1756.txt
  command/server.go
  http/handler.go
  http/handler_test.go
  internalshared/configutil/listener.go
  vault/request_handling.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/internals/limits.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
