Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers

return standby error for InmemHaBackend
  sdk/physical/inmem/inmem_ha.go
  sdk/physical/inmem/inmem_ha_test.go
  vault/core_test.go
  vault/external_tests/plugin/external_plugin_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add nil check for policy store invalidation
  vault/core_cache_invalidate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

make restart channel atomic
  vault/core.go
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/docs/migration-guide.mdx
  website/content/docs/migration-guide.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix nil pointer in reloadLegacyMounts
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix nil pointer in reloadLegacyMounts
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add nil check for policy store invalidation
  vault/core_cache_invalidate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

make restart channel atomic
  vault/core.go
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix invalidation conditionals in inmem_ha.go
  sdk/physical/inmem/inmem_ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

grab state lock before closing standbyStop channel
  vault/core.go
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

sort tables
  MAINTAINERS.md
Owners: @openbao/openbao-org-maintainers

add consul plugin team to MAINTAINERS.md
  MAINTAINERS.md
Owners: @openbao/openbao-org-maintainers

refactor repository level comitters table
  MAINTAINERS.md
Owners: @openbao/openbao-org-maintainers

add consul plugin team to MAINTAINERS.md (#2018)
  MAINTAINERS.md
Owners: @openbao/openbao-org-maintainers

add consul plugin team to MAINTAINERS.md (#2018)
  MAINTAINERS.md
Owners: @openbao/openbao-org-maintainers

check for context cancellation in namespace store
  vault/namespace_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

stop attemptIrrevocableLeasesRevoke when activeContext is canceled
  vault/expiration.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add changelog
  changelog/2019.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

move attemptIrrevocableLeasesRevoke into job
  helper/fairshare/simple_job.go
  vault/expiration.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Namespace seal/unseal CLI commands (#1883)
  api/sys_namespaces.go
  command/command_test.go
  command/commands.go
  command/format.go
  command/format_test.go
  command/namespace.go
  command/namespace_generate_root.go
  command/namespace_generate_root_test.go
  command/namespace_seal.go
  command/namespace_seal_test.go
  command/namespace_unseal.go
  command/namespace_unseal_test.go
  command/operator_generate_root.go
  command/operator_rekey_test.go
  command/operator_rotate_keys_test.go
  http/sys_generate_root_test.go
  sdk/helper/roottoken/decode.go
  vault/barrier_aes_gcm.go
  vault/external_tests/identity/identity_test.go
  vault/external_tests/quotas/quotas_test.go
  vault/logical_system.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_generate_root.go
  vault/logical_system_namespaces_rotate.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feature: implemented namespace rotation cli commands
  api/sys_namespaces.go
  command/command_test.go
  command/commands.go
  command/namespace.go
  command/namespace_key_status.go
  command/namespace_key_status_test.go
  command/namespace_rotate.go
  command/namespace_rotate_keys.go
  command/namespace_rotate_keys_test.go
  command/namespace_rotate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Skip invalidations on active node
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Rework when and how mountWorker executes
  vault/core.go
  vault/ha.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Allow marking barrier read-only
  vault/barrier.go
  vault/barrier_aes_gcm.go
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Correctly annotate forwarding layer in tests
  vault/core_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Switch to fairshare-based invalidation manager
  vault/audit.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/mount.go
  vault/policy_store.go
  vault/quotas/quotas.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add plugin distribution via OCI images
  command/commands.go
  command/plugin_init.go
  command/server/config.go
  command/server/config_plugin_test.go
  command/server/config_test_helpers.go
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/helper/pluginutil/oci/downloader.go
  vault/core.go
  vault/plugin_catalog.go
  vault/plugin_catalog_oci_test.go
  website/content/docs/commands/plugin/index.mdx
  website/content/docs/commands/plugin/init.mdx
  website/content/docs/configuration/oci-plugins.mdx
  website/content/docs/plugins/index.mdx
  website/content/docs/plugins/plugin-management.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

clarify init log message
  command/plugin_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

rename plugin download fail constant
  command/server/config.go
  sdk/helper/pluginutil/oci/downloader.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix plugin test
  command/server/config_plugin_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

clarify auth options
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fail plugin init on empty config
  command/plugin_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix plugin init comment
  command/plugin_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add changelog
  changelog/1824.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

use correct error formatting
  command/server/config.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

simplify error handling
  sdk/helper/pluginutil/oci/downloader.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

update example logs
  website/content/docs/commands/plugin/index.mdx
  website/content/docs/commands/plugin/init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

remove mention of Env var interpolation
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

link to oci config from plugin init docs
  website/content/docs/commands/plugin/init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

improve error handling
  sdk/helper/pluginutil/oci/downloader.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers
