Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Remove dependency on github.com/dustin/go-humanize
  go.mod
  go.sum
  vault/diagnose/os_common.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix nil panic with unsafe_cross_namespace_identity
  vault/core_metrics_test.go
  vault/identity_store_aliases_test.go
  vault/identity_store_entities_test.go
  vault/identity_store_test.go
  vault/identity_store_util.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog entry
  changelog/1715.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Use standard library's home directory
  command/token/helper_internal.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Change JSON policy example from 'paths' to 'path'
  website/content/docs/concepts/policies.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog
  changelog/1721.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Delete changelog/1721.txt
  changelog/1721.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Change JSON policy example from 'paths' to 'path' (#1721)
  website/content/docs/concepts/policies.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Change JSON policy example from 'paths' to 'path' (#1721)
  website/content/docs/concepts/policies.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

ensure non-empty body is forwarded to active
  http/handler_test.go
  http/logical.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

return early if follower node is attempting to write to storage
  physical/raft/raft.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add back some old vault hooks for early returns
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

update testCore_Standby_Common to expect standby writes to succeed
  vault/core_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Forward HA status to leader
  http/handler.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

handle resp standby errs & refactor err handling into literal
  http/handler.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix profile field selector for lists, configs
  helper/profiles/history.go
  helper/profiles/request_source.go
  helper/profiles/request_source_test.go
  helper/profiles/response_source.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add custom_metadata to key in transit plugin
  builtin/logical/transit/path_keys.go
  builtin/logical/transit/path_keys_test.go
  sdk/helper/keysutil/lock_manager.go
  sdk/helper/keysutil/policy.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Revert sys/health status code changes
  api/sys_health.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog entry
  changelog/1730.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

ignore additional restart requests during active restart
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for mount table
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/mount.go
  vault/namespaces_oss.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

invalidate all mounts in a namespace
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feat(cel): ext helpers (#1697)
  builtin/credential/jwt/path_cel_role.go
  changelog/1697.txt
  sdk/helper/cel/helpers.go
  sdk/helper/cel/helpers_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

feat(cel): ext helpers (#1697)
  builtin/credential/jwt/path_cel_role.go
  changelog/1697.txt
  sdk/helper/cel/helpers.go
  sdk/helper/cel/helpers_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Revert sys/health status code changes (#1730)
  api/sys_health.go
  changelog/1730.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Revert sys/health status code changes (#1730)
  api/sys_health.go
  changelog/1730.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

add blog closing post for osseu 2025
  website/content/blog/2025-08-28-openbao-oss-europe-2025-wrap.md
  website/public/img/openbao-osseu-2025.jpg
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add description
  website/content/blog/2025-08-28-openbao-oss-europe-2025-wrap.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add missing company name
  website/content/blog/2025-08-28-openbao-oss-europe-2025-wrap.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog entry
  changelog/1715.txt
  vault/identity_store_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add Ken McDonald as GitLab secondary voting rep
  CONTRIBUTING.md
Owners: @openbao/openbao-org-maintainers

Don't mirror from forks
  .github/workflows/mirror.yml
Owners: @openbao/openbao-org-maintainers

Fix DockerCluster with non-HA backend
  sdk/helper/testcluster/docker/environment.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Don't mirror from forks (#1737)
  .github/workflows/mirror.yml
Owners: @openbao/openbao-org-maintainers

Don't mirror from forks (#1737)
  .github/workflows/mirror.yml
Owners: @openbao/openbao-org-maintainers

Add Ken McDonald as GitLab secondary voting rep (#1736)
  CONTRIBUTING.md
Owners: @openbao/openbao-org-maintainers

Add Ken McDonald as GitLab secondary voting rep (#1736)
  CONTRIBUTING.md
Owners: @openbao/openbao-org-maintainers

Fix DockerCluster with non-HA backend (#1738)
  sdk/helper/testcluster/docker/environment.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix DockerCluster with non-HA backend (#1738)
  sdk/helper/testcluster/docker/environment.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update vault/identity_store_test.go
  vault/identity_store_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
