Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers

Update goreleaser to latest, add license
  .github/workflows/release.yml
  Makefile
  goreleaser.hsm.yaml
  goreleaser.linux.yaml
  goreleaser.other.yaml
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

incorporate review feedback
  website/content/blog/2025-08-28-openbao-oss-europe-2025-wrap.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix: init command now returning back the recovery keys on generation
  api/sys_rotate.go
  command/operator_rotate_keys.go
  vault/logical_system_rotate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

refactor: operator init command now allows for recovery_shares of 0
  command/operator_init.go
  website/content/docs/commands/operator/init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

changelog added
  changelog/1754.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

cr: addressed comments
  command/operator_init.go
  command/operator_rotate_keys.go
  website/content/docs/commands/operator/init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix typos
  website/content/blog/2025-08-28-openbao-oss-europe-2025-wrap.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

reject JSON bodies which consume large amounts of RAM
  changelog/1756.txt
  command/server.go
  http/handler.go
  http/handler_test.go
  internalshared/configutil/listener.go
  vault/request_handling.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/internals/limits.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Update website/content/docs/internals/limits.mdx
  website/content/docs/internals/limits.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Apply suggestions from code review
  changelog/1756.txt
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/internals/limits.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add RFC on OpenTelemetry
  website/content/docs/rfcs/index.mdx
  website/content/docs/rfcs/opentelemetry.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update helpers.go
  sdk/helper/cel/helpers.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

A few tweaks to wording
  website/content/docs/rfcs/control-groups.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

docs
  sdk/helper/cel/helpers.go
  sdk/helper/cel/helpers_test.go
  website/content/docs/secrets/pki/cel.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add wrap-up blog post for OSS-EU 2025 (#1735)
  website/content/blog/2025-08-28-openbao-oss-europe-2025-wrap.md
  website/public/img/openbao-osseu-2025.jpg
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add wrap-up blog post for OSS-EU 2025 (#1735)
  website/content/blog/2025-08-28-openbao-oss-europe-2025-wrap.md
  website/public/img/openbao-osseu-2025.jpg
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

seal newly created sealable namespaces
  vault/generate_root_test.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_rotate_test.go
  vault/logical_system_namespaces_seals_test.go
  vault/namespace_store.go
  vault/seal_manager.go
  vault/seal_test.go
  vault/storage_access.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix persistence of tokens created through LoginMFA
  vault/login_mfa.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog entry
  changelog/1753.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Fix single-phase MFA with inline authentication
  vault/external_tests/identity/login_mfa_totp_test.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add second changelog entry
  changelog/1753.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Remove dependency on bitnami/cassandra container image
  plugins/database/cassandra/connection_producer_test.go
  plugins/database/cassandra/test-fixtures/with_tls/cassandra.yaml
Owners: @openbao/openbao-org-maintainers

refactor: removed usage of go.uber.org/atomic
  builtin/logical/pki/backend.go
  builtin/logical/pki/crl_util.go
  command/agent/template/template.go
  command/agentproxyshared/cache/lease_cache.go
  command/agentproxyshared/cache/lease_cache_test.go
  command/agentproxyshared/sink/inmem/inmem_sink.go
  command/server.go
  go.mod
  helper/monitor/monitor.go
  http/logical.go
  physical/raft/raft_autopilot.go
  physical/raft/snapshot.go
  sdk/go.mod
  sdk/go.sum
  sdk/helper/testcluster/docker/environment.go
  sdk/physical/latency.go
  serviceregistration/kubernetes/testing/testserver.go
  vault/barrier_aes_gcm.go
  vault/cluster.go
  vault/cluster/inmem_layer.go
  vault/cluster/inmem_layer_test.go
  vault/cluster/tcp_layer.go
  vault/core.go
  vault/expiration.go
  vault/external_tests/misc/recovery_test.go
  vault/external_tests/quotas/quotas_test.go
  vault/generate_root_recovery.go
  vault/quotas/quotas_rate_limit_test.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

add {LICENSE|SPDX|VERSION}_NODE_MODULES.txt to the release dist tarball
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

Fix website/README.md not following own best practices
  website/README.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add guide on PKCS#11 Auto-Unseal with Utimaco HSMs
  website/content/docs/configuration/seal/pkcs11.mdx
  website/content/docs/guides/unseal/pkcs11/utimaco.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

doc(csi): adjust and make documentation public
  website/content/docs/platform/k8s/csi/configurations.mdx
  website/content/docs/platform/k8s/csi/examples.mdx
  website/content/docs/platform/k8s/csi/index.mdx
  website/content/docs/platform/k8s/csi/installation.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Update website/content/docs/platform/k8s/csi/index.mdx
  website/content/docs/platform/k8s/csi/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

doc: adjust title in sidebar
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix website/README.md not following own best practices (#1767)
  website/README.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix website/README.md not following own best practices (#1767)
  website/README.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

doc(csi): adjust and make documentation public (#1766)
  website/content/docs/platform/k8s/csi/configurations.mdx
  website/content/docs/platform/k8s/csi/examples.mdx
  website/content/docs/platform/k8s/csi/index.mdx
  website/content/docs/platform/k8s/csi/installation.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

doc(csi): adjust and make documentation public (#1766)
  website/content/docs/platform/k8s/csi/configurations.mdx
  website/content/docs/platform/k8s/csi/examples.mdx
  website/content/docs/platform/k8s/csi/index.mdx
  website/content/docs/platform/k8s/csi/installation.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

doc(csi): minor adjustments
  website/content/docs/platform/k8s/csi/configurations.mdx
  website/content/docs/platform/k8s/csi/installation.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

doc(kubernetes): supported versions, add 1.33
  website/content/partials/kubernetes-supported-versions.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

seal newly created sealable namespaces (#1761)
  vault/generate_root_test.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_rotate_test.go
  vault/logical_system_namespaces_seals_test.go
  vault/namespace_store.go
  vault/seal_manager.go
  vault/seal_test.go
  vault/storage_access.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix(docs): remove space to render warning box correctly
  website/content/docs/configuration/listener/tcp.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add guide on PKCS#11 Auto-Unseal with Utimaco HSMs (#1758)
  website/content/docs/configuration/seal/pkcs11.mdx
  website/content/docs/guides/unseal/pkcs11/utimaco.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add guide on PKCS#11 Auto-Unseal with Utimaco HSMs (#1758)
  website/content/docs/configuration/seal/pkcs11.mdx
  website/content/docs/guides/unseal/pkcs11/utimaco.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix(docs): remove space to render warning box correctly (#1770)
  website/content/docs/configuration/listener/tcp.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers
