Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers

ensure non-empty body is forwarded to active
  http/handler_test.go
  http/logical.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Forward HA status to leader
  http/handler.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add back some old vault hooks for early returns
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

handle resp standby errs & refactor err handling into literal
  builtin/logical/pki/path_tidy_test.go
  command/auth_move_test.go
  http/handler.go
  http/logical_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add lock around post-unseal
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove github.com/dustin/go-humanize (#1719)
  command/token/helper_internal.go
  go.mod
  go.sum
  vault/diagnose/os_common.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove github.com/dustin/go-humanize (#1719)
  command/token/helper_internal.go
  go.mod
  go.sum
  vault/diagnose/os_common.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

remove redundant
  builtin/logical/pki/path_tidy_test.go
  command/auth_move_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update changelog/1779.txt
  changelog/1779.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Update changelog/1779.txt
  changelog/1779.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Added some potential API examples; added to rfc index
  website/content/docs/rfcs/control-groups.mdx
  website/content/docs/rfcs/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Added Unresolved Questions?
  website/content/docs/rfcs/control-groups.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

refactor: revert on deletion of namespace_oss.go with some tweaks
  vault/logical_system_quotas.go
  vault/mount.go
  vault/namespace_oss.go
  vault/namespace_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

cr: addressed comments
  command/operator_init.go
  command/operator_rotate_keys.go
  website/content/docs/commands/operator/init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Replace go-cache with zcache
  builtin/credential/jwt/backend.go
  builtin/credential/jwt/path_oidc.go
  builtin/logical/totp/backend.go
  builtin/logical/totp/path_code.go
  command/agentproxyshared/cache/lease_cache.go
  go.mod
  go.sum
  vault/core.go
  vault/external_tests/identity/login_mfa_totp_test.go
  vault/identity_store.go
  vault/identity_store_oidc.go
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_test.go
  vault/login_mfa.go
  vault/request_forwarding_rpc.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers

Remove unnecessary `*_util.go` files in /vault package (#1772)
  vault/barrier_aes_gcm.go
  vault/core.go
  vault/core_util.go
  vault/core_util_common.go
  vault/dynamic_system_view.go
  vault/identity_store.go
  vault/identity_store_aliases.go
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_provider_util.go
  vault/identity_store_oss.go
  vault/identity_store_structs.go
  vault/identity_store_test.go
  vault/identity_store_util.go
  vault/keyring.go
  vault/logical_system_quotas.go
  vault/mount.go
  vault/mount_util.go
  vault/mount_util_shared.go
  vault/namespace_oss.go
  vault/namespace_store.go
  vault/namespaces_oss.go
  vault/password_policy_util.go
  vault/seal_testing.go
  vault/seal_testing_util.go
  vault/token_store.go
  vault/token_store_util_common.go
  vault/util.go
  vault/util_test.go
  vault/vault_version_time.go
  vault/version_store.go
  vault/wrapping_util.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove unnecessary `*_util.go` files in /vault package (#1772)
  vault/barrier_aes_gcm.go
  vault/core.go
  vault/core_util.go
  vault/core_util_common.go
  vault/dynamic_system_view.go
  vault/identity_store.go
  vault/identity_store_aliases.go
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_provider_util.go
  vault/identity_store_oss.go
  vault/identity_store_structs.go
  vault/identity_store_test.go
  vault/identity_store_util.go
  vault/keyring.go
  vault/logical_system_quotas.go
  vault/mount.go
  vault/mount_util.go
  vault/mount_util_shared.go
  vault/namespace_oss.go
  vault/namespace_store.go
  vault/namespaces_oss.go
  vault/password_policy_util.go
  vault/seal_testing.go
  vault/seal_testing_util.go
  vault/token_store.go
  vault/token_store_util_common.go
  vault/util.go
  vault/util_test.go
  vault/vault_version_time.go
  vault/version_store.go
  vault/wrapping_util.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Rename req to res where appropriate
  http/logical_test.go
  vault/external_tests/plugin/external_plugin_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix(backend): Missing OIDCFlow (#1779)
  builtin/credential/jwt/backend.go
  changelog/1779.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

fix(backend): Missing OIDCFlow (#1779)
  builtin/credential/jwt/backend.go
  changelog/1779.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Recovery rotation init CLI operation returns the recovery keys (#1754)
  api/sys_rotate.go
  changelog/1754.txt
  command/operator_init.go
  command/operator_rotate_keys.go
  vault/logical_system_rotate.go
  website/content/docs/commands/operator/init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Recovery rotation init CLI operation returns the recovery keys (#1754)
  api/sys_rotate.go
  changelog/1754.txt
  command/operator_init.go
  command/operator_rotate_keys.go
  vault/logical_system_rotate.go
  website/content/docs/commands/operator/init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Replace go-cache with zcache (#1777)
  builtin/credential/jwt/backend.go
  builtin/credential/jwt/path_oidc.go
  builtin/logical/totp/backend.go
  builtin/logical/totp/path_code.go
  command/agentproxyshared/cache/lease_cache.go
  go.mod
  go.sum
  vault/core.go
  vault/external_tests/identity/login_mfa_totp_test.go
  vault/identity_store.go
  vault/identity_store_oidc.go
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_test.go
  vault/login_mfa.go
  vault/request_forwarding_rpc.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers

Replace go-cache with zcache (#1777)
  builtin/credential/jwt/backend.go
  builtin/credential/jwt/path_oidc.go
  builtin/logical/totp/backend.go
  builtin/logical/totp/path_code.go
  command/agentproxyshared/cache/lease_cache.go
  go.mod
  go.sum
  vault/core.go
  vault/external_tests/identity/login_mfa_totp_test.go
  vault/identity_store.go
  vault/identity_store_oidc.go
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_test.go
  vault/login_mfa.go
  vault/request_forwarding_rpc.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers

Small tweaks to rfc language
  website/content/docs/rfcs/control-groups.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog entry
  changelog/1709.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add HTTP audit method
  builtin/audit/http/backend.go
  builtin/audit/http/backend_test.go
  builtin/audit/http/testing.go
  command/audit_enable_test.go
  command/commands.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add warnings against unsafe audit device creation
  website/content/docs/audit/file.mdx
  website/content/docs/audit/http.mdx
  website/content/docs/audit/socket.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add documentation on http audit device
  website/content/docs/audit/http.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

doc: Patch command should reference RFC7396
  website/content/docs/commands/patch.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

doc: Patch command should reference RFC7396 (#1785)
  website/content/docs/commands/patch.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

doc: Patch command should reference RFC7396 (#1785)
  website/content/docs/commands/patch.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add ListIndexes method IndexManager
  website/content/docs/rfcs/efficient-search-components.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Include RFC in side bar
  website/content/docs/rfcs/efficient-search-components.mdx
  website/content/docs/rfcs/index.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Use RFC 5612 Private Enterprise Number
  builtin/logical/pki/path_roles.go
  builtin/logical/pki/path_roles_test.go
Owners: @openbao/openbao-org-maintainers

Update builtin/logical/pki/path_roles_test.go
  builtin/logical/pki/path_roles_test.go
Owners: @openbao/openbao-org-maintainers

Fix encoding of certificate
  builtin/logical/pki/path_roles_test.go
Owners: @openbao/openbao-org-maintainers

Use RFC 5612 Private Enterprise Number (#1788)
  builtin/logical/pki/path_roles.go
  builtin/logical/pki/path_roles_test.go
Owners: @openbao/openbao-org-maintainers

Use RFC 5612 Private Enterprise Number (#1788)
  builtin/logical/pki/path_roles.go
  builtin/logical/pki/path_roles_test.go
Owners: @openbao/openbao-org-maintainers

Work with existing transaction
  sdk/bptree/storage_transactional.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers
