Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers

implement namespace key rotation config endpoint (#27)
  vault/logical_system.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implemented core logic to generate-root tokens for sealed namespaces (#36)
  http/sys_generate_root.go
  sdk/logical/response.go
  vault/core.go
  vault/expiration_test.go
  vault/generate_root.go
  vault/generate_root_recovery.go
  vault/generate_root_test.go
  vault/init.go
  vault/seal_manager.go
  vault/seal_test.go
  vault/testing.go
  vault/token_store.go
  vault/token_store_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Handle mount and auth table on namespace sealing/unsealing (#39)
  vault/auth.go
  vault/core.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/mount.go
  vault/namespace_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Generate-Root CLI commands implementation (#38)
  command/commands.go
  command/namespace_generate_root.go
  vault/acl.go
  vault/acl_test.go
  vault/core.go
  vault/generate_root.go
  vault/logical_system.go
  vault/logical_system_namespaces_generate_root.go
  vault/logical_system_namespaces_test.go
  vault/namespace_store.go
  vault/policy_store.go
  vault/seal_manager.go
  vault/seal_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

code review changes
  command/namespace.go
  command/namespace_generate_root.go
  helper/namespace/namespace.go
  http/sys_generate_root.go
  sdk/helper/consts/error.go
  vault/acl.go
  vault/barrier.go
  vault/barrier_test.go
  vault/core.go
  vault/core_metrics.go
  vault/counters.go
  vault/expiration_test.go
  vault/generate_root.go
  vault/generate_root_recovery.go
  vault/generate_root_test.go
  vault/init.go
  vault/logical_system.go
  vault/logical_system_namespaces_generate_root.go
  vault/logical_system_namespaces_seals_test.go
  vault/namespace_store.go
  vault/namespace_store_test.go
  vault/seal_manager.go
  vault/token_store.go
  vault/token_store_test.go
  vault/version_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Humble attempt to fix tests
  vault/generate_root.go
  vault/logical_system_namespaces_generate_root.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

cr: another hefty chunk of addressed comments
  api/sys_generate_root.go
  http/sys_generate_root.go
  sdk/logical/response.go
  vault/acl.go
  vault/acl_test.go
  vault/auth.go
  vault/auth_test.go
  vault/barrier.go
  vault/barrier_test.go
  vault/core.go
  vault/generate_root.go
  vault/logical_system.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_test.go
  vault/logical_system_user_lockout.go
  vault/mount.go
  vault/mount_test.go
  vault/namespace_store.go
  vault/request_handling.go
  vault/seal_manager.go
  vault/seal_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

linting errors fixed and adjustments
  command/namespace_generate_root.go
  vault/acl_test.go
  vault/auth.go
  vault/generate_root.go
  vault/generate_root_test.go
  vault/logical_system.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/mount.go
  vault/namespace_store_test.go
  vault/seal_manager.go
  vault/seal_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

refactor: seal manager refactor with locks and other tweaks
  http/sys_generate_root.go
  vault/generate_root.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_generate_root.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/namespace_store.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add Recovery Seal RFC
  website/content/docs/rfcs/index.mdx
  website/content/docs/rfcs/recovery-seal.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Per-namespace rotation operations implementation (#1706)
  http/sys_rekey.go
  vault/core.go
  vault/generate_root.go
  vault/logical_system.go
  vault/logical_system_namespaces_rotate.go
  vault/logical_system_namespaces_rotate_test.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/logical_system_paths.go
  vault/logical_system_rotate.go
  vault/logical_system_test.go
  vault/rekey.go
  vault/rekey_test.go
  vault/rotate.go
  vault/rotate_test.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

seal newly created sealable namespaces (#1761)
  vault/generate_root_test.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_rotate_test.go
  vault/logical_system_namespaces_seals_test.go
  vault/namespace_store.go
  vault/seal_manager.go
  vault/seal_test.go
  vault/storage_access.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Seal Manager lifecycle adjustment (#1792)
  vault/core.go
  vault/expiration.go
  vault/expiration_test.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_rotate.go
  vault/logical_system_namespaces_rotate_test.go
  vault/logical_system_rotate.go
  vault/namespace_store.go
  vault/namespaces_oss.go
  vault/rotate.go
  vault/seal.go
  vault/seal_autoseal.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Per-Namespace-Sealing: Remove barrierByStoragePath (#1707)
  vault/logical_raw.go
  vault/logical_system_rotate.go
  vault/namespace_store.go
  vault/rotate.go
  vault/seal.go
  vault/seal_autoseal.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feature: namespace seal/unseal cli commands implemented
  .golangci.yml
  api/sys_generate_root.go
  api/sys_namespace.go
  api/sys_namespace_generate_root.go
  api/sys_namespace_seal.go
  api/sys_seal.go
  command/command_test.go
  command/commands.go
  command/format.go
  command/format_test.go
  command/namespace.go
  command/namespace_generate_root.go
  command/namespace_generate_root_test.go
  command/namespace_seal.go
  command/namespace_seal_test.go
  command/namespace_unseal.go
  command/namespace_unseal_test.go
  command/operator_generate_root.go
  command/operator_rekey_test.go
  command/operator_rotate_keys_test.go
  command/status.go
  http/sys_generate_root.go
  http/sys_generate_root_test.go
  sdk/helper/roottoken/encode_test.go
  sdk/helper/roottoken/otp.go
  sdk/helper/roottoken/otp_test.go
  vault/barrier_aes_gcm.go
  vault/external_tests/identity/identity_test.go
  vault/external_tests/quotas/quotas_test.go
  vault/external_tests/token/token_test.go
  vault/logical_system.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_generate_root.go
  vault/logical_system_namespaces_rotate.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/logical_system_paths.go
  vault/logical_system_rotate.go
  vault/namespace_store.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

code review adjustments
  api/sys_namespace.go
  api/sys_namespace_generate_root.go
  api/sys_namespace_seal.go
  api/sys_namespaces.go
  api/sys_seal.go
  command/command_test.go
  command/format.go
  command/format_test.go
  command/namespace_seal.go
  command/namespace_unseal.go
  command/namespace_unseal_test.go
  command/operator_unseal.go
  command/status.go
  vault/external_tests/identity/identity_test.go
  vault/external_tests/quotas/quotas_test.go
  vault/external_tests/token/token_test.go
  vault/namespace_store.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Kubernetes authentication CLI support
  builtin/credential/kubernetes/cli.go
  command/commands.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-k8s-committers, @openbao/openbao-core-committers

refactor: removed otp file, moved functionality to consumers
  command/namespace_generate_root.go
  command/operator_generate_root.go
  command/operator_rekey_test.go
  command/operator_rotate_keys_test.go
  sdk/helper/roottoken/decode.go
  sdk/helper/roottoken/encode_test.go
  sdk/helper/roottoken/otp.go
  sdk/helper/roottoken/otp_test.go
  vault/logical_system.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix memory leak in raft
  changelog/1889.txt
  physical/raft/fsm.go
  physical/raft/transaction.go
  physical/raft/types.pb.go
  physical/raft/types.proto
  sdk/helper/pointerutil/pointer.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add comment to RaftTransaction.Commit
  physical/raft/transaction.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Switch to singleton pattern regexes
  sdk/framework/backend.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog entry
  changelog/1893.txt
  sdk/framework/backend.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Delay updates for dependencies to counter supply chain attacks (#1861)
  .github/dependabot.yml
Owners: @openbao/openbao-org-maintainers

Delay updates for dependencies to counter supply chain attacks (#1861)
  .github/dependabot.yml
Owners: @openbao/openbao-org-maintainers

Add feature flag for read replication and fix some forwarding bugs (#1849)
  .github/workflows/test-go.yml
  builtin/logical/kv/passthrough.go
  http/logical.go
  internalshared/configutil/config.go
  physical/raft/raft.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/ha.go
  vault/request_handling.go
  website/content/docs/configuration/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Switch to singleton pattern regexes (#1893)
  changelog/1893.txt
  sdk/framework/backend.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Switch to singleton pattern regexes (#1893)
  changelog/1893.txt
  sdk/framework/backend.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Kubernetes authentication CLI support Integrated Kubernetes authentication method into login handlers map Users can now authenticate via CLI using "bao login -method=kubernetes" Add changelog
  changelog/1891.txt
  command/commands.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

CI: add go test summary
  .github/workflows/test-go.yml
Owners: @openbao/openbao-org-maintainers

Fix memory leak in raft (#1889)
  changelog/1889.txt
  physical/raft/fsm.go
  physical/raft/transaction.go
  physical/raft/types.pb.go
  physical/raft/types.proto
  sdk/helper/pointerutil/pointer.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Fix memory leak in raft (#1889)
  changelog/1889.txt
  physical/raft/fsm.go
  physical/raft/transaction.go
  physical/raft/types.pb.go
  physical/raft/types.proto
  sdk/helper/pointerutil/pointer.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Drop `handleRequestForwarding`
  http/handler.go
  http/help.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix memory leak in raft (#1889)
  changelog/1889.txt
  physical/raft/fsm.go
  physical/raft/transaction.go
  physical/raft/types.pb.go
  physical/raft/types.proto
  sdk/helper/pointerutil/pointer.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

forward requests based on substring match
  sdk/logical/error.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix: plugin-version arg gaps in documentation addresed
  command/plugin_info.go
  website/content/docs/commands/auth/enable.mdx
  website/content/docs/commands/plugin/info.mdx
  website/content/docs/commands/plugin/register.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix: plugin-version arg gaps in documentation addresed (#1900)
  command/plugin_info.go
  website/content/docs/commands/auth/enable.mdx
  website/content/docs/commands/plugin/info.mdx
  website/content/docs/commands/plugin/register.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix: plugin-version arg gaps in documentation addresed (#1900)
  command/plugin_info.go
  website/content/docs/commands/auth/enable.mdx
  website/content/docs/commands/plugin/info.mdx
  website/content/docs/commands/plugin/register.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Read replication read only error detection (#1897)
  http/handler.go
  http/help.go
  sdk/logical/error.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

refactor: namespace sealing also cleans up nonsealable ns resources
  vault/logical_system_namespaces_seals.go
  vault/namespace_store.go
  vault/seal_manager.go
  vault/seal_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add blogpost about mentorship program
  website/content/blog/2025-09-23-mentorship-program.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers
