Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers

fix(docs): remove space to render warning box correctly (#1770)
  website/content/docs/configuration/listener/tcp.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

doc(csi): minor adjustments (#1769)
  website/content/docs/platform/k8s/csi/configurations.mdx
  website/content/docs/platform/k8s/csi/installation.mdx
  website/content/partials/kubernetes-supported-versions.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

doc(csi): minor adjustments (#1769)
  website/content/docs/platform/k8s/csi/configurations.mdx
  website/content/docs/platform/k8s/csi/installation.mdx
  website/content/partials/kubernetes-supported-versions.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

refactor: removed unneccessary *_util.go files with additional cleanup
  vault/core.go
  vault/core_util.go
  vault/core_util_common.go
  vault/dynamic_system_view.go
  vault/identity_store.go
  vault/identity_store_aliases.go
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_provider_util.go
  vault/identity_store_oss.go
  vault/identity_store_structs.go
  vault/identity_store_test.go
  vault/identity_store_util.go
  vault/memzero.go
  vault/memzero_test.go
  vault/mount.go
  vault/mount_util.go
  vault/mount_util_shared.go
  vault/namespace_store.go
  vault/namespaces_oss.go
  vault/password_policy_util.go
  vault/seal_testing.go
  vault/seal_testing_util.go
  vault/token_store.go
  vault/token_store_util_common.go
  vault/vault_version_time.go
  vault/version_store.go
  vault/wrapping_util.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

cr: addressed comments
  command/agentproxyshared/cache/lease_cache.go
  vault/barrier_aes_gcm.go
  vault/core.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix persistence of tokens created through LoginMFA (#1753)
  changelog/1753.txt
  vault/external_tests/identity/login_mfa_totp_test.go
  vault/login_mfa.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Fix persistence of tokens created through LoginMFA (#1753)
  changelog/1753.txt
  vault/external_tests/identity/login_mfa_totp_test.go
  vault/login_mfa.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

doc(contributing): adjust link to meeting recordings
  website/content/docs/contributing/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

doc: typo
  website/content/docs/contributing/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add RFC
  website/content/docs/rfcs/efficient-search-components.mdx
  website/content/docs/rfcs/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/docs/rfcs/efficient-search-components.mdx
  website/content/docs/rfcs/efficient-search-components.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/docs/rfcs/efficient-search-components.mdx
  website/content/docs/rfcs/efficient-search-components.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix typo and include PoC
  website/content/docs/rfcs/efficient-search-components.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add additional unresolved questions
  website/content/docs/rfcs/efficient-search-components.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add Node Keys
  website/content/docs/rfcs/efficient-search-components.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add header to RFC file and movie it to Accepted section
  website/content/docs/rfcs/efficient-search-components.mdx
  website/content/docs/rfcs/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix indenting
  website/content/docs/rfcs/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Drop "go.uber.org/atomic" package (#1763)
  builtin/logical/pki/backend.go
  builtin/logical/pki/crl_util.go
  command/agent/template/template.go
  command/agentproxyshared/cache/lease_cache.go
  command/agentproxyshared/cache/lease_cache_test.go
  command/agentproxyshared/sink/inmem/inmem_sink.go
  command/server.go
  go.mod
  helper/monitor/monitor.go
  http/logical.go
  physical/raft/raft_autopilot.go
  physical/raft/snapshot.go
  sdk/go.mod
  sdk/go.sum
  sdk/helper/testcluster/docker/environment.go
  sdk/physical/latency.go
  serviceregistration/kubernetes/testing/testserver.go
  vault/barrier_aes_gcm.go
  vault/cluster.go
  vault/cluster/inmem_layer.go
  vault/cluster/inmem_layer_test.go
  vault/cluster/tcp_layer.go
  vault/core.go
  vault/expiration.go
  vault/external_tests/misc/recovery_test.go
  vault/external_tests/quotas/quotas_test.go
  vault/generate_root_recovery.go
  vault/quotas/quotas_rate_limit_test.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Drop "go.uber.org/atomic" package (#1763)
  builtin/logical/pki/backend.go
  builtin/logical/pki/crl_util.go
  command/agent/template/template.go
  command/agentproxyshared/cache/lease_cache.go
  command/agentproxyshared/cache/lease_cache_test.go
  command/agentproxyshared/sink/inmem/inmem_sink.go
  command/server.go
  go.mod
  helper/monitor/monitor.go
  http/logical.go
  physical/raft/raft_autopilot.go
  physical/raft/snapshot.go
  sdk/go.mod
  sdk/go.sum
  sdk/helper/testcluster/docker/environment.go
  sdk/physical/latency.go
  serviceregistration/kubernetes/testing/testserver.go
  vault/barrier_aes_gcm.go
  vault/cluster.go
  vault/cluster/inmem_layer.go
  vault/cluster/inmem_layer_test.go
  vault/cluster/tcp_layer.go
  vault/core.go
  vault/expiration.go
  vault/external_tests/misc/recovery_test.go
  vault/external_tests/quotas/quotas_test.go
  vault/generate_root_recovery.go
  vault/quotas/quotas_rate_limit_test.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

refactor: using clear() instead of memzero
  vault/barrier_aes_gcm.go
  vault/keyring.go
  vault/memzero.go
  vault/memzero_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Apply suggestions from code review
  website/content/docs/rfcs/opentelemetry.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix links for mdx
  website/content/docs/rfcs/opentelemetry.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove dependency on bitnami/cassandra container image (#1762)
  plugins/database/cassandra/connection_producer_test.go
  plugins/database/cassandra/test-fixtures/with_tls/cassandra.yaml
Owners: @openbao/openbao-org-maintainers

Remove dependency on bitnami/cassandra container image (#1762)
  plugins/database/cassandra/connection_producer_test.go
  plugins/database/cassandra/test-fixtures/with_tls/cassandra.yaml
Owners: @openbao/openbao-org-maintainers

Rename req to res where appropriate
  http/logical_test.go
  vault/external_tests/plugin/external_plugin_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix login renewal with CEL
  builtin/credential/jwt/path_cel_login.go
  builtin/credential/jwt/path_login.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers

Add changelog entry
  changelog/1776.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Fix remaining ineffassign linter errors
  builtin/credential/approle/backend_test.go
  builtin/credential/approle/path_login_test.go
  builtin/credential/approle/path_role_test.go
  builtin/credential/cert/path_crls_test.go
  builtin/credential/jwt/path_cel_role.go
  builtin/credential/jwt/path_cel_role_test.go
  builtin/credential/kubernetes/path_config_test.go
  builtin/credential/kubernetes/path_login_test.go
  builtin/logical/database/credentials_test.go
  builtin/logical/database/secret_creds.go
  builtin/logical/kubernetes/integrationtest/helpers.go
  builtin/logical/kubernetes/integrationtest/integration_test.go
  builtin/logical/kv/path_data_test.go
  builtin/logical/kv/path_subkeys_test.go
  builtin/logical/openldap/path_static_roles_test.go
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/path_acme_test.go
  builtin/logical/pki/path_cel_test.go
  builtin/logical/pki/path_tidy_test.go
  builtin/logical/pkiext/nginx_test.go
  builtin/logical/pkiext/pkiext_binary/acme_test.go
  builtin/logical/ssh/path_roles.go
  command/agent/config/config_test.go
  command/agent_test.go
  vault/external_tests/api/renewer_integration_test.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers, @openbao/openbao-core-committers

add {LICENSE|SPDX|VERSION}_NODE_MODULES.txt to the release dist tarball (#1764)
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

add {LICENSE|SPDX|VERSION}_NODE_MODULES.txt to the release dist tarball (#1764)
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

Replace go-cache with zcache
  builtin/credential/jwt/backend.go
  builtin/credential/jwt/path_oidc.go
  builtin/logical/totp/backend.go
  builtin/logical/totp/path_code.go
  command/agentproxyshared/cache/lease_cache.go
  go.mod
  go.sum
  vault/core.go
  vault/identity_store.go
  vault/identity_store_oidc.go
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_test.go
  vault/login_mfa.go
  vault/request_forwarding_rpc.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers

Update vault/diagnose/os_common.go
  vault/diagnose/os_common.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix(backend): Missing OIDCFlow
  builtin/credential/jwt/backend.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers

chore: add changelog message
  changelog/1779
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Rename 1779 to 1779.txt
  changelog/1779.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

handle read req locally
  http/handler.go
  http/logical.go
  physical/raft/raft.go
  vault/core.go
  vault/request_handling.go
  vault/token_store.go
  vault/wrapping.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update tests to expect standby to forward or handle locally
  http/forwarding_test.go
  http/logical_test.go
  http/sys_hostinfo_test.go
  http/sys_seal_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add unseal standby test
  http/sys_seal_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

update testCore_Standby_Common to expect standby writes to succeed
  vault/core_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

return early if follower node is attempting to write to storage
  physical/raft/raft.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers
