Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

add changelog
  changelog/1697.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

make lowercase
  builtin/logical/pki/path_issue_sign_test.go
  sdk/helper/cel/helpers.go
  sdk/helper/cel/helpers_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

update tests to expect standby to forward or handle locally
  http/logical_test.go
  http/sys_hostinfo_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

remove duplicated import of helper/cel
  builtin/logical/pki/path_issue_sign.go
Owners: @openbao/openbao-org-maintainers

Update PKCS#11 seal docs
  website/content/docs/configuration/seal/pkcs11.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add blog post for Open Source Summit Europe 2025 and author details
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/authors.yml
  website/public/img/ossummit_bao_booth.png
  website/public/img/ossummit_meet_bao.png
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Call umask(0o111) in server startup
  command/server.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add blog post for Open Source Summit Europe 2025 and author details
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/authors.yml
  website/public/img/ossummit_bao_booth.png
  website/public/img/ossummit_meet_bao.png
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
  website/content/blog/2025-08-19-meet-openbao-oss-europe-2025.md
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog entry
  changelog/1702.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add changelog entry
  changelog/1700.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add audit device documentation
  website/content/docs/configuration/audit.mdx
  website/content/docs/configuration/index.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Clarify profile system request limitations
  website/content/docs/concepts/profiles.mdx
  website/content/docs/configuration/self-init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add declarative audit device creation mechanism
  command/server.go
  command/server/config.go
  command/server_test.go
  vault/audit.go
  vault/core.go
  vault/logical_system.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update PKCS#11 seal docs (#1684)
  website/content/docs/configuration/seal/pkcs11.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update PKCS#11 seal docs (#1684)
  website/content/docs/configuration/seal/pkcs11.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add RFC on feature
  website/content/docs/rfcs/config-audit-devices.mdx
  website/content/docs/rfcs/index.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix server combining of initialization, audits
  command/server/config.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix unnecessary argument to parse configs
  command/server/config.go
  helper/profiles/config.go
  helper/profiles/config_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

deps(go-jose): Update go-jose 4.1.0
  Makefile
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  api/plugin_helpers.go
  api/secret.go
  audit/format.go
  builtin/credential/jwt/path_cel_login_test.go
  builtin/credential/jwt/path_cel_role.go
  builtin/credential/jwt/path_login_test.go
  builtin/credential/jwt/path_oidc_test.go
  builtin/credential/jwt/path_role.go
  builtin/credential/kubernetes/path_login.go
  builtin/credential/kubernetes/path_login_test.go
  builtin/logical/kubernetes/integrationtest/helpers.go
  builtin/logical/kubernetes/path_creds.go
  builtin/logical/pki/acme_jws.go
  command/agent/testing.go
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/helper/consts/jwt.go
  vault/identity_store_oidc.go
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_test.go
  vault/wrapping.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers, @openbao/openbao-auth-jwt-committers

chore: Run go mod tidy after rebase
  go.mod
  sdk/go.mod
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix(jwt): Added HMAC algos for PKI operations
  sdk/helper/consts/jwt.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix: CI failure due to use of a non-constant format string
  sdk/database/dbplugin/v5/grpc_server.go
  sdk/helper/certutil/certutil_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
