Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers

docs: reference centralized duration format in API docs (#2033)
  website/content/api-docs/auth/token.mdx
  website/content/api-docs/secret/pki.mdx
  website/content/api-docs/secret/ssh.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

docs: reference centralized duration format in API docs (#2033)
  website/content/api-docs/auth/token.mdx
  website/content/api-docs/secret/pki.mdx
  website/content/api-docs/secret/ssh.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog
  changelog/1442.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

forward failed login attempts to primary
  helper/forwarding/types.pb.go
  helper/forwarding/types.proto
  vault/external_tests/identity/userlockouts_test.go
  vault/request_forwarding_rpc.go
  vault/request_forwarding_service.pb.go
  vault/request_forwarding_service.proto
  vault/request_forwarding_service_grpc.pb.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

improve git hooks
  .hooks/pre-push
Owners: @openbao/openbao-org-maintainers

Replace deprecated grpclog.SetLogger
  command/server.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Replace deprecated CEL functions
  builtin/credential/jwt/path_cel_role.go
  builtin/logical/pki/path_issue_sign.go
  sdk/helper/cel/helpers.go
  sdk/helper/cel/program.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers

Replace deprecated docker types
  sdk/go.mod
  sdk/helper/docker/testhelpers.go
  sdk/helper/stepwise/environments/docker/environment.go
  sdk/helper/stepwise/environments/docker/runner.go
  sdk/helper/testcluster/docker/environment.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Replace deprecated client.RawRequest where possible
  api/client.go
  builtin/logical/kubernetes/integrationtest/integration_test.go
  builtin/logical/pki/crl_test.go
  builtin/logical/pki/test_helpers.go
  command/agent_test.go
  command/agentproxyshared/cache/api_proxy.go
  command/agentproxyshared/cache/cache_test.go
  command/debug.go
  command/kv_helpers.go
  helper/testhelpers/testhelpers.go
  http/plugin_test.go
  http/sys_monitor_test.go
  vault/external_tests/api/sudo_paths_test.go
  vault/external_tests/identity/login_mfa_duo_test.go
  vault/external_tests/kv/kv_patch_test.go
  vault/external_tests/kv/kv_subkeys_test.go
  vault/external_tests/metrics/core_metrics_int_test.go
  vault/external_tests/pprof/pprof.go
  vault/external_tests/raft/raft_test.go
  vault/external_tests/response/allowed_response_headers_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Remove usage of deprecated OASDocument.CreateOperationIDs
  sdk/framework/openapi_test.go
  vault/logical_system.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove long-deprecated MountConfigOutput.PluginName field
  api/sys_mounts.go
  changelog/2036.txt
  command/auth_list.go
  command/secrets_list.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Replace usage of deprecated grpc functions
  physical/raft/streamlayer.go
  physical/raft/streamlayer_test.go
  vault/cluster/cluster.go
  vault/cluster/inmem_layer.go
  vault/cluster/inmem_layer_test.go
  vault/cluster/tcp_layer.go
  vault/cluster_test.go
  vault/request_forwarding.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Ignore use of deprecated rekey methods internally
  api/sys_rotate.go
  command/operator_rekey.go
  command/operator_rekey_test.go
  vault/external_tests/api/sys_rotate_ext_test.go
  vault/logical_system.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Document usage of deprecated elliptic.Marshal
  sdk/helper/certutil/helpers.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Bump ProtonMail/go-crypto and cloudflare/circl (#1435)
  go.mod
  go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add unit and integration test for ExpirationManager transactions
  vault/expiration_transaction_integ_test.go
  vault/expiration_transaction_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add transactional support to expiration manager
  vault/expiration.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Test needed a bit more timing headroom with transactions
  vault/expiration_integ_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

HSM: Add arm64 builds & Alpine containers (#1427)
  .github/workflows/release.yml
  Dockerfile
  goreleaser.hsm.yaml
Owners: @openbao/openbao-org-maintainers

Add Static Auto-Unseal RFC (#1304)
  website/content/docs/rfcs/index.mdx
  website/content/docs/rfcs/static-auto-unseal.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add test function comments for lint
  vault/expiration_transaction_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Undo timing change to integ_test
  vault/expiration_integ_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix error response for test
  vault/expiration.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Modify approach to place transaction in context instead of injecting functions
  sdk/logical/storage_transactions.go
  vault/expiration.go
  vault/expiration_test.go
  vault/logical_system.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add CAS support to kv metadata updates (#1372)
  builtin/logical/kv/backend.go
  builtin/logical/kv/path_config.go
  builtin/logical/kv/path_config_test.go
  builtin/logical/kv/path_metadata.go
  builtin/logical/kv/path_metadata_test.go
  builtin/logical/kv/types.pb.go
  builtin/logical/kv/types.proto
  changelog/1372.txt
  command/kv_metadata_patch_test.go
  helper/forwarding/types.pb.go
  helper/identity/mfa/types.pb.go
  helper/identity/types.pb.go
  helper/storagepacker/types.pb.go
  physical/raft/types.pb.go
  sdk/database/dbplugin/database.pb.go
  sdk/database/dbplugin/v5/proto/database.pb.go
  sdk/helper/pluginutil/multiplexing.pb.go
  sdk/logical/identity.pb.go
  sdk/logical/plugin.pb.go
  sdk/logical/version.pb.go
  sdk/plugin/pb/backend.pb.go
  vault/request_forwarding_service.pb.go
  vault/tokens/token.pb.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

commit or rollback in WithTransaction wrapper
  vault/expiration.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Forgot to add new file
  vault/expiration_tx.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Rename helper func
  sdk/logical/storage_transactions.go
  vault/expiration.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers
