Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix plugin test
  command/server/config_plugin_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix typo
  website/content/docs/plugins/plugin-management.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

remove mention of Env var interpolation
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fail plugin init on empty config
  command/plugin_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add plugin distribution via OCI images
  command/commands.go
  command/plugin_init.go
  command/server/config.go
  command/server/config_plugin_test.go
  command/server/config_test_helpers.go
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/helper/pluginutil/oci/downloader.go
  vault/core.go
  vault/plugin_catalog.go
  vault/plugin_catalog_oci_test.go
  website/content/docs/commands/plugin/index.mdx
  website/content/docs/commands/plugin/init.mdx
  website/content/docs/configuration/oci-plugins.mdx
  website/content/docs/plugins/index.mdx
  website/content/docs/plugins/plugin-management.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix plugin init comment
  command/plugin_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

clarify auth options
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

describe authenticaion
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

use builtin authentication of go-containerregistry
  command/server/config.go
  command/server/config_plugin_test.go
  command/server/config_test_helpers.go
  helper/pluginutil/oci/downloader.go
  website/content/docs/commands/plugin/init.mdx
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

clarify init log message
  command/plugin_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

link to oci config from plugin init docs
  website/content/docs/commands/plugin/init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

rename plugin download fail constant
  command/server/config.go
  sdk/helper/pluginutil/oci/downloader.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

improve error handling
  sdk/helper/pluginutil/oci/downloader.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

specify plugin registration in docs
  website/content/docs/plugins/plugin-management.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

update example logs
  website/content/docs/commands/plugin/index.mdx
  website/content/docs/commands/plugin/init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

move OCI helper package out of SDK
  builtin/logical/kv/types.pb.go
  builtin/logical/pki/cert_template.pb.go
  command/plugin_init.go
  command/server/config.go
  go.mod
  go.sum
  helper/forwarding/types.pb.go
  helper/identity/mfa/types.pb.go
  helper/identity/types.pb.go
  helper/pluginutil/oci/downloader.go
  helper/storagepacker/types.pb.go
  physical/raft/types.pb.go
  sdk/database/dbplugin/database.pb.go
  sdk/database/dbplugin/v5/proto/database.pb.go
  sdk/go.mod
  sdk/go.sum
  sdk/helper/pluginutil/multiplexing.pb.go
  sdk/logical/identity.pb.go
  sdk/logical/plugin.pb.go
  sdk/logical/version.pb.go
  sdk/plugin/pb/backend.pb.go
  tools/go.mod
  tools/go.sum
  vault/plugin_catalog.go
  vault/plugin_catalog_oci_test.go
  vault/request_forwarding_service.pb.go
  vault/tokens/token.pb.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

use correct error formatting
  command/server/config.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

reword plugin init help text
  command/plugin_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

extend OCI plugin docs
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Sunset aead seal usage (#1910)
  changelog/1910.txt
  internalshared/configutil/kms.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Sunset aead seal usage (#1910)
  changelog/1910.txt
  internalshared/configutil/kms.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Bump k8s dependencies to v0.34
  go.mod
  go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Bump k8s dependencies to v0.34 (#1925)
  go.mod
  go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Bump k8s dependencies to v0.34 (#1925)
  go.mod
  go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Switch to singleton pattern regexes (#1893)
  changelog/1893.txt
  sdk/framework/backend.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Identity subsystem returns timestamp strings in RFC3339Nano format (#1873)
  changelog/1873.txt
  helper/identity/sentinel.go
  vault/identity_store_aliases.go
  vault/identity_store_entities.go
  vault/identity_store_groups.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

KV engine returns timestamp strings in RFC3339Nano format (#1872)
  builtin/logical/kv/backend.go
  changelog/1872.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Adjust test cases
  command/agent_test.go
  command/proxy_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove dependency on bitnami/cassandra container image (#1762)
  plugins/database/cassandra/connection_producer_test.go
  plugins/database/cassandra/test-fixtures/with_tls/cassandra.yaml
Owners: @openbao/openbao-org-maintainers

Add invalidation in inmem HA backend
  sdk/physical/inmem/inmem_ha.go
  vault/core_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

revert on sdk changes
  .golangci.yml
  api/sys_generate_root.go
  api/sys_namespaces.go
  command/namespace_generate_root_test.go
  command/namespace_seal.go
  command/namespace_seal_test.go
  command/namespace_unseal_test.go
  command/operator_generate_root.go
  http/sys_generate_root.go
  http/sys_generate_root_test.go
  sdk/helper/roottoken/decode.go
  sdk/helper/roottoken/encode_test.go
  sdk/helper/roottoken/otp.go
  sdk/helper/roottoken/otp_test.go
  vault/logical_system_paths.go
  vault/namespace_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Default to in-memory HA backend for test cluster
  http/forwarding_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix: broken retrieve backup keys fixed
  api/sys_rotate.go
  command/operator_rotate.go
  command/operator_rotate_test.go
  vault/logical_system_namespaces_rotate.go
  vault/logical_system_rotate.go
  vault/rotate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Guard forwarding by HA enablement
  http/logical.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Allow disabling read scalability in tests
  http/forwarding_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feature: implemented namespace rotation cli commands
  api/sys_namespaces.go
  command/command_test.go
  command/commands.go
  command/namespace.go
  command/namespace_key_status.go
  command/namespace_key_status_test.go
  command/namespace_rotate.go
  command/namespace_rotate_keys.go
  command/namespace_rotate_keys_test.go
  command/namespace_rotate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Support BAO_NAMESPACE=root (#1918)
  changelog/1918.txt
  helper/namespace/namespace.go
  helper/namespace/namespace_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Support BAO_NAMESPACE=root (#1918)
  changelog/1918.txt
  helper/namespace/namespace.go
  helper/namespace/namespace_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

feat(valkey): Support connection_url for configuration
  changelog/1923.txt
  plugins/database/valkey/connection_producer.go
  plugins/database/valkey/valkey_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add go-metrics to dependabot ignores
  .github/dependabot.yml
Owners: @openbao/openbao-org-maintainers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
