Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers

add changelog
  changelog/1834.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

make sync-deps
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  tools/go.mod
  tools/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Cache find command output in sync-deps
  scripts/sync-deps-gkw.sh
  scripts/sync-deps.sh
Owners: @openbao/openbao-org-maintainers

Fix issues with sync-deps scripts
  scripts/sync-deps-gkw.sh
  scripts/sync-deps.sh
Owners: @openbao/openbao-org-maintainers

Downgrade go-msgpack, version retracted
  go.mod
  go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Bump golangci-lint in tools
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Bump golangci-lint in CI
  .github/workflows/code-checker.yml
Owners: @openbao/openbao-org-maintainers

add SchemaName to Response struct as optional name of the schema for … (#1714)
  changelog/1714.txt
  sdk/framework/openapi.go
  sdk/framework/path.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

add SchemaName to Response struct as optional name of the schema for … (#1714)
  changelog/1714.txt
  sdk/framework/openapi.go
  sdk/framework/path.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Revert "Downgrade go-msgpack, version retracted"
  go.mod
  go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Don't compare main module to main module in sync-deps
  scripts/sync-deps.sh
Owners: @openbao/openbao-org-maintainers

Move storage files into more specific files
  sdk/bptree/integration_test.go
  sdk/bptree/storage.go
  sdk/bptree/storage_buffering.go
  sdk/bptree/storage_buffering_test.go
  sdk/bptree/storage_caching.go
  sdk/bptree/storage_config.go
  sdk/bptree/storage_helpers.go
  sdk/bptree/storage_keys.go
  sdk/bptree/storage_test.go
  sdk/bptree/storage_transactional_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add token lookup response schema to token store
  vault/token_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add test for token lookup schema matches handler responses
  vault/token_store_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add changelog
  changelog/1840.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix linting errors
  tools/go.mod
  tools/go.sum
  vault/token_store_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add documentation on http audit device
  website/content/docs/audit/http.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog entry
  changelog/1709.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add HTTP audit method
  builtin/audit/http/backend.go
  builtin/audit/http/backend_test.go
  builtin/audit/http/testing.go
  command/audit_enable_test.go
  command/commands.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add warnings against unsafe audit device creation
  website/content/docs/audit/file.mdx
  website/content/docs/audit/http.mdx
  website/content/docs/audit/socket.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feat(OIDC-Provider): Add clientCredentialsFlow to Oidc Provider
  changelog/1732.txt
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_provider_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

docs(OIDC-Provider): Add clientCredentialsFlow documentation to Oidc Provider docs and api
  website/content/api-docs/secret/identity/oidc-provider.mdx
  website/content/docs/concepts/oidc-provider.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

chore(OIDC-Provider): #1732 Add some requested changes for the MR
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_provider_test.go
  vault/identity_store_oidc_provider_util.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

chore(OIDC-Provider): #1732 Setup tests according to feedback from PR.
  vault/identity_store_oidc_provider_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

chore(OIDC-Provider): #1732 Add some requested changes for the MR
  vault/identity_store_oidc_provider.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

chore(OIDC-Provider): #1732 Add missing Setting to allow Flows in Client
  ui/app/models/oidc/client.js
  ui/app/models/oidc/provider.js
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_provider_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

chore(OIDC-Provider): #1732 Move authorization Code bool to use a pointer so default value is nil.
  ui/app/models/oidc/client.js
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_provider_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Use find -mindepth to exclude main module
  scripts/sync-deps.sh
Owners: @openbao/openbao-org-maintainers

Update http/metrics.go
  http/metrics.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix linting errors
  http/handler_test.go
  http/metrics.go
  internalshared/configutil/listener.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

chore(OIDC-Provider): #1732 correctly create access token and remove id token.
  tools/go.mod
  tools/go.sum
  vault/identity_store_oidc.go
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_provider_test.go
  vault/identity_store_oidc_provider_util.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix linting errors
  tools/go.mod
  tools/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

docs(listener): add docs for metrics_only and disallow_metrics options
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/configuration/listener/unix.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add SAP to OpenBao TSC (#1831)
  CONTRIBUTING.md
Owners: @openbao/openbao-org-maintainers

Add SAP to OpenBao TSC (#1831)
  CONTRIBUTING.md
Owners: @openbao/openbao-org-maintainers

Storage integration tests rework
  sdk/bptree/integration_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Address issue in dirty tracker where it was not created when enabled
  sdk/bptree/storage_buffering.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Swap lock order on mergeCacheIntoParent
  sdk/bptree/storage_transactional.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement change notification for raft storage backend (#1552)
  physical/raft/fsm.go
  physical/raft/fsm_test.go
  physical/raft/raft.go
  sdk/physical/physical.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for namespaces and policies (#1551)
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/policy_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers
