Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers

Add changelog entry
  changelog/1696.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Update changelog/1696.txt
  changelog/1696.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Fix bug in tidy leading to infinite loop (#1696)
  builtin/logical/pki/path_tidy.go
  changelog/1696.txt
  sdk/logical/storage.go
  sdk/logical/storage_test.go
  vault/namespace_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Cleanup dependencies (#1686)
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/client.go
  api/go.mod
  api/go.sum
  builtin/logical/ssh/path_config_ca.go
  command/base.go
  command/base_helpers.go
  command/operator_migrate.go
  command/server.go
  command/ssh.go
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

nolintnolint:nilnil api/logical.go
  api/logical.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix golangci-lint
  vault/external_tests/postgresql_binary/postgresql_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

gofumpt
  vault/external_tests/postgresql_binary/postgresql_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

PSQL parallel inicjalization test
  vault/external_tests/postgresql_binary/postgresql_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix typo in name
  vault/external_tests/postgresql_binary/postgresql_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

refactor
  sdk/helper/testcluster/docker/environment.go
  vault/external_tests/postgresql_binary/config-postgresql.json
  vault/external_tests/postgresql_binary/postgresql_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

refactor
  vault/external_tests/postgresql_binary/postgresql_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

linting errors fixed and adjustments
  command/namespace_generate_root.go
  vault/acl_test.go
  vault/auth.go
  vault/generate_root.go
  vault/generate_root_test.go
  vault/logical_system.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/mount.go
  vault/namespace_store_test.go
  vault/seal_manager.go
  vault/seal_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

tweaks and fixes to the poc
  vault/barrier_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Unmounted namespaces from mountTables and authTables when namespace is sealed
  vault/auth.go
  vault/mount.go
  vault/namespace_store.go
  vault/seal_manager.go
  vault/seal_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implemented core logic to generate-root tokens for sealed namespaces (#36)
  http/sys_generate_root.go
  sdk/logical/response.go
  vault/core.go
  vault/expiration_test.go
  vault/generate_root.go
  vault/generate_root_recovery.go
  vault/generate_root_test.go
  vault/init.go
  vault/seal_manager.go
  vault/seal_test.go
  vault/testing.go
  vault/token_store.go
  vault/token_store_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Prevent namespace creation with bad seal config (#35)
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Handle mount and auth table on namespace sealing/unsealing (#39)
  vault/auth.go
  vault/core.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/mount.go
  vault/namespace_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Humble attempt to fix tests
  vault/generate_root.go
  vault/logical_system_namespaces_generate_root.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

implement namespace key rotation config endpoint (#27)
  vault/logical_system.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Namespace Seal Status Endpoint implementation
  helper/namespace/namespace.go
  vault/barrier.go
  vault/logical_system.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

cr: another hefty chunk of addressed comments
  api/sys_generate_root.go
  http/sys_generate_root.go
  sdk/logical/response.go
  vault/acl.go
  vault/acl_test.go
  vault/auth.go
  vault/auth_test.go
  vault/barrier.go
  vault/barrier_test.go
  vault/core.go
  vault/generate_root.go
  vault/logical_system.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_test.go
  vault/logical_system_user_lockout.go
  vault/mount.go
  vault/mount_test.go
  vault/namespace_store.go
  vault/request_handling.go
  vault/seal_manager.go
  vault/seal_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

code review changes
  command/namespace.go
  command/namespace_generate_root.go
  helper/namespace/namespace.go
  http/sys_generate_root.go
  sdk/helper/consts/error.go
  vault/acl.go
  vault/barrier.go
  vault/barrier_test.go
  vault/core.go
  vault/core_metrics.go
  vault/counters.go
  vault/expiration_test.go
  vault/generate_root.go
  vault/generate_root_recovery.go
  vault/generate_root_test.go
  vault/init.go
  vault/logical_system.go
  vault/logical_system_namespaces_generate_root.go
  vault/logical_system_namespaces_seals_test.go
  vault/namespace_store.go
  vault/namespace_store_test.go
  vault/namespaces_oss.go
  vault/seal_manager.go
  vault/token_store.go
  vault/token_store_test.go
  vault/version_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

implement namespace key rotation endpoint
  vault/logical_system.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

refactor: seal manager refactor with locks and other tweaks
  http/sys_generate_root.go
  vault/generate_root.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_generate_root.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/namespace_store.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Skip mounts of sealed namespaces when loading legacy mounts (#29)
  vault/auth.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Load sealed namespaces after unseal
  vault/auth.go
  vault/identity_store_oidc.go
  vault/identity_store_structs.go
  vault/logical_system_namespaces.go
  vault/mount.go
  vault/namespace_store.go
  vault/seal_manager.go
  vault/seal_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

implemented unsealing logic with multiple shamir key shares support
  vault/core.go
  vault/logical_system_namespaces.go
  vault/namespace_store.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Namespace Seal - Key status endpoint implementation
  vault/auth_test.go
  vault/core.go
  vault/logical_system.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/logical_system_namespaces_test.go
  vault/mount_test.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

reject requests to sealed namespaces with additional tweaks
  sdk/helper/consts/error.go
  sdk/logical/response_util.go
  vault/core.go
  vault/namespace_store.go
  vault/request_handling.go
  vault/seal_manager.go
  vault/seal_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

refactor: refactored and fixed list namespaces to not include the sealed namespaces (#31)
  vault/auth.go
  vault/core.go
  vault/core_metrics.go
  vault/counters.go
  vault/identity_store_oidc.go
  vault/identity_store_structs.go
  vault/logical_system_user_lockout.go
  vault/mount.go
  vault/namespace_store.go
  vault/namespace_store_test.go
  vault/namespaces_oss.go
  vault/token_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Generate-Root CLI commands implementation (#38)
  command/commands.go
  command/namespace_generate_root.go
  vault/acl.go
  vault/acl_test.go
  vault/core.go
  vault/generate_root.go
  vault/logical_system.go
  vault/logical_system_namespaces_generate_root.go
  vault/logical_system_namespaces_test.go
  vault/namespace_store.go
  vault/policy_store.go
  vault/seal_manager.go
  vault/seal_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feat(cel): ext helpers
  builtin/credential/jwt/path_cel_role.go
  sdk/helper/cel/helpers.go
  sdk/helper/cel/helpers_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers

remove duplicated import of helper/cel
  builtin/logical/pki/path_issue_sign.go
Owners: @openbao/openbao-org-maintainers

Tests for join functionality
  helper/testhelpers/pluginhelpers/pluginhelpers.go
  physical/raft/raft.go
  physical/raft/raft_test.go
  vault/external_plugin_test.go
  vault/external_tests/raft/raft_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

First implementation of join plugin
  Makefile
  physical/raft/raft.go
  plugins/join/discover/discover-join-plugin/main.go
  plugins/join/discover/discover.go
  plugins/join/static/static-join-plugin/main.go
  plugins/join/static/static.go
  sdk/helper/consts/plugin_types.go
  sdk/joinplugin/join.go
  sdk/joinplugin/pb/join.pb.go
  sdk/joinplugin/pb/join.proto
  sdk/joinplugin/pb/join_grpc.pb.go
  sdk/joinplugin/plugin.go
  sdk/joinplugin/serve.go
  vault/raft.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Don't shadow err in plugin test
  helper/testhelpers/pluginhelpers/pluginhelpers.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog
  changelog/1556.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Initialize join plugins once only
  physical/raft/raft.go
  physical/raft/raft_test.go
  vault/external_plugin_test.go
  vault/raft.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Allow running plugins without a wrapper defined
  sdk/helper/pluginutil/run_config.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Replace legacy discover calls with plugin
  physical/raft/raft.go
  physical/raft/raft_test.go
  vault/raft.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers
