Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

simplify error handling
  sdk/helper/pluginutil/oci/downloader.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

use correct error formatting
  command/server/config.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

clarify init log message
  command/plugin_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add changelog
  changelog/1824.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

rename plugin download fail constant
  command/server/config.go
  sdk/helper/pluginutil/oci/downloader.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

remove mention of Env var interpolation
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

improve error handling
  sdk/helper/pluginutil/oci/downloader.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix plugin test
  command/server/config_plugin_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fail plugin init on empty config
  command/plugin_init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

link to oci config from plugin init docs
  website/content/docs/commands/plugin/init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

update example logs
  website/content/docs/commands/plugin/index.mdx
  website/content/docs/commands/plugin/init.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

move OCI helper package out of SDK
  builtin/logical/kv/types.pb.go
  builtin/logical/pki/cert_template.pb.go
  command/plugin_init.go
  command/server/config.go
  go.mod
  go.sum
  helper/forwarding/types.pb.go
  helper/identity/mfa/types.pb.go
  helper/identity/types.pb.go
  helper/pluginutil/oci/downloader.go
  helper/storagepacker/types.pb.go
  physical/raft/types.pb.go
  sdk/database/dbplugin/database.pb.go
  sdk/database/dbplugin/v5/proto/database.pb.go
  sdk/go.mod
  sdk/go.sum
  sdk/helper/pluginutil/multiplexing.pb.go
  sdk/logical/identity.pb.go
  sdk/logical/plugin.pb.go
  sdk/logical/version.pb.go
  sdk/plugin/pb/backend.pb.go
  tools/go.mod
  tools/go.sum
  vault/plugin_catalog.go
  vault/plugin_catalog_oci_test.go
  vault/request_forwarding_service.pb.go
  vault/tokens/token.pb.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

use builtin authentication of go-containerregistry
  command/server/config.go
  command/server/config_plugin_test.go
  command/server/config_test_helpers.go
  helper/pluginutil/oci/downloader.go
  website/content/docs/commands/plugin/init.mdx
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

tmp: run goreleaser on self-hosted runner and disable others
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

feat(deb): upload from correct folder
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

fix(apt): add scheme to s3 endpoint
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

feat(deb): upload multiple artifacts based on release_os
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

describe authenticaion
  website/content/docs/configuration/oci-plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

specify plugin registration in docs
  website/content/docs/plugins/plugin-management.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix(apt): use reprepro from debian experimental
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

fix(apt): use reprepro from debian experimental
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

allow passing prefix to AESGCMBarrier and create seal manager
  vault/barrier_aes_gcm.go
  vault/barrier_aes_gcm_test.go
  vault/barrier_test.go
  vault/core.go
  vault/external_tests/storage/crosstest/cross_test.go
  vault/generate_root.go
  vault/ha.go
  vault/init.go
  vault/init_test.go
  vault/logical_system_namespaces.go
  vault/logical_system_raft.go
  vault/raft.go
  vault/rekey.go
  vault/rekey_test.go
  vault/seal.go
  vault/seal_access.go
  vault/seal_autoseal.go
  vault/seal_manager.go
  vault/seal_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

integrate barrier state into SealManager
  vault/auth.go
  vault/dynamic_system_view.go
  vault/expiration.go
  vault/init.go
  vault/mount.go
  vault/namespace_store.go
  vault/policy_store.go
  vault/seal.go
  vault/seal_autoseal.go
  vault/seal_manager.go
  vault/token_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

initialized namespace barrier on namespace creation
  vault/logical_system_namespaces.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Namespace seal shares are now being returned when creating a sealed namespace via CLI & API
  command/namespace_create.go
  vault/logical_system_namespaces.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

move initializeNamespace out of setNamespaceLocked write seal configs with correct barriers
  vault/core.go
  vault/logical_raw.go
  vault/logical_system.go
  vault/logical_system_namespaces.go
  vault/mount_test.go
  vault/namespace_store.go
  vault/namespace_store_test.go
  vault/seal.go
  vault/seal_autoseal.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Support CLI namespace seal operations
  command/namespace_create.go
  vault/barrier.go
  vault/barrier_aes_gcm.go
  vault/barrier_test.go
  vault/generate_root.go
  vault/ha.go
  vault/logical_system.go
  vault/logical_system_namespaces.go
  vault/namespace_store.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

tweaks and fixes to the poc
  command/namespace_create.go
  command/operator_diagnose.go
  helper/testhelpers/logical/testing.go
  helper/testhelpers/testhelpers.go
  http/sys_generate_root.go
  http/sys_init.go
  http/sys_rekey.go
  http/sys_seal.go
  http/sys_seal_test.go
  physical/raft/fsm.go
  sdk/physical/physical_view.go
  vault/barrier_aes_gcm.go
  vault/barrier_aes_gcm_test.go
  vault/barrier_test.go
  vault/core.go
  vault/external_tests/storage/crosstest/cross_test.go
  vault/generate_root.go
  vault/ha.go
  vault/init.go
  vault/init_test.go
  vault/logical_system.go
  vault/logical_system_namespaces.go
  vault/logical_system_raft.go
  vault/namespace_store.go
  vault/raft.go
  vault/rekey.go
  vault/rekey_test.go
  vault/seal.go
  vault/seal_access.go
  vault/seal_autoseal.go
  vault/seal_manager.go
  vault/seal_test.go
  vault/seal_testing.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

implemented unsealing logic with multiple shamir key shares support
  vault/core.go
  vault/logical_system_namespaces.go
  vault/namespace_store.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

reject requests to sealed namespaces with additional tweaks
  sdk/helper/consts/error.go
  sdk/logical/response_util.go
  vault/core.go
  vault/namespace_store.go
  vault/request_handling.go
  vault/seal_manager.go
  vault/seal_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

implement namespace key rotation endpoint
  vault/logical_system.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Namespace Seal Status Endpoint implementation
  helper/namespace/namespace.go
  vault/barrier.go
  vault/logical_system.go
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Load sealed namespaces after unseal
  vault/auth.go
  vault/identity_store_oidc.go
  vault/identity_store_structs.go
  vault/logical_system_namespaces.go
  vault/mount.go
  vault/namespace_store.go
  vault/seal_manager.go
  vault/seal_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

tweaks and fixes to the poc
  vault/barrier_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Namespace Seal - Key status endpoint implementation
  vault/auth_test.go
  vault/core.go
  vault/logical_system.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/logical_system_namespaces_test.go
  vault/mount_test.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Unmounted namespaces from mountTables and authTables when namespace is sealed
  vault/auth.go
  vault/mount.go
  vault/namespace_store.go
  vault/seal_manager.go
  vault/seal_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fixed unresolved conflicts from rebasing (#1560)
  vault/barrier_aes_gcm_test.go
  vault/barrier_test.go
  vault/logical_system_rotate.go
  vault/rotate.go
  vault/rotate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Prevent namespace creation with bad seal config (#35)
  vault/logical_system_namespaces.go
  vault/logical_system_namespaces_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

refactor: refactored and fixed list namespaces to not include the sealed namespaces (#31)
  vault/auth.go
  vault/core.go
  vault/core_metrics.go
  vault/counters.go
  vault/identity_store_oidc.go
  vault/identity_store_structs.go
  vault/logical_system_user_lockout.go
  vault/mount.go
  vault/namespace_oss.go
  vault/namespace_store.go
  vault/namespace_store_test.go
  vault/token_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Skip mounts of sealed namespaces when loading legacy mounts (#29)
  vault/auth.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
