Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers

Fix missing pipe character in table column (#1846)
  website/content/api-docs/auth/approle.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix missing pipe character in table column (#1846)
  website/content/api-docs/auth/approle.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update changelog/1834.txt
  changelog/1834.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

feat(core): Add metrics_only and disallow_metrics listener options (#1834)
  changelog/1834.txt
  http/handler.go
  http/metrics.go
  internalshared/configutil/listener.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/configuration/listener/unix.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

feat(core): Add metrics_only and disallow_metrics listener options (#1834)
  changelog/1834.txt
  http/handler.go
  http/metrics.go
  internalshared/configutil/listener.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/configuration/listener/unix.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Added some potential API examples; added to rfc index
  website/content/docs/rfcs/control-groups.mdx
  website/content/docs/rfcs/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

WIP example api calls using response wrapping
  website/content/docs/rfcs/control-groups.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

A few tweaks to wording
  website/content/docs/rfcs/control-groups.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

additional sections (downsides, etc)
  website/content/docs/rfcs/control-groups.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

WIP for control group RFC
  website/content/docs/rfcs/control-groups.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

typo fix and additional User/Developer experience
  website/content/docs/rfcs/control-groups.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Added Tech Description and some other tweaks to wording and format
  website/content/docs/rfcs/control-groups.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

WIP for using response wrapping to "hold" control-group requests
  website/content/docs/rfcs/control-groups.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Added Unresolved Questions?
  website/content/docs/rfcs/control-groups.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Small tweaks to rfc language
  website/content/docs/rfcs/control-groups.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Just use os.Rename 🗿
  command/token/helper_internal.go
  helper/osutil/replacefile_unix.go
  helper/osutil/replacefile_windows.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

change gomod check to run on el8
  .github/workflows/code-checker.yml
Owners: @openbao/openbao-org-maintainers

Remove barrierByStoragePath radix tree
  vault/logical_raw.go
  vault/logical_system_rotate.go
  vault/namespace_store.go
  vault/namespaces_oss.go
  vault/rotate.go
  vault/seal.go
  vault/seal_autoseal.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove Seal -> SealManager circular dependency
  vault/seal.go
  vault/seal_autoseal.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Improve styling and description
  builtin/logical/pki/cert_util.go
  builtin/logical/pki/path_roles.go
Owners: @openbao/openbao-org-maintainers

Update documentation and add changelog entry
  changelog/1833.txt
  website/content/api-docs/secret/pki.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Refactor storage configuration options
  sdk/bptree/bptree_test.go
  sdk/bptree/integration_test.go
  sdk/bptree/storage.go
  sdk/bptree/storage_buffering_test.go
  sdk/bptree/storage_transactional_test.go
  sdk/bptree/test_util.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update bptree config to options pattern
  sdk/bptree/bptree.go
  sdk/bptree/bptree_config.go
  sdk/bptree/bptree_test.go
  sdk/bptree/storage_test.go
  sdk/bptree/tree_persistence_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add feature flag for read replication and fix some forwarding bugs
  builtin/logical/kv/passthrough.go
  builtin/logical/kv/path_config.go
  builtin/logical/kv/path_data.go
  builtin/logical/kv/path_delete.go
  builtin/logical/kv/path_destroy.go
  builtin/logical/kv/path_metadata.go
  command/server/config.go
  internalshared/configutil/config.go
  internalshared/configutil/feature_flags.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/ha.go
  vault/request_handling.go
  website/content/docs/configuration/feature-flags.mdx
  website/content/docs/configuration/index.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Bump go-msgpack & raft-boltdb
  go.mod
  go.sum
  helper/stubbolt/go.mod
  helper/stubbolt/stubbolt.go
  physical/raft/msgpack.go
  physical/raft/raft.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

website: fix warning/note/danger indentations
  website/content/api-docs/secret/pki.mdx
  website/content/api-docs/secret/ssh.mdx
  website/content/api-docs/secret/transit.mdx
  website/content/api-docs/system/auth.mdx
  website/content/api-docs/system/mounts.mdx
  website/content/api-docs/system/storage/raft.mdx
  website/content/api-docs/system/tools.mdx
  website/content/docs/agent-and-proxy/agent/index.mdx
  website/content/docs/agent-and-proxy/proxy/index.mdx
  website/content/docs/audit/file.mdx
  website/content/docs/audit/index.mdx
  website/content/docs/auth/approle.mdx
  website/content/docs/auth/jwt/oidc-providers/kubernetes.mdx
  website/content/docs/auth/kubernetes.mdx
  website/content/docs/auth/ldap.mdx
  website/content/docs/auth/login-mfa/faq.mdx
  website/content/docs/commands/operator/raft.mdx
  website/content/docs/commands/pki/reissue.mdx
  website/content/docs/commands/secrets/enable.mdx
  website/content/docs/concepts/policies.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/configuration/listener/unix.mdx
  website/content/docs/configuration/seal/pkcs11.mdx
  website/content/docs/platform/k8s/injector/annotations.mdx
  website/content/docs/secrets/databases/index.mdx
  website/content/docs/secrets/index.mdx
  website/content/docs/secrets/kubernetes.mdx
  website/content/docs/secrets/transit/index.mdx
  website/content/docs/upgrading/ha-upgrade.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Fix remaining ineffassign linter errors
  builtin/credential/approle/backend_test.go
  builtin/credential/approle/path_login_test.go
  builtin/credential/approle/path_role_test.go
  builtin/credential/cert/path_crls_test.go
  builtin/credential/jwt/path_cel_role.go
  builtin/credential/jwt/path_cel_role_test.go
  builtin/credential/kubernetes/path_config_test.go
  builtin/credential/kubernetes/path_login_test.go
  builtin/logical/database/credentials_test.go
  builtin/logical/database/secret_creds.go
  builtin/logical/kubernetes/integrationtest/helpers.go
  builtin/logical/kubernetes/integrationtest/integration_test.go
  builtin/logical/kv/path_data_test.go
  builtin/logical/kv/path_subkeys_test.go
  builtin/logical/openldap/path_static_roles_test.go
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/path_acme_test.go
  builtin/logical/pki/path_cel_test.go
  builtin/logical/pki/path_tidy_test.go
  builtin/logical/pkiext/nginx_test.go
  builtin/logical/pkiext/pkiext_binary/acme_test.go
  builtin/logical/ssh/path_roles.go
  command/agent/config/config_test.go
  command/agent_test.go
  vault/external_tests/api/renewer_integration_test.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers, @openbao/openbao-core-committers

also ignore staticcheck in command/agent_test.go
  command/agent_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

change suffix to by-accessor for better naming, move self from operational verb to suffix
  vault/token_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

unused fmt imports
  builtin/logical/kubernetes/path_check.go
  builtin/logical/rabbitmq/path_roles.go
  builtin/logical/ssh/path_config_zeroaddress.go
  builtin/logical/ssh/path_issue.go
  builtin/logical/ssh/path_lookup.go
  builtin/logical/ssh/path_sign.go
  builtin/logical/transit/path_derive_key.go
  builtin/logical/transit/path_hash.go
  changelog/1848.txt
  helper/random/random_api.go
  vault/identity_store_group_aliases.go
  vault/logical_system_pprof.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-k8s-committers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers

Adjust audit device creation on active node only
  vault/audit.go
  vault/core.go
  vault/core_cache_invalidate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Ensure standbys stop on shutdown
  vault/core.go
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Switch c.standby to atomic
  vault/audit.go
  vault/core.go
  vault/dynamic_system_view.go
  vault/generate_root.go
  vault/ha.go
  vault/rekey.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Refactor http body handling for forwarding
  helper/buffer/buffer.go
  helper/forwarding/util.go
  http/handler.go
  http/handler_test.go
  http/json.go
  http/json_test.go
  http/logical.go
  http/logical_test.go
  http/sys_generate_root.go
  http/sys_init.go
  http/sys_raft.go
  http/sys_rekey.go
  http/sys_seal.go
  http/util.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Support custom metrics paths
  http/metrics.go
  http/sys_metrics_test.go
  internalshared/configutil/listener.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/configuration/listener/unix.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog entry
  changelog/1853.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Refactor storage configuration options (again)
  sdk/bptree/storage.go
  sdk/bptree/storage_config.go
  sdk/bptree/storage_transactional.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update bptree config
  sdk/bptree/bptree.go
  sdk/bptree/bptree_config.go
  sdk/bptree/storage_config.go
  sdk/bptree/storage_keys.go
  sdk/bptree/storage_transactional.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

unused fmt imports
  builtin/logical/kubernetes/path_check.go
  builtin/logical/rabbitmq/path_roles.go
  builtin/logical/ssh/path_config_zeroaddress.go
  builtin/logical/ssh/path_issue.go
  builtin/logical/ssh/path_lookup.go
  builtin/logical/ssh/path_sign.go
  builtin/logical/transit/path_derive_key.go
  builtin/logical/transit/path_hash.go
  changelog/1848.txt
  helper/random/random_api.go
  vault/identity_store_group_aliases.go
  vault/logical_system_pprof.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-k8s-committers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers

Remove unecessary tree initilization methods
  sdk/bptree/bptree.go
  sdk/bptree/bptree_config.go
  sdk/bptree/bptree_test.go
  sdk/bptree/storage.go
  sdk/bptree/storage_config.go
  sdk/bptree/storage_test.go
  sdk/bptree/storage_transactional.go
  sdk/bptree/test_util.go
  sdk/bptree/tree_persistence_test.go
  sdk/bptree/validation.go
  sdk/bptree/validation_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers
