Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add feature flag for read replication and fix some forwarding bugs
  builtin/logical/kv/passthrough.go
  internalshared/configutil/config.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/ha.go
  vault/request_handling.go
  website/content/docs/configuration/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix nil-pointer during raft shutdown
  physical/raft/raft.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Support custom metrics paths
  http/metrics.go
  http/sys_metrics_test.go
  internalshared/configutil/listener.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/configuration/listener/unix.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog entry
  changelog/1853.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Refactor logical.CodedError to handle variable arguments
  sdk/logical/error.go
  vault/auth.go
  vault/logical_system.go
  vault/logical_system_rotate.go
  vault/mount.go
  vault/rekey.go
  vault/rotate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

also ignore staticcheck in command/agent_test.go
  command/agent_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix remaining ineffassign linter errors
  builtin/credential/approle/backend_test.go
  builtin/credential/approle/path_login_test.go
  builtin/credential/approle/path_role_test.go
  builtin/credential/cert/path_crls_test.go
  builtin/credential/jwt/path_cel_role.go
  builtin/credential/jwt/path_cel_role_test.go
  builtin/credential/kubernetes/path_config_test.go
  builtin/credential/kubernetes/path_login_test.go
  builtin/logical/database/credentials_test.go
  builtin/logical/database/secret_creds.go
  builtin/logical/kubernetes/integrationtest/helpers.go
  builtin/logical/kubernetes/integrationtest/integration_test.go
  builtin/logical/kv/path_data_test.go
  builtin/logical/kv/path_subkeys_test.go
  builtin/logical/openldap/path_static_roles_test.go
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/path_acme_test.go
  builtin/logical/pki/path_cel_test.go
  builtin/logical/pki/path_tidy_test.go
  builtin/logical/pkiext/nginx_test.go
  builtin/logical/pkiext/pkiext_binary/acme_test.go
  builtin/logical/ssh/path_roles.go
  command/agent/config/config_test.go
  command/agent_test.go
  vault/external_tests/api/renewer_integration_test.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers, @openbao/openbao-core-committers

refactor: Remove dependency on github.com/asaskevich/govalidator
  builtin/logical/pki/path_config_cluster.go
  builtin/logical/pki/path_config_urls.go
  go.mod
  go.sum
  internalshared/configutil/lint.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add changelog
  changelog/1868.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix lint
  builtin/logical/pki/path_config_cluster.go
Owners: @openbao/openbao-org-maintainers

Refactor logical.CodedError to handle variable arguments (#1866)
  sdk/logical/error.go
  vault/auth.go
  vault/logical_system.go
  vault/logical_system_rotate.go
  vault/mount.go
  vault/rekey.go
  vault/rotate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Refactor logical.CodedError to handle variable arguments (#1866)
  sdk/logical/error.go
  vault/auth.go
  vault/logical_system.go
  vault/logical_system_rotate.go
  vault/mount.go
  vault/rekey.go
  vault/rotate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

remove changelog
  changelog/1868.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Fix remaining ineffassign linter errors (#1775)
  builtin/credential/approle/backend_test.go
  builtin/credential/approle/path_login_test.go
  builtin/credential/approle/path_role_test.go
  builtin/credential/cert/path_crls_test.go
  builtin/credential/jwt/path_cel_role.go
  builtin/credential/jwt/path_cel_role_test.go
  builtin/credential/kubernetes/path_config_test.go
  builtin/credential/kubernetes/path_login_test.go
  builtin/logical/database/credentials_test.go
  builtin/logical/database/secret_creds.go
  builtin/logical/kubernetes/integrationtest/helpers.go
  builtin/logical/kubernetes/integrationtest/integration_test.go
  builtin/logical/kv/path_data_test.go
  builtin/logical/kv/path_subkeys_test.go
  builtin/logical/openldap/path_static_roles_test.go
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/path_acme_test.go
  builtin/logical/pki/path_cel_test.go
  builtin/logical/pki/path_tidy_test.go
  builtin/logical/pkiext/nginx_test.go
  builtin/logical/pkiext/pkiext_binary/acme_test.go
  builtin/logical/ssh/path_roles.go
  command/agent/config/config_test.go
  command/agent_test.go
  vault/external_tests/api/renewer_integration_test.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers, @openbao/openbao-core-committers

Fix remaining ineffassign linter errors (#1775)
  builtin/credential/approle/backend_test.go
  builtin/credential/approle/path_login_test.go
  builtin/credential/approle/path_role_test.go
  builtin/credential/cert/path_crls_test.go
  builtin/credential/jwt/path_cel_role.go
  builtin/credential/jwt/path_cel_role_test.go
  builtin/credential/kubernetes/path_config_test.go
  builtin/credential/kubernetes/path_login_test.go
  builtin/logical/database/credentials_test.go
  builtin/logical/database/secret_creds.go
  builtin/logical/kubernetes/integrationtest/helpers.go
  builtin/logical/kubernetes/integrationtest/integration_test.go
  builtin/logical/kv/path_data_test.go
  builtin/logical/kv/path_subkeys_test.go
  builtin/logical/openldap/path_static_roles_test.go
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/path_acme_test.go
  builtin/logical/pki/path_cel_test.go
  builtin/logical/pki/path_tidy_test.go
  builtin/logical/pkiext/nginx_test.go
  builtin/logical/pkiext/pkiext_binary/acme_test.go
  builtin/logical/ssh/path_roles.go
  command/agent/config/config_test.go
  command/agent_test.go
  vault/external_tests/api/renewer_integration_test.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers, @openbao/openbao-core-committers

Drop github.com/natefinch/atomic (#1795)
  command/token/helper_internal.go
  go.mod
  go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Drop github.com/natefinch/atomic (#1795)
  command/token/helper_internal.go
  go.mod
  go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update documentation
  builtin/logical/pki/path_roles.go
  website/content/api-docs/secret/pki.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Drop changelog
  changelog/1748.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Clean up structtomap package
  sdk/helper/structtomap/structtomap.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add CEL to sidebar
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add markdownlint to website
  .github/workflows/docs-ci.yml
  .github/workflows/docs-deploy.yml
  website/.markdownlint-cli2.jsonc
  website/Makefile
  website/package-lock.json
  website/package.json
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix some broken links
  website/content/api-docs/secret/pki.mdx
  website/content/blog/2024-09-23-kickoff.md
  website/content/blog/2024-10-27-transaction-details.md
  website/content/docs/agent-and-proxy/agent/index.mdx
  website/content/docs/agent-and-proxy/agent/process-supervisor.mdx
  website/content/docs/agent-and-proxy/agent/template.mdx
  website/content/docs/agent-and-proxy/index.mdx
  website/content/docs/agent-and-proxy/proxy/index.mdx
  website/content/docs/auth/jwt/oidc-providers/google.mdx
  website/content/docs/auth/kubernetes.mdx
  website/content/docs/concepts/cel.mdx
  website/content/docs/concepts/integrated-storage/index.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/service-registration/index.mdx
  website/content/docs/configuration/storage/raft.mdx
  website/content/docs/deprecation/faq.mdx
  website/content/docs/install.mdx
  website/content/docs/internals/integrated-storage.mdx
  website/content/docs/platform/k8s/csi/configurations.mdx
  website/content/docs/plugins/plugin-development.mdx
  website/content/docs/secrets/databases/custom.mdx
  website/content/docs/secrets/databases/index.mdx
  website/content/docs/secrets/databases/mysql-maria.mdx
  website/content/docs/secrets/pki/considerations.mdx
  website/content/docs/secrets/pki/rotation-primitives.mdx
  website/content/docs/secrets/pki/troubleshooting-acme.mdx
  website/content/docs/upgrading/plugins.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Fix typo in website/.markdownlint-cli2.jsonc
  website/.markdownlint-cli2.jsonc
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

changed: ptypesTimestampToString to format in rfc3339nano
  builtin/logical/kv/backend.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

changelog added
  changelog/1872.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Manually handle simple cases
  builtin/credential/cert/path_crls.go
  builtin/logical/rabbitmq/path_config_lease.go
Owners: @openbao/openbao-org-maintainers

Can we resolve conflicts?
  builtin/logical/ssh/util.go
Owners: @openbao/openbao-org-maintainers

Implement cache invalidation for mount table
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/mount.go
  vault/namespace_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

move router.Invalidate call to the end
  vault/core_cache_invalidate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

invalidate all mounts in a namespace
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

implement invalidation for mount tuning
  vault/core_cache_invalidate_test.go
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix handling of sys mount
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feat(OIDC-Provider): Add clientCredentialsFlow to Oidc Provider (#1732)
  changelog/1732.txt
  ui/app/models/oidc/client.js
  ui/app/models/oidc/provider.js
  vault/identity_store_oidc.go
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_provider_test.go
  website/content/api-docs/secret/identity/oidc-provider.mdx
  website/content/docs/concepts/oidc-provider.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

feat(OIDC-Provider): Add clientCredentialsFlow to Oidc Provider (#1732)
  changelog/1732.txt
  ui/app/models/oidc/client.js
  ui/app/models/oidc/provider.js
  vault/identity_store_oidc.go
  vault/identity_store_oidc_provider.go
  vault/identity_store_oidc_provider_test.go
  website/content/api-docs/secret/identity/oidc-provider.mdx
  website/content/docs/concepts/oidc-provider.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

KV engine returns timestamp strings in RFC3339Nano format (#1872)
  builtin/logical/kv/backend.go
  changelog/1872.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

KV engine returns timestamp strings in RFC3339Nano format (#1872)
  builtin/logical/kv/backend.go
  changelog/1872.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add markdownlint to website and fix some broken links (#1871)
  .github/workflows/docs-ci.yml
  .github/workflows/docs-deploy.yml
  website/.markdownlint-cli2.jsonc
  website/Makefile
  website/content/api-docs/secret/pki.mdx
  website/content/blog/2024-09-23-kickoff.md
  website/content/blog/2024-10-27-transaction-details.md
  website/content/docs/agent-and-proxy/agent/index.mdx
  website/content/docs/agent-and-proxy/agent/process-supervisor.mdx
  website/content/docs/agent-and-proxy/agent/template.mdx
  website/content/docs/agent-and-proxy/index.mdx
  website/content/docs/agent-and-proxy/proxy/index.mdx
  website/content/docs/auth/jwt/oidc-providers/google.mdx
  website/content/docs/auth/kubernetes.mdx
  website/content/docs/concepts/cel.mdx
  website/content/docs/concepts/integrated-storage/index.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/service-registration/index.mdx
  website/content/docs/configuration/storage/raft.mdx
  website/content/docs/deprecation/faq.mdx
  website/content/docs/install.mdx
  website/content/docs/internals/integrated-storage.mdx
  website/content/docs/platform/k8s/csi/configurations.mdx
  website/content/docs/plugins/plugin-development.mdx
  website/content/docs/secrets/databases/custom.mdx
  website/content/docs/secrets/databases/index.mdx
  website/content/docs/secrets/databases/mysql-maria.mdx
  website/content/docs/secrets/pki/considerations.mdx
  website/content/docs/secrets/pki/rotation-primitives.mdx
  website/content/docs/secrets/pki/troubleshooting-acme.mdx
  website/content/docs/upgrading/plugins.mdx
  website/package-lock.json
  website/package.json
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add markdownlint to website and fix some broken links (#1871)
  .github/workflows/docs-ci.yml
  .github/workflows/docs-deploy.yml
  website/.markdownlint-cli2.jsonc
  website/Makefile
  website/content/api-docs/secret/pki.mdx
  website/content/blog/2024-09-23-kickoff.md
  website/content/blog/2024-10-27-transaction-details.md
  website/content/docs/agent-and-proxy/agent/index.mdx
  website/content/docs/agent-and-proxy/agent/process-supervisor.mdx
  website/content/docs/agent-and-proxy/agent/template.mdx
  website/content/docs/agent-and-proxy/index.mdx
  website/content/docs/agent-and-proxy/proxy/index.mdx
  website/content/docs/auth/jwt/oidc-providers/google.mdx
  website/content/docs/auth/kubernetes.mdx
  website/content/docs/concepts/cel.mdx
  website/content/docs/concepts/integrated-storage/index.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/service-registration/index.mdx
  website/content/docs/configuration/storage/raft.mdx
  website/content/docs/deprecation/faq.mdx
  website/content/docs/install.mdx
  website/content/docs/internals/integrated-storage.mdx
  website/content/docs/platform/k8s/csi/configurations.mdx
  website/content/docs/plugins/plugin-development.mdx
  website/content/docs/secrets/databases/custom.mdx
  website/content/docs/secrets/databases/index.mdx
  website/content/docs/secrets/databases/mysql-maria.mdx
  website/content/docs/secrets/pki/considerations.mdx
  website/content/docs/secrets/pki/rotation-primitives.mdx
  website/content/docs/secrets/pki/troubleshooting-acme.mdx
  website/content/docs/upgrading/plugins.mdx
  website/package-lock.json
  website/package.json
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

refactor: Remove dependency on github.com/asaskevich/govalidator (#1868)
  builtin/logical/pki/path_config_cluster.go
  builtin/logical/pki/path_config_urls.go
  go.mod
  go.sum
  internalshared/configutil/lint.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
