Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers

fix test-go workflow: download-artifact downloads artifacts from all workflows (#1978)
  .github/workflows/test-go.yml
Owners: @openbao/openbao-org-maintainers

fix test-go workflow: download-artifact downloads artifacts from all workflows (#1978)
  .github/workflows/test-go.yml
Owners: @openbao/openbao-org-maintainers

Pin all GitHub actions
  .github/workflows/codeql.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/go-dependency-submission.yml
  .github/workflows/mirror.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/verify-commits.yml
Owners: @openbao/openbao-org-maintainers

Remove legacy scripts/update_deps.sh
  builtin/logical/kv/scripts/update_deps.sh
  scripts/update_deps.sh
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Pin website node:lts Dockerfile base image
  website/Dockerfile
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog entry
  changelog/1990.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Enable transactional namespace creation
  vault/namespace_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Keep old canaries for better errors
  sdk/helper/compressutil/compress.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove any usage of LZ4 and LZW compression (#1985)
  go.mod
  go.sum
  helper/forwarding/util.go
  helper/forwarding/util_test.go
  sdk/go.mod
  sdk/go.sum
  sdk/helper/compressutil/compress.go
  sdk/helper/compressutil/compress_test.go
  vault/auth.go
  vault/logical_raw.go
  vault/logical_system_test.go
  vault/mount.go
  website/content/api-docs/system/raw.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove any usage of LZ4 and LZW compression (#1985)
  go.mod
  go.sum
  helper/forwarding/util.go
  helper/forwarding/util_test.go
  sdk/go.mod
  sdk/go.sum
  sdk/helper/compressutil/compress.go
  sdk/helper/compressutil/compress_test.go
  vault/auth.go
  vault/logical_raw.go
  vault/logical_system_test.go
  vault/mount.go
  website/content/api-docs/system/raw.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Pin many package verisons to hashes (#1991)
  .github/workflows/codeql.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/go-dependency-submission.yml
  .github/workflows/mirror.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/verify-commits.yml
  builtin/logical/kv/scripts/update_deps.sh
  scripts/update_deps.sh
  website/Dockerfile
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Pin many package verisons to hashes (#1991)
  .github/workflows/codeql.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/go-dependency-submission.yml
  .github/workflows/mirror.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/verify-commits.yml
  builtin/logical/kv/scripts/update_deps.sh
  scripts/update_deps.sh
  website/Dockerfile
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Consistently apply errNoMatchingMount
  vault/auth.go
  vault/namespace_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Support BAO_NAMESPACE=root (#1918)
  changelog/1918.txt
  helper/namespace/namespace.go
  helper/namespace/namespace_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add check that builds bao with the go on el8 (#1937)
  .github/workflows/code-checker.yml
Owners: @openbao/openbao-org-maintainers

fix: False “existing mount” conflict when mounting a backend at a path equal to the current namespace name. (#1958)
  changelog/1958.txt
  vault/router.go
  vault/router_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix(core/namespaces): only return namespaces which the provided token has access to (#1982)
  changelog/1982.txt
  vault/logical_system.go
  vault/logical_system_helpers.go
  vault/logical_system_paths.go
  website/content/api-docs/system/internal-ui-namespaces.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Support BAO_NAMESPACE=root (#1918) (#1993)
  changelog/1918.txt
  helper/namespace/namespace.go
  helper/namespace/namespace_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix: False “existing mount” conflict when mounting a backend at a path equal to the current namespace name. (#1958) (#1995)
  changelog/1958.txt
  vault/router.go
  vault/router_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add check that builds bao with the go on el8 (#1937) (#1994)
  .github/workflows/code-checker.yml
Owners: @openbao/openbao-org-maintainers

fix(core/namespaces): only return namespaces which the provided token has access to (#1982) (#1996)
  changelog/1982.txt
  vault/logical_system.go
  vault/logical_system_helpers.go
  vault/logical_system_paths.go
  website/content/api-docs/system/internal-ui-namespaces.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Forward failed mount table creations on standbys
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove noisy log line about forwarding
  http/handler.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Ensure horizontal scalability appears in logs
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Report PerfStandby on read-enabled standby nodes
  vault/core.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add cache invalidation for keyrings
  vault/core.go
  vault/core_cache_invalidate.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Allow forwarding on Raft errors
  physical/raft/raft.go
  physical/raft/raft_test.go
  sdk/logical/error.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Skip fields tagged as "-"
  sdk/helper/structtomap/structtomap.go
  sdk/helper/structtomap/structtomap_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Bump to latest Go toolchain
  .go-version
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Run make bump-critical
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/jwt/go.mod
  api/auth/jwt/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  tools/go.mod
  tools/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Bump to Go 1.24.9 for release
  .go-version
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Run make bump-critical on release branch
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Bump critical dependencies before release (main) (#1997)
  .go-version
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/jwt/go.mod
  api/auth/jwt/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  tools/go.mod
  tools/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Bump critical dependencies before release (main) (#1997)
  .go-version
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/jwt/go.mod
  api/auth/jwt/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  tools/go.mod
  tools/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Add license checks to Syft on release
  .github/workflows/release.yml
Owners: @openbao/openbao-org-maintainers

Run make bump-critical for 2.4.2; Go 1.24.9 (#1998)
  .go-version
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Enable transactional namespace creation (#1990)
  changelog/1990.txt
  vault/auth.go
  vault/namespace_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Enable transactional namespace creation (#1990)
  changelog/1990.txt
  vault/auth.go
  vault/namespace_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Correct links to agendas
  website/content/docs/contributing/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Correct links to agendas (#2000)
  website/content/docs/contributing/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers
