Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers

linter
  vault/external_tests/postgresql_binary/postgresql_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update PKCS#11 seal docs
  website/content/docs/configuration/seal/pkcs11.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

linter
  vault/external_tests/postgresql_binary/postgresql_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog entry
  changelog/1571.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add PostgreSQL storage backend for container tests
  sdk/helper/testcluster/docker/environment.go
  sdk/helper/testhelpers/postgresql/postgresqlhelper.go
  vault/external_tests/postgresql_binary/postgresql_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement fencing in PostgreSQL backend
  physical/postgresql/postgresql.go
  physical/postgresql/testing.go
  physical/postgresql/transaction.go
  sdk/physical/physical.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

rework cache invalidation error handling
  vault/audit.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/ha.go
  vault/namespace_store.go
  vault/policy_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Handle empty join plugin config
  physical/raft/raft.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Log plugin cleanup errors
  vault/raft.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog
  changelog/1556.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

WIP: First implementation of join plugin
  Makefile
  physical/raft/raft.go
  plugins/join/discover/discover-join-plugin/main.go
  plugins/join/discover/discover.go
  sdk/helper/consts/plugin_types.go
  sdk/joinplugin/join.go
  sdk/joinplugin/pb/join.pb.go
  sdk/joinplugin/pb/join.proto
  sdk/joinplugin/pb/join_grpc.pb.go
  sdk/joinplugin/plugin.go
  sdk/joinplugin/serve.go
  vault/raft.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add some config parsing tests
  physical/raft/raft.go
  physical/raft/raft_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix some ineffassign warnings (#1611)
  builtin/credential/kubernetes/backend.go
  builtin/credential/kubernetes/path_config.go
  builtin/credential/kubernetes/path_config_test.go
  builtin/credential/kubernetes/path_login_test.go
  builtin/logical/database/credentials.go
  builtin/logical/database/secret_creds.go
  changelog/1611.txt
  sdk/helper/certutil/helpers.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-k8s-committers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers

Run make tidy-all
  sdk/go.mod
  sdk/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Allow physical backends to track leadership
  physical/postgresql/invalidation.go
  physical/postgresql/postgresql.go
  sdk/physical/physical.go
  vault/core_util.go
  vault/ha.go
  vault/init.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Humble attempt to fix tests
  vault/generate_root.go
  vault/logical_system_namespaces_generate_root.go
  vault/logical_system_namespaces_seals.go
  vault/logical_system_namespaces_seals_test.go
  vault/seal_manager.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Expand test case to be parallel
  physical/postgresql/postgresql_test.go
  vault/external_tests/postgresql_binary/postgresql_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove dependency on mikesmitty/edkey
  builtin/logical/ssh/path_config_ca.go
  go.mod
  go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Upgrade go-retryablehttp, make use of new function
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/client.go
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Remove dependence on github.com/pkg/errors
  command/base.go
  command/base_helpers.go
  command/operator_migrate.go
  command/server.go
  command/ssh.go
  go.mod
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Adjust PR to simplify handling
  changelog/1529.txt
  sdk/helper/consts/consts.go
  sdk/logical/response_util.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix golangci-lint lint errs
  http/sys_seal_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Check Standby can handle read locally
  http/forwarding_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add unseal standby test
  http/sys_seal_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

handle read req locally
  http/handler.go
  http/logical.go
  physical/raft/raft.go
  vault/core.go
  vault/request_handling.go
  vault/token_store.go
  vault/wrapping.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

remove redundant error reframe
  physical/raft/raft.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

make sync-deps
  sdk/go.mod
  sdk/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix format string errors and some warnings
  sdk/database/dbplugin/v5/grpc_server.go
  sdk/helper/certutil/certutil_test.go
  sdk/helper/certutil/helpers.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Bump goid for Go 1.25 compatibility
  go.mod
  go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

feat: add initial security-insights.yml version
  .github/security-insights.yml
Owners: @openbao/openbao-org-maintainers

Add changelog entry
  changelog/1690.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

nolint:nilnil sdk/physical/physical_view.go
  sdk/physical/physical_view.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Bump goid for Go 1.25 compatibility (#1691)
  go.mod
  go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove dependency on mikesmitty/edkey
  builtin/logical/ssh/path_config_ca.go
  go.mod
  go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Upgrade go-retryablehttp, make use of new function
  api/auth/approle/go.mod
  api/auth/approle/go.sum
  api/auth/kubernetes/go.mod
  api/auth/kubernetes/go.sum
  api/auth/ldap/go.mod
  api/auth/ldap/go.sum
  api/auth/userpass/go.mod
  api/auth/userpass/go.sum
  api/client.go
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-k8s-committers

Remove dependence on github.com/pkg/errors
  command/base.go
  command/base_helpers.go
  command/operator_migrate.go
  command/server.go
  command/ssh.go
  go.mod
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update vault/request_handling.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update vault/request_handling.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

add support for inline kerberos auth (#1529)
  sdk/helper/consts/consts.go
  sdk/logical/response_util.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Fix bug in tidy leading to infinite loop
  builtin/logical/pki/path_tidy.go
  sdk/logical/storage.go
  sdk/logical/storage_test.go
  vault/namespace_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers
