Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers

Bump go-msgpack & raft-boltdb (#1850)
  go.mod
  go.sum
  helper/stubbolt/go.mod
  helper/stubbolt/stubbolt.go
  physical/raft/msgpack.go
  physical/raft/raft.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Bump go-msgpack & raft-boltdb (#1850)
  go.mod
  go.sum
  helper/stubbolt/go.mod
  helper/stubbolt/stubbolt.go
  physical/raft/msgpack.go
  physical/raft/raft.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add changelog entry
  changelog/1854.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Improve ergonomics of CEL helpers
  builtin/credential/jwt/path_cel_login.go
  builtin/credential/jwt/path_cel_login_test.go
  builtin/credential/jwt/path_cel_role.go
  builtin/credential/jwt/path_cel_role_test.go
  builtin/logical/pki/path_cel.go
  builtin/logical/pki/path_cel_test.go
  builtin/logical/pki/path_issue_sign.go
  sdk/helper/cel/helpers.go
  sdk/helper/cel/helpers_test.go
  sdk/helper/cel/program.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers

Delete changelog/1848.txt
  changelog/1848.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Update loadExistingTree no properly fail if config does not exist
  sdk/bptree/bptree.go
  sdk/bptree/context.go
  sdk/bptree/storage_test.go
  sdk/bptree/tree_persistence_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Cleanup InitializeTree function
  sdk/bptree/bptree.go
  sdk/bptree/tree_persistence_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove unecessary function to set the tree ID in the context
  sdk/bptree/bptree.go
  sdk/bptree/bptree_config.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove tree getRootID and setRootID methods
  sdk/bptree/bptree.go
  sdk/bptree/node.go
  sdk/bptree/tree_persistence_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Node options pattern for initial values
  sdk/bptree/bptree.go
  sdk/bptree/integration_test.go
  sdk/bptree/node.go
  sdk/bptree/node_test.go
  sdk/bptree/storage_buffering_test.go
  sdk/bptree/storage_test.go
  sdk/bptree/storage_transactional_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

website: fix warning/note/danger indentations
  website/content/api-docs/secret/pki.mdx
  website/content/api-docs/secret/ssh.mdx
  website/content/api-docs/secret/transit.mdx
  website/content/api-docs/system/auth.mdx
  website/content/api-docs/system/mounts.mdx
  website/content/api-docs/system/storage/raft.mdx
  website/content/api-docs/system/tools.mdx
  website/content/docs/agent-and-proxy/agent/index.mdx
  website/content/docs/agent-and-proxy/proxy/index.mdx
  website/content/docs/audit/file.mdx
  website/content/docs/audit/index.mdx
  website/content/docs/auth/approle.mdx
  website/content/docs/auth/jwt/oidc-providers/kubernetes.mdx
  website/content/docs/auth/kubernetes.mdx
  website/content/docs/auth/ldap.mdx
  website/content/docs/auth/login-mfa/faq.mdx
  website/content/docs/commands/operator/raft.mdx
  website/content/docs/commands/pki/reissue.mdx
  website/content/docs/commands/secrets/enable.mdx
  website/content/docs/concepts/policies.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/configuration/listener/unix.mdx
  website/content/docs/configuration/seal/pkcs11.mdx
  website/content/docs/platform/k8s/injector/annotations.mdx
  website/content/docs/secrets/databases/index.mdx
  website/content/docs/secrets/index.mdx
  website/content/docs/secrets/kubernetes.mdx
  website/content/docs/secrets/transit/index.mdx
  website/content/docs/upgrading/ha-upgrade.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Fix wrong indentation in transit/index.mdx
  website/content/docs/secrets/transit/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

website: fix warning/note/danger indentations (#1851)
  website/content/api-docs/secret/pki.mdx
  website/content/api-docs/secret/ssh.mdx
  website/content/api-docs/secret/transit.mdx
  website/content/api-docs/system/auth.mdx
  website/content/api-docs/system/mounts.mdx
  website/content/api-docs/system/storage/raft.mdx
  website/content/api-docs/system/tools.mdx
  website/content/docs/agent-and-proxy/agent/index.mdx
  website/content/docs/agent-and-proxy/proxy/index.mdx
  website/content/docs/audit/file.mdx
  website/content/docs/audit/index.mdx
  website/content/docs/auth/approle.mdx
  website/content/docs/auth/jwt/oidc-providers/kubernetes.mdx
  website/content/docs/auth/kubernetes.mdx
  website/content/docs/auth/ldap.mdx
  website/content/docs/auth/login-mfa/faq.mdx
  website/content/docs/commands/operator/raft.mdx
  website/content/docs/commands/pki/reissue.mdx
  website/content/docs/commands/secrets/enable.mdx
  website/content/docs/concepts/policies.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/configuration/listener/unix.mdx
  website/content/docs/configuration/seal/pkcs11.mdx
  website/content/docs/platform/k8s/injector/annotations.mdx
  website/content/docs/secrets/databases/index.mdx
  website/content/docs/secrets/index.mdx
  website/content/docs/secrets/kubernetes.mdx
  website/content/docs/secrets/transit/index.mdx
  website/content/docs/upgrading/ha-upgrade.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

website: fix warning/note/danger indentations (#1851)
  website/content/api-docs/secret/pki.mdx
  website/content/api-docs/secret/ssh.mdx
  website/content/api-docs/secret/transit.mdx
  website/content/api-docs/system/auth.mdx
  website/content/api-docs/system/mounts.mdx
  website/content/api-docs/system/storage/raft.mdx
  website/content/api-docs/system/tools.mdx
  website/content/docs/agent-and-proxy/agent/index.mdx
  website/content/docs/agent-and-proxy/proxy/index.mdx
  website/content/docs/audit/file.mdx
  website/content/docs/audit/index.mdx
  website/content/docs/auth/approle.mdx
  website/content/docs/auth/jwt/oidc-providers/kubernetes.mdx
  website/content/docs/auth/kubernetes.mdx
  website/content/docs/auth/ldap.mdx
  website/content/docs/auth/login-mfa/faq.mdx
  website/content/docs/commands/operator/raft.mdx
  website/content/docs/commands/pki/reissue.mdx
  website/content/docs/commands/secrets/enable.mdx
  website/content/docs/concepts/policies.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/configuration/listener/unix.mdx
  website/content/docs/configuration/seal/pkcs11.mdx
  website/content/docs/platform/k8s/injector/annotations.mdx
  website/content/docs/secrets/databases/index.mdx
  website/content/docs/secrets/index.mdx
  website/content/docs/secrets/kubernetes.mdx
  website/content/docs/secrets/transit/index.mdx
  website/content/docs/upgrading/ha-upgrade.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Remove superfluous & confusing FAQ section
  website/content/docs/faq/index.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

disallow minor and major version updates, allow patch updates with minimum package age > 7 days. Cusomize rules for Website updates.
  .github/dependabot.yml
Owners: @openbao/openbao-org-maintainers

Remove superfluous & confusing FAQ section (#1860)
  website/content/docs/faq/index.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove superfluous & confusing FAQ section (#1860)
  website/content/docs/faq/index.mdx
  website/sidebars.ts
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Update documentation and add changelog entry
  changelog/1833.txt
  website/content/api-docs/secret/pki.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Improve styling and description
  builtin/logical/pki/cert_util.go
  builtin/logical/pki/path_roles.go
Owners: @openbao/openbao-org-maintainers

PKI: Add `allowed_ip_sans_cidr` to roles
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/cert_util.go
  builtin/logical/pki/path_roles.go
Owners: @openbao/openbao-org-maintainers

Remove whitespace
  builtin/logical/pki/cert_util.go
Owners: @openbao/openbao-org-maintainers

Update vault/audit.go
  vault/audit.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Adjust audit device creation on active node only (#1844)
  vault/audit.go
  vault/core.go
  vault/core_cache_invalidate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Refactor http body handling for forwarding
  helper/buffer/buffer.go
  helper/forwarding/util.go
  http/handler.go
  http/handler_test.go
  http/json.go
  http/json_test.go
  http/logical.go
  http/logical_test.go
  http/sys_generate_root.go
  http/sys_init.go
  http/sys_raft.go
  http/sys_rekey.go
  http/sys_seal.go
  http/util.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Ensure standbys stop on shutdown
  vault/core.go
  vault/ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Switch c.standby to atomic
  vault/audit.go
  vault/core.go
  vault/dynamic_system_view.go
  vault/generate_root.go
  vault/ha.go
  vault/rekey.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Read replication: fix body cloning and runStandby race (#1847)
  helper/buffer/buffer.go
  helper/forwarding/util.go
  http/handler.go
  http/handler_test.go
  http/json.go
  http/json_test.go
  http/logical.go
  http/logical_test.go
  http/sys_generate_root.go
  http/sys_init.go
  http/sys_raft.go
  http/sys_rekey.go
  http/sys_seal.go
  http/util.go
  vault/audit.go
  vault/core.go
  vault/dynamic_system_view.go
  vault/generate_root.go
  vault/ha.go
  vault/rekey.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Adjust audit device creation on active node only (#1844)
  vault/audit.go
  vault/core.go
  vault/core_cache_invalidate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

improve cache invalidation tests (#1598)
  vault/core_cache_invalidate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Unseal standby nodes (#1592)
  vault/core.go
  vault/external_tests/sealmigration/testshared.go
  vault/ha.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for plugins (#1564)
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/router.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Read replication: fix body cloning and runStandby race (#1847)
  helper/buffer/buffer.go
  helper/forwarding/util.go
  http/handler.go
  http/handler_test.go
  http/json.go
  http/json_test.go
  http/logical.go
  http/logical_test.go
  http/sys_generate_root.go
  http/sys_init.go
  http/sys_raft.go
  http/sys_rekey.go
  http/sys_seal.go
  http/util.go
  vault/audit.go
  vault/core.go
  vault/dynamic_system_view.go
  vault/generate_root.go
  vault/ha.go
  vault/rekey.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement change notification for raft storage backend (#1552)
  physical/raft/fsm.go
  physical/raft/fsm_test.go
  physical/raft/raft.go
  sdk/physical/physical.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for physical.Cache (#1566)
  sdk/physical/cache.go
  sdk/physical/inmem/cache_test.go
  sdk/physical/physical.go
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for quotas (#1584)
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Handle read requests locally on standby nodes (#1674)
  http/forwarding_test.go
  http/handler.go
  http/handler_test.go
  http/logical.go
  http/logical_test.go
  http/sys_hostinfo_test.go
  http/sys_seal_test.go
  physical/raft/raft.go
  sdk/logical/error.go
  vault/core.go
  vault/core_test.go
  vault/dynamic_system_view.go
  vault/ha.go
  vault/logical_system_paths.go
  vault/request_handling.go
  vault/testing.go
  vault/token_store.go
  vault/wrapping.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for audits (#1596)
  vault/audit.go
  vault/audit_broker.go
  vault/audit_test.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/mount.go
  vault/mount_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for namespaces and policies (#1551)
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/policy_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

rework cache invalidation error handling (#1682)
  vault/audit.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/ha.go
  vault/ha_test.go
  vault/namespace_store.go
  vault/policy_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers
