Repository openbao/openbao, changes with the owners that CODEOWNERS names for each.
All owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Fix false positive namespace conflict
  vault/router.go
  vault/router_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

use empty struct instead of empty string
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix(core/namespaces): only return namespaces where the token has access
  changelog/1982.txt
  vault/logical_system_helpers.go
  website/content/api-docs/system/internal-ui-namespaces.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

chore: add feedback from Wojciech
  changelog/1982.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

chore(logical_system): move pathInternalUINamespacesRead into it's own function within
  vault/logical_system.go
  vault/logical_system_helpers.go
  vault/logical_system_paths.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Improve ergonomics of CEL helpers
  builtin/credential/jwt/path_cel_login.go
  builtin/credential/jwt/path_cel_login_test.go
  builtin/credential/jwt/path_cel_role.go
  builtin/credential/jwt/path_cel_role_test.go
  builtin/logical/pki/path_cel.go
  builtin/logical/pki/path_cel_test.go
  builtin/logical/pki/path_issue_sign.go
  sdk/helper/cel/helpers.go
  sdk/helper/cel/helpers_test.go
  sdk/helper/cel/program.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-core-committers

Add changelog entry
  changelog/1854.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix deadlock caused by inmemha invalidate
  sdk/physical/inmem/inmem_ha.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Remove any usage of LZ4 and LZW compression
  go.mod
  go.sum
  helper/forwarding/util.go
  helper/forwarding/util_test.go
  sdk/go.mod
  sdk/go.sum
  sdk/helper/compressutil/compress.go
  sdk/helper/compressutil/compress_test.go
  vault/auth.go
  vault/logical_raw.go
  vault/mount.go
  website/content/api-docs/system/raw.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

UUID slander
  vault/logical_system_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for mount tables (#1733)
  vault/auth.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/ha.go
  vault/mount.go
  vault/namespace_store.go
  vault/router.go
  vault/seal_autoseal_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

read replication: fix some tests (#1950)
  http/forwarding_test.go
  http/logical.go
  sdk/physical/inmem/inmem_ha.go
  vault/core_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

fix: check acl on absolute path
  vault/logical_system.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement change notification for raft storage backend (#1552)
  physical/raft/fsm.go
  physical/raft/fsm_test.go
  physical/raft/raft.go
  sdk/physical/physical.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for namespaces and policies (#1551)
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/policy_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for quotas (#1584)
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Unseal standby nodes (#1592)
  vault/core.go
  vault/external_tests/sealmigration/testshared.go
  vault/ha.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

improve cache invalidation tests (#1598)
  vault/core_cache_invalidate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for audits (#1596)
  vault/audit.go
  vault/audit_broker.go
  vault/audit_test.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/mount.go
  vault/mount_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for physical.Cache (#1566)
  sdk/physical/cache.go
  sdk/physical/inmem/cache_test.go
  sdk/physical/physical.go
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for plugins (#1564)
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/router.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Handle read requests locally on standby nodes (#1674)
  http/forwarding_test.go
  http/handler.go
  http/handler_test.go
  http/logical.go
  http/logical_test.go
  http/sys_hostinfo_test.go
  http/sys_seal_test.go
  physical/raft/raft.go
  sdk/logical/error.go
  vault/core.go
  vault/core_test.go
  vault/dynamic_system_view.go
  vault/ha.go
  vault/logical_system_paths.go
  vault/request_handling.go
  vault/testing.go
  vault/token_store.go
  vault/wrapping.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

rework cache invalidation error handling (#1682)
  vault/audit.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/ha.go
  vault/ha_test.go
  vault/namespace_store.go
  vault/policy_store.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Read replication: fix body cloning and runStandby race (#1847)
  helper/buffer/buffer.go
  helper/forwarding/util.go
  http/handler.go
  http/handler_test.go
  http/json.go
  http/json_test.go
  http/logical.go
  http/logical_test.go
  http/sys_generate_root.go
  http/sys_init.go
  http/sys_raft.go
  http/sys_rekey.go
  http/sys_seal.go
  http/util.go
  vault/audit.go
  vault/core.go
  vault/dynamic_system_view.go
  vault/generate_root.go
  vault/ha.go
  vault/rekey.go
  vault/request_handling.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Adjust audit device creation on active node only (#1844)
  vault/audit.go
  vault/core.go
  vault/core_cache_invalidate_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add feature flag for read replication and fix some forwarding bugs (#1849)
  builtin/logical/kv/passthrough.go
  http/logical.go
  internalshared/configutil/config.go
  physical/raft/raft.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/ha.go
  vault/request_handling.go
  website/content/docs/configuration/index.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Read replication read only error detection (#1897)
  http/handler.go
  http/help.go
  sdk/logical/error.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

read replication: fix some tests (#1950)
  http/forwarding_test.go
  http/logical.go
  sdk/physical/inmem/inmem_ha.go
  vault/core_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

docs: add warning to mount and auth move (#1907)
  website/content/api-docs/system/remount.mdx
  website/content/docs/commands/auth/move.mdx
  website/content/docs/commands/secrets/move.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Implement cache invalidation for mount tables (#1733)
  vault/auth.go
  vault/core.go
  vault/core_cache_invalidate.go
  vault/core_cache_invalidate_test.go
  vault/ha.go
  vault/mount.go
  vault/namespace_store.go
  vault/router.go
  vault/seal_autoseal_test.go
  vault/testing.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Skip legacy mount invalidation with transactions
  vault/mount.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Apply changelog suggestion from @cipherboy
  changelog/1982.txt
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix(valkey): Correctly parse creation_statements as a string array (#1959)
  changelog/1959.txt
  plugins/database/valkey/valkey.go
  plugins/database/valkey/valkey_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix(valkey): Correctly parse creation_statements as a string array (#1959)
  changelog/1959.txt
  plugins/database/valkey/valkey.go
  plugins/database/valkey/valkey_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix(core/namespaces): only return namespaces which the provided token has access to (#1982)
  changelog/1982.txt
  vault/logical_system.go
  vault/logical_system_helpers.go
  vault/logical_system_paths.go
  website/content/api-docs/system/internal-ui-namespaces.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix(core/namespaces): only return namespaces which the provided token has access to (#1982)
  changelog/1982.txt
  vault/logical_system.go
  vault/logical_system_helpers.go
  vault/logical_system_paths.go
  website/content/api-docs/system/internal-ui-namespaces.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix: False “existing mount” conflict when mounting a backend at a path equal to the current namespace name. (#1958)
  changelog/1958.txt
  vault/router.go
  vault/router_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

fix: False “existing mount” conflict when mounting a backend at a path equal to the current namespace name. (#1958)
  changelog/1958.txt
  vault/router.go
  vault/router_test.go
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers, @openbao/openbao-auth-jwt-committers, @openbao/openbao-k8s-committers

Add tlsdebug build tag to log TLS session keys (#1920)
  Makefile
  helper/tlsdebug/dummy_inject.go
  helper/tlsdebug/inject.go
  physical/raft/raft.go
  vault/cluster/cluster.go
  website/content/docs/contributing/packaging.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

Add tlsdebug build tag to log TLS session keys (#1920)
  Makefile
  helper/tlsdebug/dummy_inject.go
  helper/tlsdebug/inject.go
  physical/raft/raft.go
  vault/cluster/cluster.go
  website/content/docs/contributing/packaging.mdx
Owners: @openbao/openbao-org-maintainers, @openbao/openbao-core-committers

CODEOWNERS:

# OpenBao CODEOWNERS file

# Everything
* @openbao/openbao-org-maintainers

# Anyone can modify changelog entries
changelog/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers @openbao/openbao-k8s-committers

# Core team ownership
api/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
audit/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
builtin/logical/kv/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
CHANGELOG.md @openbao/openbao-org-maintainers @openbao/openbao-core-committers
command/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
.go-version @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.mod @openbao/openbao-org-maintainers @openbao/openbao-core-committers
go.sum @openbao/openbao-org-maintainers @openbao/openbao-core-committers
helper/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
http/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
internalshared/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
Makefile @openbao/openbao-org-maintainers @openbao/openbao-core-committers
physical/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
sdk/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
vault/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers
website/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers

# Kubernetes team ownership
api/auth/kubernetes @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
command/agentproxyshared/auth/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/credential/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
builtin/logical/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
serviceregistration/kubernetes/ @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes* @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
ui/**/*kubernetes*/** @openbao/openbao-org-maintainers @openbao/openbao-k8s-committers
website/content/docs/platform/k8s/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers
website/content/partials/helm/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-k8s-committers

# JWT Auth Plugin
builtin/credential/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
command/agentproxyshared/auth/jwt @openbao/openbao-org-maintainers @openbao/openbao-auth-jwt-committers
website/content/docs/auth/jwt/ @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/api-docs/auth/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
website/content/docs/agent-and-proxy/autoauth/methods/jwt.mdx @openbao/openbao-org-maintainers @openbao/openbao-core-committers @openbao/openbao-auth-jwt-committers
